html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle;
  outline: none; }

input::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

@font-face {
  font-family: 'Roboto-light';
  src: url('../../fonts/Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-thin';
  src: url('../../fonts/Roboto-Thin.ttf');
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%;
  font-size: 18px;
  font-family: 'Roboto-light', sans-serif; }
  html *, body * {
    color: #17243F;
    line-height: 24px;
    letter-spacing: .38px; }

input, textarea, button {
  outline: none; }

svg, object {
  pointer-events: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.page__wrapper {
  min-width: 1224px;
  position: relative;
  margin: 0 auto;
  overflow: hidden; }

.container {
  min-height: 100%;
  margin: 0 auto;
  padding: 60px 10px 0;
  width: 1440px;
  position: relative; }

.scale .container {
  padding: 0 10px;
  width: 1280px; }

.text-white {
  color: #FFF; }

.text-thin {
  font-family: 'Roboto-thin', sans-serif; }

.text-blue {
  color: #438EB4; }

.text-heaven {
  color: #FFFFFE; }

.text-caps {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-gray {
  color: #C6C8C9; }

.text-big {
  font-size: 24px;
  letter-spacing: .5px; }

.header {
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 50px; }

.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 224px;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  border: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }
  .btn--small {
    width: 101px; }
  .btn--x_small {
    width: 40px; }
  .btn--fb {
    float: left;
    margin-right: 40px;
    margin-left: 40px;
    background: url(../../img/i__fb.svg) center no-repeat #438EB4; }
  .btn--vk {
    float: left;
    background: url(../../img/i__vk.svg) center no-repeat #438EB4;
    -webkit-background-size: 20px;
    -o-background-size: 20px;
    background-size: 20px; }

.main_screen {
  background: url(../../img/bg__city.jpg) center no-repeat #4c647a;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  min-width: 1440px;
  height: 100vh;
  overflow: hidden; }

.scale .main_screen {
  min-width: 1224px; }

.scale .main_screen__info_wrapper {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left; }

.main_screen__logo {
  width: initial; }

.main_screen__synopsys {
  font-size: 36px;
  letter-spacing: .75px;
  margin-top: 40px;
  margin-bottom: 35px; 
  line-height: 0.95em;
}

.main_screen__text {
  width: 650px;
  margin-bottom: 35px; }

#go_down_arrow__circle {
  -webkit-transition: .4s ease all;
  -moz-transition: .4s ease all;
  -ms-transition: .4s ease all;
  -o-transition: .4s ease all;
  transition: .4s ease all; }

.main_screen__go_down_arrow__wrapper {
  position: absolute;
  bottom: 45px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center; }

.scale .main_screen__go_down_arrow__wrapper {
  bottom: 0px; }

.scale .main_screen__go_down_arrow {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center; }

.main_screen__go_down_arrow {
  width: initial;
  pointer-events: initial;
  cursor: pointer;
  -webkit-transition: .2s ease all;
  -moz-transition: .2s ease all;
  -ms-transition: .2s ease all;
  -o-transition: .2s ease all;
  transition: .2s ease all; }
  .main_screen__go_down_arrow:hover #go_down_arrow__circle {
    fill: none;
    filter: none; }
  .main_screen__go_down_arrow .colorize_go_down_arrow {
    stroke: #FFFFFE; }

.main_screen__go_down_arrow--colorized {
  display: none; }

.project {
  padding-bottom: 42px; }
  .project:before, .project:after {
    content: "";
    display: table; }
  .project:after {
    clear: both; }
  .project {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }

.scale .project {
  padding-bottom: 0; }

.scale .project .container, .scale .benefits .container, .scale .feedbacks .container, .scale .map .container, .scale .form .container, .scale .articles .container, .scale footer .container {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center; }
  @media (max-width: 1276px) {
    .scale .project .container, .scale .benefits .container, .scale .feedbacks .container, .scale .map .container, .scale .form .container, .scale .articles .container, .scale footer .container {
      margin-left: -21px; } }

.project__passports {
  margin-top: 50px; }

.project__info {
  width: 590px;
  margin-top: 50px;
  float: right; }

.project__header {
  margin-bottom: 30px; }

.project__text {
  margin-bottom: 30px; }

.benefits {
  background: url(../../img/bg__city--blur.jpg) no-repeat;
  -webkit-background-size: 110% auto;
  -o-background-size: 110% auto;
  background-size: 110% auto;
  min-height: 525px;
  padding-bottom: 20px; }
  .benefits .container {
    padding-left: 150px; }

.scale .benefits {
  padding-bottom: 0; }

.benefits__header {
  margin-left: -150px; }

.benefits__1_row, .benefits__2_row, .benefits__3_row {
  display: inline-block;
  margin-bottom: 30px; }

.benefits__1_row {
  margin-top: 80px; }

.benefits__item {
  float: left;
  width: 458px; }
  .benefits__item:first-child {
    margin-right: 150px; }

.scale .benefits__3_row {
  margin-bottom: 0; }

.benefits__img_wrapper {
  width: 70px;
  text-align: center;
  height: 70px;
  float: left; }

.benefits__info {
  display: inline-block;
  margin-left: 40px; }

.benefits__text {
  width: 270px; }

.feedbacks {
  position: relative;
  min-height: 670px;
  text-align: center; }

.scale .feedbacks {
  min-height: 500px; }

.feedbacks_slider__navi_triagle {
  position: absolute;
  cursor: pointer;
  top: 195px;
  z-index: 1; }
  .feedbacks_slider__navi_triagle svg {
    width: initial; }

.scale .feedbacks_slider__navi_triagle {
  top: 135px; }

.feedbacks_slider__navi_triagle-prev {
  left: 210px;
  display: none;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .feedbacks_slider__navi_triagle-prev:hover {
    -webkit-transform: scale(1.26);
    -moz-transform: scale(1.26);
    -ms-transform: scale(1.26);
    -o-transform: scale(1.26);
    transform: scale(1.26); }

.feedbacks_slider__navi_triagle-next {
  right: 210px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .feedbacks_slider__navi_triagle-next:hover {
    -webkit-transform: scale(1.26);
    -moz-transform: scale(1.26);
    -ms-transform: scale(1.26);
    -o-transform: scale(1.26);
    transform: scale(1.26); }

.feedback_slider {
  overflow: hidden;
  position: relative;
  height: 700px; }

.feedbacks_slide {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100% !important; }

.feedbacks_slider__photo {
  margin-top: 40px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
  width: 180px;
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.feedbacks_slider__name {
  margin-bottom: 20px; }

.feedbacks_slider__corporation {
  margin-bottom: 20px; }

.feedbacks_slider__text {
  width: 750px;
  display: inline-block; }

.indicator {
  display: inline-block;
  margin: 0 6px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  position: relative;
  background: url(../../img/i__marker.svg) no-repeat center; }
  .indicator:hover:after {
    content: '';
    position: absolute;
    background-color: #E4E7EA;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .indicator.active:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.form__block_1, .form__block_2 {
  height: 380px; }

.scale .form__block_1, .scale .form__block_2 {
  height: 337px; }

.form__block_2 {
  display: none; }

.form__about_text {
  width: 687px;
  margin: 50px auto 34px;
  line-height: 32px; }

.form__textarea {
  width: 531px;
  height: 124px;
  resize: none;
  background-color: #E7EAED;
  padding: 20px;
  display: block;
  padding: 10px 10px 10px 16px;
  margin: 0 auto 30px; }

textarea, input {
  font-size: 18px;
  border: 2px solid transparent;
  font-family: Roboto-light;
  color: #17243F;
  -webkit-transition: .4s all ease;
  -moz-transition: .4s all ease;
  -ms-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease; }
  textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: Roboto-light; }
  textarea:-moz-placeholder, input:-moz-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: Roboto-light;
    opacity: 1; }
  textarea::-moz-placeholder, input::-moz-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: Roboto-light;
    opacity: 1; }
  textarea:-ms-input-placeholder, input:-ms-input-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    font-family: Roboto-light; }
  textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 14px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: Roboto-light; }
  textarea:focus:-moz-placeholder, input:focus:-moz-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 14px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: Roboto-light;
    opacity: 1; }
  textarea:focus::-moz-placeholder, input:focus::-moz-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 14px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: Roboto-light;
    opacity: 1; }
  textarea:focus:-ms-input-placeholder, input:focus:-ms-input-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 14px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    font-family: Roboto-light; }

textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
  color: transparent !important; }

textarea:focus:-moz-placeholder, input:-moz-placeholder {
  color: transparent !important; }

textarea:focus::-moz-placeholder, input:focus::-moz-placeholder {
  color: transparent !important; }

textarea:focus:-ms-input-placeholder, input:focus:-ms-input-placeholder {
  color: transparent !important; }

.form__auth_text {
  width: 600px;
  margin: 50px auto 20px; }

.form__auth_variants {
  width: 800px;
  margin: 0 auto;
  padding-top: 40px; }
  .form__auth_variants:before, .form__auth_variants:after {
    content: "";
    display: table; }
  .form__auth_variants:after {
    clear: both; }
  .form__auth_variants {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }

.form__phone {
  padding-left: 10px;
  background-color: #E7EAED;
  height: 40px;
  float: left;
  width: 400px; }

.form__phone_code_btn {
  float: left; }

.form__block_2__back_btn {
  margin-top: 131px; }

.articles {
  background-color: #EAEDEF;
  padding-bottom: 20px; }

.scale .articles {
  padding-bottom: 0; }

.slider__navi_triagle-prev, .slider__navi_triagle-next {
  position: absolute;
  width: initial;
  pointer-events: initial;
  cursor: pointer;
  top: 220px; }

.scale .slider__navi_triagle-prev, .scale .slider__navi_triagle-next {
  top: 160px; }

.slider__navi_triagle-prev {
  left: 10px;
  display: none;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .slider__navi_triagle-prev:hover {
    -webkit-transform: scale(1.26);
    -moz-transform: scale(1.26);
    -ms-transform: scale(1.26);
    -o-transform: scale(1.26);
    transform: scale(1.26); }

.slider__navi_triagle-next {
  right: 10px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .slider__navi_triagle-next:hover {
    -webkit-transform: scale(1.26);
    -moz-transform: scale(1.26);
    -ms-transform: scale(1.26);
    -o-transform: scale(1.26);
    transform: scale(1.26); }

.mini_slider__wrapper {
  overflow: hidden;
  width: 1152px;
  margin: 0 auto;
  -webkit-transform: translateX(0); }

.mini_slider {
  width: 999999999px;
  height: 355px;
  margin-top: 40px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }
  .mini_slider:before, .mini_slider:after {
    content: "";
    display: table; }
  .mini_slider:after {
    clear: both; }
  .mini_slider {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }

.mini_slide {
  float: left;
  width: 384px;
  text-decoration: none;
  text-align: center; }
  .mini_slide:hover .mini_slide__title {
    color: white; }

.mini_slide__title {
  padding: 6px 12px;
  display: inline-block;
  min-width: 200px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

.mini_slide__img {
  display: inline-block;
  border: 2px solid transparent;
  margin-bottom: 13px;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 235px;
  width: 235px;
  -webkit-transition: .3s all ease;
  -moz-transition: .3s all ease;
  -ms-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

footer.container {
  padding-top: 0;
  height: 125px; }
  footer.container:before, footer.container:after {
    content: "";
    display: table; }
  footer.container:after {
    clear: both; }
  footer.container {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }

.footer__copy {
  font-size: 24px;
  color: #C6CCD4;
  float: left;
  margin-top: 57px; }

.footer__logo {
  float: right;
  margin-bottom: 20px;
  margin-top: 47px; }

.menu_line {
  display: none;
  width: 90px;
  height: 100vh;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 10; }

.scale .menu_line {
  height: 118vh; }

.menu_line:after {
  content: "";
  height: 100%;
  position: absolute;
  background-color: #C6C8C9;
  width: 1px;
  left: 60px;
  top: 0; }

.menu_line__menu {
  left: 40px;
  position: absolute;
  top: calc(50% - 212px);
  z-index: 12; }

.menu_line__item {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  height: 35px;
  line-height: 35px;
  width: 10px;
  overflow: hidden;
  background-color: transparent !important;
  -webkit-transition: padding-left .4s ease, margin .4s ease;
  -moz-transition: padding-left .4s ease, margin .4s ease;
  -ms-transition: padding-left .4s ease, margin .4s ease;
  -o-transition: padding-left .4s ease, margin .4s ease;
  transition: padding-left .4s ease, margin .4s ease; }
  .menu_line__item:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #C6C8C9;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 16px;
    top: 12px; }

.menu_line__item--active, .menu_line__item--hovered {
  padding-left: 45px;
  margin: 4px 0 8px 0; }
  .menu_line__item--active:before, .menu_line__item--hovered:before {
    height: 20px;
    width: 20px;
    left: 11px;
    top: 8px; }

.white_overlay {
  display: none;
  z-index: 5;
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9); }


#map_style .balloon {
	width: 340px;
	height: 432px;
	overflow: hidden;
	color: white!important;
	text-align: center;
}
#map_style .balloon.share_bal {
  position: absolute;
  top: calc(50% - 285px);
  left: calc(50% - 160px);
    height: 491px;
}
#map_style .bal_slider {
	width: 10000px;
	overflow: hidden;
	height: 304px;
}
#map_style .bal_slide {
  width: 189px;
  float: left;
  position: relative;
  height: 100%;
  margin-left: 78px;
}
#map_style .bal_poi {
	background-image: url(../../img/bal_img.png);
	width: 189px;
	padding-top: 7px;
	height: 285px;
}
#map_style .bal_poi_ava {
	width: 177px;
	height: 177px;
	border-radius: 180px;
	margin: 0px 0px 0px 7px;
	background-size: cover;
}
#map_style .bal_city {
	font-size: 32px;
	font-weight: 400;
	margin-bottom: -8px;
    color: white;
}
#map_style .bal_count {
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 100;
}
.bal_slider_name_wrp {
	width: 208px;
	overflow: hidden;
	height: 62px;
	margin-left: 62px;
}
#map_style .bal_slider_name {
	width: 10000px;
}
#map_style .bal_slide_name {
	float: left;
	font-size: 20px;
	text-align: center;
	width: 208px;
	font-weight: 100;
    color: white;
}
#map_style .bal_sl_arr:after {
	content: "";
	background-image: url(../../img/bal_arr.png);
	width: 14px;
	height: 23px;
	position: absolute;
	top: 17px;
	left: 20px;
}
#map_style .bal_sl_arr {
  width: 62px;
  height: 62px;
  border-radius: 90px;
  bottom: 0;
  position: absolute;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
}
#map_style .bal_sl_arr.baslarr_left:after {
	background-position: 0 1px;
}
#map_style .bal_sl_arr.baslarr_right:after {
	background-position: -14px 1px;
	left: 27px;
}
#map_style .bal_sl_arr.baslarr_left {
	left: 0;
}
#map_style .bal_sl_arr.baslarr_right {
	right: 0;
}
#map_style .bal_sl_arr:hover {
	transform: scale(0.85);
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
}
#map_style .bal_sl_arr:active {
	transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
}
.bal_slider, .bal_slider_name {
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
}
