html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }
.nclear:after {
  content: "";
  display: block;
  height: 0px;
  clear: both;
  overflow: hidden;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle;
  outline: none; }

input::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

@font-face {
  font-family: 'Roboto-light';
  src: url('../../fonts/Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-thin';
  src: url('../../fonts/Roboto-Thin.ttf');
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%;
  font-size: 18px;
  font-family: 'Roboto-light', sans-serif; }
  @media (max-width: 1000px) {
    html, body {
      font-size: 16px;
      line-height: 21px; } }
  html *, body * {
    color: #17243F;
    line-height: 24px;
    letter-spacing: .38px; }

input, textarea, button {
  outline: none; }

svg, object {
  pointer-events: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.page__wrapper {
  min-width: 1224px;
  position: relative;
  margin: 0 auto;
  overflow: hidden; }
  @media (max-width: 1240px) {
    .page__wrapper {
      min-width: 100%; } }

.container {
  min-height: 100%;
  margin: 0 auto;
  padding: 60px 10px 0;
  width: 1440px;
  position: relative; }

.scale .container {
  padding: 0 10px;
  width: 1280px; }
  @media (max-width: 1240px) {
    .scale .container {
      width: 100%; } }

.text-white {
  color: #FFF; }

.text-thin {
  font-family: 'Roboto-thin', sans-serif; }

.text-blue {
  color: #438EB4; }

.text-heaven {
  color: #FFFFFE; }

.text-caps {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-gray {
  color: #C6C8C9; }

.text-big {
  font-size: 24px;
  letter-spacing: .5px; }
  @media (max-width: 1020px) {
    .text-big {
      font-size: 22px; } }
  @media (max-width: 460px) {
    .text-big {
      font-size: 19px; } }

.header {
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 50px; }
  @media (max-width: 1020px) {
    .header {
      font-size: 35px;
      letter-spacing: .6px;
      line-height: 40px; } }
  @media (max-width: 450px) {
    .header {
      font-size: 29px;
      line-height: 35px; } }

#nav-toggle {
  position: fixed;
  display: none;
  top: 7px;
  right: 8.5px; }
  @media (max-width: 1000px) {
    #nav-toggle {
      display: inline; } }

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #fffffe;
  position: absolute;
  display: block;
  content: ''; }

#nav-toggle span:before {
  top: -10px; }

#nav-toggle span:after {
  bottom: -10px; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

#nav-toggle.active span {
  background-color: transparent; }

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0; }

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 13px;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  border: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }
  @media (max-width: 600px) {
    .btn {
      height: 35px;
      line-height: 35px;
      font-size: 17px; } }
  @media (max-width: 600px) {
    .btn {
      width: 184px; } }
  .btn--small {
    width: 101px; }
  .btn--x_small {
    width: 40px; }
    @media (max-width: 600px) {
      .btn--x_small {
        width: 35px; } }
  .btn--fb {
    float: left;
    margin-right: 40px;
    margin-left: 40px;
    background: url(../../img/i__fb.svg) center no-repeat #438EB4; }
    @media (max-width: 850px) {
      .btn--fb {
        margin-left: 48px;
        margin-right: 48px; } }
    @media (max-width: 600px) {
      .btn--fb {
        float: right;
        margin-right: 0; } }
    @media (max-width: 448px) {
      .btn--fb {
        margin-left: 18px; } }
  .btn--vk {
    float: left;
    background: url(../../img/i__vk.svg) center no-repeat #438EB4;
    -webkit-background-size: 20px;
    -o-background-size: 20px;
    background-size: 20px; }
    @media (max-width: 600px) {
      .btn--vk {
        float: right;
        margin-left: 18px; } }

.main_screen {
  background: url(../../img/bg__city.jpg) center no-repeat #4c647a;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 520px;
  min-width: 1440px;
  height: 100vh;
  overflow: hidden; }

.scale .main_screen {
  min-width: 1224px; }
  @media (max-width: 1240px) {
    .scale .main_screen {
      min-width: 100%; } }

.scale .main_screen__info_wrapper {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left; }
  @media (max-width: 540px) {
    .scale .main_screen__info_wrapper {
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -ms-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top; } }

.main_screen__logo {
  width: initial;
  min-width: 300px; }
  @media (max-width: 885px) {
    .main_screen__logo {
      width: 100%; } }

.main_screen__synopsys {
  font-size: 36px;
  line-height: 0.95em;
  letter-spacing: .75px;
  margin-top: 40px;
  margin-bottom: 35px; }
  @media (max-width: 700px) {
    .main_screen__synopsys {
      font-size: 25px;
      line-height: 29px;
      margin-top: 10px;
      margin-bottom: 15px; } }
  @media (max-width: 700px) {
    .main_screen__synopsys {
      margin-top: -20px; } }

.main_screen__text {
  width: 650px;
  margin-bottom: 35px; }
  @media (max-width: 700px) {
    .main_screen__text {
      width: 100%; } }

#go_down_arrow__circle {
  -webkit-transition: .4s ease all;
  -moz-transition: .4s ease all;
  -ms-transition: .4s ease all;
  -o-transition: .4s ease all;
  transition: .4s ease all; }

.main_screen__go_down_arrow__wrapper {
  position: absolute;
  bottom: 45px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center; }

.scale .main_screen__go_down_arrow__wrapper {
  bottom: 0px; }

.scale .main_screen__go_down_arrow {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center; }

.main_screen__go_down_arrow {
  width: initial;
  pointer-events: initial;
  cursor: pointer;
  -webkit-transition: .2s ease all;
  -moz-transition: .2s ease all;
  -ms-transition: .2s ease all;
  -o-transition: .2s ease all;
  transition: .2s ease all; }
  .main_screen__go_down_arrow:hover #go_down_arrow__circle {
    fill: none;
    filter: none; }
  .main_screen__go_down_arrow .colorize_go_down_arrow {
    stroke: #FFFFFE; }

.main_screen__go_down_arrow--colorized {
  display: none; }

.project {
  padding-bottom: 42px; }
  .project:before, .project:after {
    content: "";
    display: table; }
  .project:after {
    clear: both; }
  .project {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }

.scale .project {
  padding-bottom: 0; }

.scale .project .container, .scale .feedbacks .container, .scale .map .container, .scale .form .container, .scale .articles .container, .scale footer .container {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center; }
  @media (max-width: 1000px) {
    .scale .project .container, .scale .feedbacks .container, .scale .map .container, .scale .form .container, .scale .articles .container, .scale footer .container {
      -webkit-transform-origin: center top;
      -moz-transform-origin: center top;
      -ms-transform-origin: center top;
      -o-transform-origin: center top;
      transform-origin: center top;
      padding-top: 30px;
      margin-left: 0; } }

.benefits .container {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center; }
  @media (max-width: 1000px) {
    .benefits .container {
      -webkit-transform-origin: center top;
      -moz-transform-origin: center top;
      -ms-transform-origin: center top;
      -o-transform-origin: center top;
      transform-origin: center top;
      padding-top: 30px; } }
  @media (max-width: 400px) {
    .benefits .container {
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -ms-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top; } }

@media (max-width: 1000px) {
  .scale .project .container {
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    margin-left: 0; } }

.project__passports {
  margin-top: 50px; }
  @media (max-width: 1240px) {
    .project__passports {
      width: 49%; } }
  @media (max-width: 1000px) {
    .project__passports {
      margin-top: 30px;
      min-width: 322px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      -webkit-transform: translateX(15%);
      -moz-transform: translateX(15%);
      -ms-transform: translateX(15%);
      -o-transform: translateX(15%);
      transform: translateX(15%); } }
  @media (max-width: 1000px) {
    .project__passports {
      min-width: 282px;
      -webkit-transform: translateX(9%);
      -moz-transform: translateX(9%);
      -ms-transform: translateX(9%);
      -o-transform: translateX(9%);
      transform: translateX(9%); } }

@media (max-width: 1000px) {
  .project .header {
    -webkit-transform: translateX(9%);
    -moz-transform: translateX(9%);
    -ms-transform: translateX(9%);
    -o-transform: translateX(9%);
    transform: translateX(9%); } }

.project__info {
  width: 590px;
  margin-top: 50px;
  float: right; }
  @media (max-width: 1240px) {
    .project__info {
      margin-top: 30px;
      width: 49%; } }
  @media (max-width: 1000px) {
    .project__info {
      width: 100%; }
      .project__info .project__header, .project__info .project__text {
        width: 116%; } }

.project__header {
  margin: 30px 0; }
  @media (max-width: 1240px) {
    .project__header {
      margin-bottom: 20px; } }

.project__text {
  margin-bottom: 30px; }
  @media (max-width: 1240px) {
    .project__text {
      margin-bottom: 20px; } }
  @media (max-width: 1240px) {
    .project__text:last-of-type {
      margin-bottom: -10px; } }
  @media (max-width: 1000px) {
    .project__text:last-of-type {
      margin-bottom: -80px; } }
  @media (max-width: 540px) {
    .project__text:last-of-type {
      margin-bottom: -90px; } }
  @media (max-width: 350px) {
    .project__text:last-of-type {
      margin-bottom: -130px; } }

.benefits {
  background: url(../../img/bg__city--blur.jpg) no-repeat;
  -webkit-background-size: 110% auto;
  -o-background-size: 110% auto;
  background-size: 110% auto;
  min-height: 525px;
  padding-bottom: 20px; }
  @media (max-width: 1000px) {
    .benefits {
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center !important; } }

.scale .benefits {
  padding-bottom: 0; }

.benefits__1_row, .benefits__2_row, .benefits__3_row {
  display: inline-block;
  padding-left: 150px;
  margin-bottom: 30px; }
  @media (max-width: 1200px) {
    .benefits__1_row, .benefits__2_row, .benefits__3_row {
      padding-left: 100px; } }
  @media (max-width: 1150px) {
    .benefits__1_row, .benefits__2_row, .benefits__3_row {
      padding-left: 60px; } }
  @media (max-width: 1100px) {
    .benefits__1_row, .benefits__2_row, .benefits__3_row {
      padding-left: 20px; } }
  @media (max-width: 1060px) {
    .benefits__1_row, .benefits__2_row, .benefits__3_row {
      padding-left: 0; } }
  @media (max-width: 1000px) {
    .benefits__1_row, .benefits__2_row, .benefits__3_row {
      display: block;
      width: 100%; } }

.benefits__1_row {
  margin-top: 80px; }
  @media (max-width: 1000px) {
    .benefits__1_row {
      margin-top: 50px; } }

.benefits__item {
  float: left;
  width: 458px; }
  @media (max-width: 1000px) {
    .benefits__item {
      float: none;
      width: 100%;
      margin-bottom: 60px;
      text-align: center; } }
  .benefits__item:first-child {
    margin-right: 150px; }
    @media (max-width: 1240px) {
      .benefits__item:first-child {
        margin-right: 80px; } }
    @media (max-width: 1040px) {
      .benefits__item:first-child {
        margin-right: 40px; } }
    @media (max-width: 1000px) {
      .benefits__item:first-child {
        margin-right: 0; } }

.scale .benefits__3_row {
  margin-bottom: 0; }

.benefits__img_wrapper {
  width: 70px;
  text-align: center;
  height: 70px;
  float: left; }
  @media (max-width: 1000px) {
    .benefits__img_wrapper {
      float: none;
      display: inline-block;
      position: absolute;
      width: 50px;
      height: 50px; } }

@media (max-width: 1000px) {
  .benefits__img {
    width: 50px;
    height: 50px; } }

.benefits__info {
  display: block;
  margin-left: 40px;
  float: left;
  width: 348px; 
}
  @media (max-width: 1000px) {
    .benefits__info {
      text-align: left;
      width: 300px;
      margin-left: 75px; } }
  @media (max-width: 400px) {
    .benefits__info {
      width: 90%; } }

.benefits__text {
  width: 270px; }
  @media (max-width: 400px) {
    .benefits__text {
      width: 100%; } }

@media (max-width: 400px) {
  .benefits__header {
    width: 118%; } }

.feedbacks {
  position: relative;
  min-height: 670px;
  text-align: center; }
  @media (max-width: 1000px) {
    .feedbacks .container {
      margin-bottom: -90px; } }

.scale .feedbacks {
  min-height: 500px; }

.feedbacks_slider__navi_triagle {
  position: absolute;
  cursor: pointer;
  top: 195px;
  z-index: 1; }
  .feedbacks_slider__navi_triagle svg {
    width: initial; }
    @media (max-width: 460px) {
      .feedbacks_slider__navi_triagle svg {
        width: 30px; } }

.scale .feedbacks_slider__navi_triagle {
  top: 135px; }
  @media (max-width: 1000px) {
    .scale .feedbacks_slider__navi_triagle {
      top: 154px; } }
  @media (max-width: 460px) {
    .scale .feedbacks_slider__navi_triagle {
      top: 116px; } }

@media (max-width: 460px) {
  #feedbacks_slideposition {
    position: absolute;
    left: 0;
    bottom: -20px;
    right: 0; } }

.feedbacks_slider__navi_triagle-prev {
  left: 210px;
  display: none;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  @media (max-width: 1000px) {
    .feedbacks_slider__navi_triagle-prev {
      left: 100px; } }
  @media (max-width: 700px) {
    .feedbacks_slider__navi_triagle-prev {
      left: 20px; } }
  @media (max-width: 460px) {
    .feedbacks_slider__navi_triagle-prev {
      left: -20px; } }
  .feedbacks_slider__navi_triagle-prev:hover {
    -webkit-transform: scale(1.26);
    -moz-transform: scale(1.26);
    -ms-transform: scale(1.26);
    -o-transform: scale(1.26);
    transform: scale(1.26); }

.feedbacks_slider__navi_triagle-next {
  right: 210px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  @media (max-width: 1000px) {
    .feedbacks_slider__navi_triagle-next {
      right: 100px; } }
  @media (max-width: 700px) {
    .feedbacks_slider__navi_triagle-next {
      right: 20px; } }
  @media (max-width: 460px) {
    .feedbacks_slider__navi_triagle-next {
      right: -20px; } }
  .feedbacks_slider__navi_triagle-next:hover {
    -webkit-transform: scale(1.26);
    -moz-transform: scale(1.26);
    -ms-transform: scale(1.26);
    -o-transform: scale(1.26);
    transform: scale(1.26); }

.feedback_slider {
  overflow: hidden;
  position: relative;
  height: 700px; }

.feedbacks_slide {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100% !important; }

.feedbacks_slider__photo {
  margin-top: 40px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
  width: 180px;
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media (max-width: 460px) {
    .feedbacks_slider__photo {
      width: 150px;
      height: 150px;
      margin-top: 20px; } }

.feedbacks_slider__name {
  margin-bottom: 20px; }
  @media (max-width: 460px) {
    .feedbacks_slider__name {
      margin-bottom: 6px; } }

.feedbacks_slider__corporation {
  margin-bottom: 20px; }
  @media (max-width: 460px) {
    .feedbacks_slider__corporation {
      margin-bottom: 6px; } }

.feedbacks_slider__text {
  display: inline-block; }
  @media (min-width: 815px) {
    .feedbacks_slider__text {
      width: 750px; } }

.indicator {
  display: inline-block;
  margin: 0 6px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  position: relative;
  background: url(../../img/i__marker.svg) no-repeat center; }
  .indicator:hover:after {
    content: '';
    position: absolute;
    background-color: #E4E7EA;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .indicator.active:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.form {
  position: relative; }

.form__block_1, .form__block_2 {
  height: 380px; }

.form__swtich_btn {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 20px;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85); }

.scale .form__block_1, .scale .form__block_2 {
  height: 337px; }
  @media (max-width: 1000px) {
    .scale .form__block_1, .scale .form__block_2 {
      height: 277px; } }
  @media (max-width: 500px) {
    .scale .form__block_1, .scale .form__block_2 {
      height: 307px; } }

.form__block_2 {
  display: none; }

.form__about_text {
  width: 687px;
  margin: 50px auto 34px;
  line-height: 32px; }
  @media (max-width: 1000px) {
    .form__about_text {
      margin-top: 20px;
      line-height: 28px; } }
  @media (max-width: 850px) {
    .form__about_text {
      width: 100%; } }
  @media (max-width: 600px) {
    .form__about_text {
      font-size: 18px;
      line-height: 23px;
      margin: 20px auto 16px; } }

.form__textarea {
  width: 531px;
  height: 124px;
  resize: none;
  background-color: #E7EAED;
  padding: 20px;
  display: block;
  padding: 10px 10px 10px 16px;
  margin: 0 auto 30px; }
  @media (max-width: 600px) {
    .form__textarea {
      margin-top: 45px;
      width: 100%; } }

textarea, input {
  font-size: 18px;
  border: 2px solid transparent;
  font-family: Roboto-light;
  color: #17243F;
  -webkit-transition: .4s all ease;
  -moz-transition: .4s all ease;
  -ms-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease; }
  textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: Roboto-light; }
  textarea:-moz-placeholder, input:-moz-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: Roboto-light;
    opacity: 1; }
  textarea::-moz-placeholder, input::-moz-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: Roboto-light;
    opacity: 1; }
  textarea:-ms-input-placeholder, input:-ms-input-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    font-family: Roboto-light; }
  @media (max-width: 600px) {
    textarea, input {
      font-size: 17px; } }
  textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 14px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: Roboto-light; }
  textarea:focus:-moz-placeholder, input:focus:-moz-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 14px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: Roboto-light;
    opacity: 1; }
  textarea:focus::-moz-placeholder, input:focus::-moz-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 14px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: Roboto-light;
    opacity: 1; }
  textarea:focus:-ms-input-placeholder, input:focus:-ms-input-placeholder {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 14px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    font-family: Roboto-light; }

textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
  color: transparent !important; }

textarea:focus:-moz-placeholder, input:-moz-placeholder {
  color: transparent !important; }

textarea:focus::-moz-placeholder, input:focus::-moz-placeholder {
  color: transparent !important; }

textarea:focus:-ms-input-placeholder, input:focus:-ms-input-placeholder {
  color: transparent !important; }

.form__auth_text {
  width: 600px;
  margin: 50px auto 20px; }
  @media (max-width: 1000px) {
    .form__auth_text {
      margin-top: 20px;
      line-height: 28px; } }
  @media (max-width: 850px) {
    .form__auth_text {
      width: 100%; } }
  @media (max-width: 600px) {
    .form__auth_text {
      font-size: 18px;
      line-height: 23px; } }

.form__auth_variants {
  width: 800px;
  margin: 0 auto;
  padding-top: 40px; }
  .form__auth_variants:before, .form__auth_variants:after {
    content: "";
    display: table; }
  .form__auth_variants:after {
    clear: both; }
  .form__auth_variants {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }
  @media (max-width: 1000px) {
    .form__auth_variants {
      padding-top: 80px; } }
  @media (max-width: 850px) {
    .form__auth_variants {
      width: 400px;
      padding-top: 40px; } }
  @media (max-width: 600px) {
    .form__auth_variants {
      width: 100%; } }

.form__phone {
  padding-left: 10px;
  background-color: #E7EAED;
  height: 40px;
  float: left;
  width: 400px; }
  @media (max-width: 850px) {
    .form__phone {
      margin-bottom: 40px; } }
  @media (max-width: 600px) {
    .form__phone {
      width: 100%; } }
  @media (max-width: 600px) {
    .form__phone {
      height: 35px; } }

.form__phone_code_btn {
  float: left; }
  @media (max-width: 600px) {
    .form__phone_code_btn {
      width: 174px; } }

.form__block_2__back_btn {
  margin-top: 131px; }
  @media (max-width: 1000px) {
    .form__block_2__back_btn {
      margin-top: 78px; } }
  @media (max-width: 850px) {
    .form__block_2__back_btn {
      margin-top: 37px; } }
  @media (max-width: 600px) {
    .form__block_2__back_btn {
      display: block;
      clear: both;
      margin: 162px auto 0; } }

.articles {
  background-color: #EAEDEF;
  padding-bottom: 20px; }

.scale .articles {
  padding-bottom: 0; }

@media (max-width: 920px) {
  .scale .articles .container {
    padding-left: 0;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top; } }

@media (max-width: 920px) {
  .articles__header {
    padding-left: 19%; } }

.slider__navi_triagle-prev, .slider__navi_triagle-next {
  position: absolute;
  width: initial;
  pointer-events: initial;
  cursor: pointer;
  top: 220px; }
  @media (max-width: 920px) {
    .slider__navi_triagle-prev, .slider__navi_triagle-next {
      display: none !important; } }

.scale .slider__navi_triagle-prev, .scale .slider__navi_triagle-next {
  top: 160px; }
  @media (max-width: 1300px) {
    .scale .slider__navi_triagle-prev, .scale .slider__navi_triagle-next {
      top: 147px; } }
  @media (max-width: 1020px) {
    .scale .slider__navi_triagle-prev, .scale .slider__navi_triagle-next {
      top: 161px; } }

.slider__navi_triagle-prev {
  left: 10px;
  display: none;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .slider__navi_triagle-prev:hover {
    -webkit-transform: scale(1.26);
    -moz-transform: scale(1.26);
    -ms-transform: scale(1.26);
    -o-transform: scale(1.26);
    transform: scale(1.26); }

.slider__navi_triagle-next {
  right: 10px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .slider__navi_triagle-next:hover {
    -webkit-transform: scale(1.26);
    -moz-transform: scale(1.26);
    -ms-transform: scale(1.26);
    -o-transform: scale(1.26);
    transform: scale(1.26); }

.mini_slider__wrapper {
  overflow: hidden;
  width: 1152px;
  margin: 0 auto;
  -webkit-transform: translateX(0); }
  @media (max-width: 1300px) {
    .mini_slider__wrapper {
      width: 852px; } }
  @media (max-width: 920px) {
    .mini_slider__wrapper {
      overflow: auto;
      padding-bottom: 20px;
      width: 120%; } }

.mini_slider {
  width: 999999999px;
  height: 355px;
  margin-top: 40px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }
  .mini_slider:before, .mini_slider:after {
    content: "";
    display: table; }
  .mini_slider:after {
    clear: both; }
  .mini_slider {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }
  @media (max-width: 1300px) {
    .mini_slider {
      height: 278px; } }
  @media (max-width: 750px) {
    .mini_slider {
      height: 248px; } }

.mini_slide {
  float: left;
  width: 384px;
  text-decoration: none;
  text-align: center; }
  @media (max-width: 1300px) {
    .mini_slide {
      width: 284px; } }
  @media (max-width: 750px) {
    .mini_slide {
      width: 194px; } }
  .mini_slide:hover .mini_slide__title {
    color: white; }

.mini_slide__title {
  padding: 6px 12px;
  display: inline-block;
  min-width: 200px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

.mini_slide__img {
  display: inline-block;
  border: 2px solid transparent;
  margin-bottom: 13px;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 235px;
  width: 235px;
  -webkit-transition: .3s all ease;
  -moz-transition: .3s all ease;
  -ms-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  @media (max-width: 1300px) {
    .mini_slide__img {
      height: 195px;
      width: 195px; } }
  @media (max-width: 750px) {
    .mini_slide__img {
      height: 145px;
      width: 145px; } }

@media (max-width: 600px) {
  footer .container {
    text-align: center;
    padding-top: 17px !important; } }

.footer__copy {
  font-size: 24px;
  color: #C6CCD4;
  float: left;
  margin-top: 57px; }
  @media (max-width: 900px) {
    .footer__copy {
      margin-top: 27px; } }
  @media (max-width: 600px) {
    .footer__copy {
      display: none; } }

.footer__logo {
  float: right;
  margin-bottom: 20px;
  margin-top: 47px; }
  @media (max-width: 900px) {
    .footer__logo {
      margin-top: 17px; } }
  @media (max-width: 600px) {
    .footer__logo {
      float: none; } }
  @media (max-width: 600px) {
    .footer__logo img {
      width: 130px; } }

.menu_line {
  display: none;
  width: 90px;
  height: 100vh;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 10; }

.menu_line:after {
  content: "";
  height: 100%;
  position: absolute;
  background-color: #C6C8C9;
  width: 1px;
  left: 60px;
  top: 0; }

.scale .menu_line {
  height: 118vh; }
  @media (max-width: 1000px) {
    .scale .menu_line {
      height: 40px;
      width: 100%;
      background-color: #30353A;
      cursor: default; } }
  @media (max-width: 1000px) {
    .scale .menu_line:after {
      content: none; } }

.menu_line__menu {
  left: 40px;
  position: absolute;
  top: calc(50% - 212px);
  z-index: 12; }
  @media (max-width: 1000px) {
    .menu_line__menu {
      position: fixed;
      top: 40px;
      left: 0;
      right: 0;
      background-color: #30353A;
      text-align: center;
      display: none; } }

.menu_line__item {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  height: 35px;
  line-height: 35px;
  width: 10px;
  overflow: hidden;
  background-color: transparent !important;
  -webkit-transition: padding-left .4s ease, margin .4s ease;
  -moz-transition: padding-left .4s ease, margin .4s ease;
  -ms-transition: padding-left .4s ease, margin .4s ease;
  -o-transition: padding-left .4s ease, margin .4s ease;
  transition: padding-left .4s ease, margin .4s ease; }
  @media (max-width: 1000px) {
    .menu_line__item {
      width: 100% !important;
      margin: 7px 0;
      padding-left: 0 !important; } }
  .menu_line__item:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #C6C8C9;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 16px;
    top: 12px; }
    @media (max-width: 1000px) {
      .menu_line__item:before {
        content: none; } }

.menu_line__item--active, .menu_line__item--hovered {
  padding-left: 45px;
  margin: 4px 0 8px 0; }
  @media (max-width: 1000px) {
    .menu_line__item--active, .menu_line__item--hovered {
      margin: 7px 0; } }
  .menu_line__item--active:before, .menu_line__item--hovered:before {
    height: 20px;
    width: 20px;
    left: 11px;
    top: 8px; }

.white_overlay {
  display: none;
  z-index: 5;
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9); }
  @media (max-width: 1000px) {
    .white_overlay {
      display: none !important; } }


.map_share {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  display: none;
  z-index: 99;
  opacity: 0;
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
  background-color: rgba(0,0,0,0.4);
  overflow-y: auto;
  padding-bottom: 40px;
}
.map_share.active {
  opacity: 1;
}
body.over {
  overflow: hidden;
}
#map_style {
  width: 100%;
  margin-bottom: 40px;
  position: relative;
  min-height: 480px;
}
textarea {
  resize: none;
}
.map_share #map_style {
  width: 1200px;
  height: 630px;
  margin-bottom: 0;
  margin: 0 auto;
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  box-shadow: 3px 2px 17px 1px rgba(0,0,0,0.3);
}
.map_share.active #map_style {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  margin-top: 50px;
}

#map_style .bala2_name {
  height: 65px;
  width: 265px;
  font-weight: 100;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}
#map_style .balloon {
  width: 342px;
  height: 430px;
  overflow: hidden;
  color: white;
  position: relative;
  text-align: center;
}
#map_style .balloon.share_bal {
  position: absolute;
  top: calc(50% - 285px);
  left: calc(50% - 160px);
    height: 491px;
}
#map_style .bal_slider {
  width: 10000px;
  overflow: hidden;
  height: 363px;
}
#map_style .bal_slide {
  width: 230px;
  float: left;
  position: relative;
  height: 100%;
  margin-left: 56px;
}
#map_style .bal_poi {
  background-image: url(../../img/baloon_new.png);
  width: 230px;
  padding-top: 9px;
  height: 320px;
}
.myInfobox:after {
  content: "";
  background-color: rgba(23,36,63,0.5);
  position: fixed;
  width: 100000px;
  height: 100000px;
  left: -1700px;
  top: -3000px;
  z-index: -1;
}
#map_style .bal_poi_ava {
  width: 210px;
  height: 210px;
  border-radius: 180px;
  margin: 0px 0px 0px 10px;
  background-size: cover;
}
#map_style .bal_city {
  margin-top: -4px;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}
#map_style .bal_count {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 100;
}
.bal_slider_name_wrp {
  width: 100%;
  overflow: hidden;
  height: 45px;
  left: 149px;
  position: relative;
}
.ogn_bal {
  width: 45px;
  height: 45px;
  float: left;
  background-image: url(../../img/activeBall.png);
  transform: scale(0.44);
  -webkit-transform: scale(0.44);
  -moz-transform: scale(0.44);
  -ms-transform: scale(0.44);
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
}
.ogn_bal.active {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
}
#map_style .bal_slider_name {
  width: 10000px;
}
#map_style .bal_slide_name {
  font-size: 20px;
  text-align: center;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#map_style .bal_sl_arr {
  width: 42px;
  height: 82px;
  top: 101px;
  position: absolute;
  cursor: pointer;
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
}
#map_style .bal_sl_arr.baslarr_left {
  left: 0;
  background-image: url(../../img/arrow_new2.png);
}
#map_style .bal_sl_arr.baslarr_right {
  right: 0;
  background-image: url(../../img/arrow_new.png);
}
#map_style .bal_sl_arr:hover {
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
}
#map_style .bal_sl_arr:active {
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
}
.bal_slider, .bal_slider_name_wrp {
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
}

.required:AFTER {
	content: "*";
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	color: #438eb5;
}

.form__col {
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}

.form__col input {
	background: #e3e7ea;
	height: 42px;
	padding-left: 15px;
}

.col-6 {
	width: 49.5%;
}

.form__control {
	width: 100%;
}

.form__row {
	margin-bottom: 15px;
}
.intl-tel-input {
	width: 100%;
}