	 <!--<a class="logo" href="/"><svg version="1.2" baseProfile="tiny" id="Слой_1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="130"
	 height="26" viewBox="0 0 239.647 41.472" xml:space="preserve">
<polygon fill="#fff" points="0,0 5.587,0 5.587,36.745 14.719,36.745 14.719,41.472 0,41.472 "/>
<polygon fill="#fff" points="224.794,0 239.647,0 239.647,4.727 230.381,4.727 230.381,17.862 238.6,17.862 238.6,22.589 
	230.381,22.589 230.381,36.745 239.647,36.745 239.647,41.472 224.794,41.472 "/>
<path fill="#fff" d="M31.666,29.063l-1.235-6.608c-0.825-4.494-1.496-9.294-2.015-14.397c-0.251,2.489-0.574,5.009-0.967,7.562
	c-0.394,2.55-0.859,5.26-1.397,8.124l-1.02,5.319H31.666z M26.321,0h4.351l8.891,41.472H34.03l-1.558-8.085h-8.219l-1.585,8.085
	h-5.372L26.321,0z"/>
<path fill="#fff" d="M38.954,0h5.399l2.82,19.259l0.457,2.847c0.215,1.541,0.376,2.946,0.483,4.217l0.296,3.519
	c0.017,0.09,0.035,0.251,0.053,0.483c0.018,0.233,0.046,0.529,0.081,0.886l0.134-1.343c0.215-2.345,0.443-4.502,0.686-6.473
	c0.24-1.969,0.505-3.787,0.792-5.452L53.136,0h4.298l2.793,17.432c0.412,2.579,0.757,4.969,1.034,7.172s0.506,4.307,0.685,6.312
	c0.179-2.112,0.381-4.154,0.604-6.124c0.224-1.969,0.462-3.903,0.712-5.802l0.403-2.766L66.056,0h5.345l-7.333,41.472h-4.351
	l-2.928-17.916c-0.018-0.07-0.062-0.366-0.134-0.886c-0.072-0.519-0.18-1.262-0.323-2.229l-0.564-4.137
	c-0.036-0.322-0.094-0.806-0.174-1.45c-0.081-0.645-0.166-1.459-0.255-2.445l-0.135-1.719c-0.035,0.413-0.072,0.771-0.107,1.075
	c-0.036,0.305-0.063,0.555-0.081,0.752c-0.09,1.182-0.165,2.099-0.227,2.752c-0.064,0.655-0.104,1.053-0.122,1.196l-0.564,3.976
	c-0.126,0.913-0.223,1.629-0.295,2.148c-0.072,0.52-0.126,0.843-0.161,0.967l-3.036,17.916h-4.485L38.954,0z"/>
<path fill="#fff" d="M95.113,17.244c0.769-0.806,1.414-1.517,1.934-2.136c0.518-0.616,0.913-1.158,1.182-1.624
	c0.554-0.931,0.831-1.943,0.831-3.035c0-1.021-0.268-1.831-0.805-2.432c-0.538-0.599-1.244-0.899-2.121-0.899
	c-0.913,0-1.702,0.359-2.364,1.074c-0.645,0.699-0.967,1.531-0.967,2.498C92.803,12.07,93.572,14.254,95.113,17.244 M93.635,24.899
	c-2.077,2.293-3.116,4.442-3.116,6.447c0,1.612,0.458,2.964,1.371,4.056c0.913,1.111,2.013,1.665,3.303,1.665
	c1.433,0,2.838-0.877,4.218-2.632L93.635,24.899z M106.259,25.544l3.546,2.82l-4.431,6.178l4.431,6.93h-6.125l-1.959-3.223
	c-2.042,2.31-4.415,3.465-7.119,3.465c-2.525,0-4.719-0.984-6.58-2.955c-1.826-1.987-2.74-4.36-2.74-7.118
	c0-1.862,0.43-3.616,1.29-5.264c0.859-1.666,2.354-3.59,4.484-5.775c-2.22-3.509-3.331-6.796-3.331-9.858
	c0-2.273,0.753-4.154,2.257-5.641c1.522-1.467,3.456-2.202,5.802-2.202c2.363,0,4.252,0.681,5.668,2.041
	c1.431,1.38,2.149,3.17,2.149,5.372c0,1.881-0.44,3.582-1.317,5.104c-0.412,0.752-1.021,1.624-1.827,2.619
	c-0.806,0.993-1.826,2.108-3.062,3.344l5.48,8.971L106.259,25.544z"/>
<path fill="#fff" d="M135.536,19.662h10.153v1.612c0,8.076-0.707,13.529-2.121,16.357c-1.396,2.901-4.012,4.352-7.843,4.352
	c-3.958,0-6.778-1.612-8.462-4.835c-1.665-3.223-2.497-8.639-2.497-16.25c0-8.703,0.913-14.495,2.74-17.379
	c1.719-2.703,4.359-4.056,7.923-4.056c2.722,0,4.843,0.654,6.367,1.961c1.538,1.326,2.738,3.501,3.599,6.527l-5.211,2.176
	c-0.234-1.092-0.493-2.011-0.78-2.754c-0.286-0.742-0.6-1.32-0.938-1.732c-0.682-0.841-1.702-1.262-3.062-1.262
	c-1.862,0-3.135,1.146-3.813,3.438c-0.683,2.4-1.021,6.706-1.021,12.919c0,6.286,0.349,10.539,1.046,12.759
	c0.699,2.221,2.017,3.331,3.95,3.331c1.773,0,3.018-0.788,3.732-2.364c0.734-1.683,1.103-4.387,1.103-8.112v-1.128v-0.833h-4.863
	V19.662z"/>
<path fill="#fff" d="M162.504,29.063l-1.236-6.608c-0.822-4.494-1.494-9.294-2.013-14.397c-0.251,2.489-0.574,5.009-0.967,7.562
	c-0.396,2.55-0.859,5.26-1.397,8.124l-1.02,5.319H162.504z M157.16,0h4.351l8.891,41.472h-5.533l-1.558-8.085h-8.22l-1.584,8.085
	h-5.372L157.16,0z"/>
<path fill="#fff" d="M173.678,0h5.479v29.305c0,2.991,0.269,4.978,0.806,5.962c0.556,0.986,1.648,1.478,3.277,1.478
	c1.63,0,2.705-0.43,3.223-1.289c0.538-0.877,0.806-2.66,0.806-5.346V0h5.48v30.11c0,4.513-0.69,7.566-2.067,9.16
	c-1.648,1.809-4.165,2.712-7.549,2.712c-3.724,0-6.348-1.163-7.869-3.491c-1.057-1.594-1.586-4.656-1.586-9.186V0z"/>
<path fill="#fff" d="M209.08,19.662h10.152v1.612c0,8.076-0.707,13.529-2.121,16.357c-1.396,2.901-4.012,4.352-7.843,4.352
	c-3.958,0-6.777-1.612-8.462-4.835c-1.665-3.223-2.497-8.639-2.497-16.25c0-8.703,0.913-14.495,2.74-17.379
	c1.719-2.703,4.36-4.056,7.922-4.056c2.723,0,4.844,0.654,6.367,1.961c1.539,1.326,2.74,3.501,3.6,6.527l-5.211,2.176
	c-0.233-1.092-0.493-2.011-0.779-2.754c-0.286-0.742-0.601-1.32-0.939-1.732c-0.681-0.841-1.702-1.262-3.062-1.262
	c-1.863,0-3.136,1.146-3.814,3.438c-0.682,2.4-1.021,6.706-1.021,12.919c0,6.286,0.349,10.539,1.047,12.759
	c0.698,2.221,2.016,3.331,3.949,3.331c1.773,0,3.018-0.788,3.732-2.364c0.735-1.683,1.103-4.387,1.103-8.112v-1.128v-0.833h-4.862
	V19.662z"/>
</svg></a>-->
<a class="logo" href="/">
<svg version="1.1" id="&#x421;&#x43B;&#x43E;&#x439;_1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="50px"
	 viewBox="0 0 209.517 79" style="enable-background:new 0 0 209.517 79;" xml:space="preserve">
<path style="fill:#FFF;" d="M150.861,25.337v-2.546h7.831v1.454c0,4.631-2.449,7.734-7.226,7.734s-8.025-3.006-8.025-8.122
	c0-5.117,3.249-8.366,8.025-8.366c2.861,0,4.995,0.85,6.474,2.91l-2.424,2.037c-0.994-1.479-2.207-2.109-4.05-2.109
	c-2.425,0-4.68,1.575-4.68,5.406c0,4.05,2.255,5.408,4.68,5.408c2.619,0,3.952-1.407,3.952-3.807H150.861z"/>
<path style="fill:#FFF;" d="M181.412,28.876h-6.498l-1.26,2.74h-3.322l7.783-16.245h0.146l7.759,16.245h-3.321L181.412,28.876z
	 M175.934,26.452h4.461l-2.23-4.922L175.934,26.452z"/>
<polygon style="fill:#FFF;" points="198.63,31.616 198.63,15.856 201.927,15.856 201.927,28.634 209.517,28.634 209.517,31.616
	"/>
<path style="fill:#FFF;" d="M100.4,64.311c-1.916,0-4.582-0.581-5.867-2.813l0.945-0.848c1.431,2.086,3.37,2.399,4.922,2.399
	c2.521,0,4.583-0.896,4.583-3.249c0-2.108-1.479-2.787-4.269-3.441c-3.055-0.729-5.697-1.285-5.697-4.534
	c0-2.304,1.988-4.001,5.504-4.001c1.818,0,3.613,0.266,5.286,1.818l-0.946,1.043c-1.552-1.357-2.788-1.602-4.34-1.602
	c-2.764,0-4.146,1.359-4.146,2.741c0,2.109,1.625,2.57,4.316,3.224c3.007,0.729,5.648,1.48,5.648,4.752
	C106.34,62.831,103.674,64.311,100.4,64.311"/>
<path style="fill:#FFF;" d="M122.248,63.946h-1.358v-15.76h4.874c3.516,0,5.94,1.358,5.94,4.995s-2.425,5.165-5.94,5.165h-3.516
	V63.946z M125.521,57.207c2.789,0,4.825-0.873,4.825-4.025s-2.036-3.831-4.825-3.831h-3.272v7.856H125.521z"/>
<path style="fill:#FFF;" d="M154.206,59.995h-8.001l-1.673,3.952h-1.431l7.007-16.245h0.146l7.08,16.245h-1.431L154.206,59.995z
	 M146.666,58.904h7.079l-3.563-8.341L146.666,58.904z"/>
<path style="fill:#FFF;" d="M177.121,63.05c2.085,0,3.758-0.994,4.752-2.739l1.188,0.751c-1.236,2.086-3.321,3.249-5.939,3.249
	c-4.292,0-7.178-3.055-7.178-8.171c0-5.115,2.886-8.317,7.178-8.317c2.618,0,4.703,1.164,5.939,3.226l-1.188,0.752
	c-0.994-1.723-2.667-2.716-4.752-2.716c-3.395,0-5.771,2.667-5.771,6.983C171.35,60.358,173.727,63.05,177.121,63.05"/>
<polygon style="fill:#FFF;" points="197.61,48.188 207.164,48.188 207.164,49.399 198.969,49.399 198.969,55.219 205.83,55.219
	205.83,56.431 198.969,56.431 198.969,62.735 207.406,62.735 207.406,63.947 197.61,63.947 "/>
<path style="fill:#FFF;" d="M44.074,18.861c0.028,1.742-1.36,3.18-3.104,3.21c-1.743,0.028-3.18-1.36-3.21-3.104
	c-0.029-1.743,1.36-3.18,3.103-3.21C42.606,15.729,44.045,17.118,44.074,18.861"/>
<path style="fill:#FFF;" d="M38.694,75.111c-19.192,0-34.807-15.612-34.807-34.805S19.502,5.5,38.694,5.5
	S73.5,21.114,73.5,40.307S57.887,75.111,38.694,75.111 M38.694,6.5C20.053,6.5,4.888,21.666,4.888,40.307
	c0,18.64,15.165,33.805,33.807,33.805c18.641,0,33.806-15.165,33.806-33.805C72.5,21.666,57.335,6.5,38.694,6.5"/>
<path style="fill:#FFF;" d="M31.61,71.784c-6.911,0-13.04-2.379-17.527-6.866C3.268,54.103,5.51,34.263,19.08,20.692
	C32.652,7.118,52.492,4.881,63.305,15.694c5.256,5.254,7.62,12.76,6.658,21.135c-0.956,8.331-5.096,16.532-11.654,23.092
	c-6.56,6.559-14.76,10.697-23.091,11.653C33.995,71.716,32.791,71.784,31.61,71.784 M45.741,9.841
	c-8.764,0-18.358,3.963-25.954,11.559C6.606,34.579,4.364,53.784,14.79,64.211c5.034,5.033,12.245,7.299,20.313,6.371
	c8.107-0.931,16.098-4.97,22.498-11.368c6.399-6.4,10.438-14.392,11.368-22.498c0.926-8.065-1.337-15.279-6.371-20.313
	C58.182,11.985,52.186,9.841,45.741,9.841"/>
<path style="fill:#FFF;" d="M38.694,75.111c-10.668,0-19.348-15.612-19.348-34.805c0-19.191,8.68-34.806,19.348-34.807
	c10.668,0,19.347,15.614,19.347,34.807S49.362,75.111,38.694,75.111 M38.694,6.5C28.577,6.501,20.347,21.667,20.347,40.307
	s8.23,33.805,18.348,33.805c10.116,0,18.347-15.165,18.347-33.805C57.041,21.666,48.811,6.5,38.694,6.5"/>
<path style="fill:#FFF;" d="M53.598,68.46c-8.409,0-19.333-5.223-28.584-14.473c-13.57-13.57-18.475-30.748-10.931-38.292
	c7.544-7.548,24.723-2.641,38.292,10.931c13.57,13.571,18.474,30.749,10.931,38.292C60.904,67.319,57.525,68.46,53.598,68.46
	 M23.837,13.113c-3.672,0-6.815,1.058-9.047,3.289c-7.153,7.152-2.25,23.696,10.931,36.878
	c13.182,13.18,29.725,18.085,36.878,10.931s2.25-23.697-10.931-36.878C42.599,18.263,31.937,13.113,23.837,13.113"/>
<path style="fill:#FFF;" d="M64.248,54.731c0.02,1.172-0.914,2.138-2.087,2.157c-1.172,0.021-2.139-0.914-2.158-2.086
	s0.915-2.139,2.087-2.157C63.262,52.625,64.228,53.559,64.248,54.731"/>
<polygon style="fill:#FFF;" points="94.872,31.616 94.872,15.856 98.17,15.856 98.17,28.634 105.759,28.634 105.759,31.616 "/>
<polygon style="fill:#FFF;" points="119.339,15.856 130.347,15.856 130.347,18.645 122.636,18.645 122.636,22.281
	129.013,22.281 129.013,24.948 122.636,24.948 122.636,28.828 130.589,28.828 130.589,31.616 119.339,31.616 "/>
</svg>
</a>
<ul class="main_menu nclear">
	<li ng-repeat="men in menu">
		<a href="{[{men.link}]}">{[{men.name}]}</a>
	</li>
	<div ng-if="!isUser" class="login-wrapper pull-right">
		<div ng-click="show_auth();" class="header-btn" id="login-btn">
			<span> <div class="ico ico1"></div>
				Войти
			</span>
		</div>
		<div ng-class="{'active':main.togl}" id="login" class="">
			<form id="login-form">
				<input type="tel" name="tel" placeholder="{[{t('phone')}]}" ng-model="authObject.tell">
				<input type="password" name="password" placeholder="{[{t('password')}]}" ng-model="authObject.pass">
				<input ng-click="login();" type="submit" value="{[{t('login')}]}">
			</form>
		</div>
	</div>
	<div ng-if="isUser" class="logined">
		<div style="background-image: url({[{user.avatar}]});" class="avatar"></div>
		<div>
			<a href="#/profile">{[{user.name}]}</a>
			<span class="logout" ng-click="logout();">{[{t('logout')}]}</span>
		</div>
	</div>
</ul>