<ul class="chat_list">
	<form action="">
		<input type="text" name="" id="chat_search" ng-model="chatSearch"/>
		<!-- <div class="add_chat" ng-click="showModal('admModal')"></div> -->
		<div ng-show="user.is_admin" class="add_chat" ng-click='toggleModalNewChat()'></div>
	</form>
	<li ng-class="{'active': yourchat.id == thisChat.id}" ng-click="open_chat(yourchat)" ng-repeat="yourchat in yourchats | filter:chatSearch" class="yourchat">
		<div class="title_chat">{[{yourchat.title}]} <span ng-if="allchatmess[yourchat.id].newMesageCout" class="newMesageCout">{[{allchatmess[yourchat.id].newMesageCout}]}</span></div>
		<div class="last_message">{[{yourchat.last_message | limitTo: 128}]}</div>
	</li>
</ul>

<!-- modals -->
<modal-dialog show='myData.modalShown' class="modal chat-adm"  id="chat-adm" width="550px">
  <div class="modal-body">
  	<div class="row">
  		<label for="chatName">{[{thisChat.title}]}</label>
  		<input type="text" name="chatName" id="chatName" ng-model="thisChat.title"/>
  	</div>
  	<div class="row">
  		<label for="userSearch">Участники</label>
  		<ul class="users">
  			<li ng-repeat="(key, member) in thisChat.members">
  			 <div style="background-image: url({[{member.avatar}]});" class="avatar"></div>
  			 {[{member.name}]}
  			 <div class="chat-adm--del" ng-click="chatAdmDel(thisChat.id, key, thisChat.members)">+</div>
  			</li>
  		</ul>
  		<div class="userSearchWrapper">
	  		<input class="ignoreClickOutside" type="text" name="userSearch" id="userSearch" ng-model="query_edit" 
	  		ng-focus="showUserList = true"/>
	  		<ul class="user-list" ng-show="showUserList" click-anywhere-but-here="showUserList = false" is-active="showUserList">
	  			<li ng-click="addUserInCurrentChat(user)" ng-repeat="user in allUsers | filter:query_edit">{[{user.name}]}</li>
	  		</ul>
  		</div>
  	</div>
  	<div class="row">
  		<input type="button" value="Сохранить" ng-click="updateChat(thisChat.id, thisChat.title, thisChat.members)"/>
  	</div>
  </div>
</modal-dialog>

<modal-dialog show='myData.modalNewChat' class="modal chat-adm"  id="chat-adm--new" width="550px">
  <div class="modal-body">
  	<div class="row">
  		<label for="chatName">{[{newChat.title}]}</label>
  		<input type="text" name="chatName" id="chatName" ng-model="newChat.title"/>
  	</div>
  	<div class="row">
  		<label for="userSearch">Участники</label>
  		<ul class="users">
  			<li ng-repeat="(key, member) in newChat.members">
  			 <div style="background-image: url({[{member.avatar}]});" class="avatar"></div>
  			 {[{member.name}]}
  			 <div class="chat-adm--del" ng-click="newChatUserDel(key, newChat.members)">+</div>
  			</li>
  		</ul>
  		<div class="userSearchWrapper">
	  		<input class="ignoreClickOutside" type="text" name="userSearch" id="userSearch" ng-model="query" 
	  		ng-focus="showUserList = true"/>
	  		<ul class="user-list" ng-show="showUserList" click-anywhere-but-here="showUserList = false" is-active="showUserList">
	  			<li ng-click="addUser(user)" ng-repeat="user in allUsers | filter:query">{[{user.name}]}</li>
	  		</ul>
  		</div>
  	</div>
  	<div class="row">
  		<input type="button" value="Сохранить" ng-click="addNewChat(newChat.title, newChat.members)"/>
  	</div>
  </div>
</modal-dialog>
<!-- modals -->

<!-- <button ng-click='toggleModal()'>Открыть модальный диалог</button> -->

<!-- <modal-dialog show='myData.modalShown' dialog-title='My Dialog' height='400px' width='75%'>
  <p>Dialog content goes in here</p>
</modal-dialog> -->

<!-- <div id="modalBg" ng-class="show:modalBg"></div> -->