<section class="sidebar" sidebar></section>
<section ng-if="thisChat.id" class="chat_block">
	<div class="chat_title">
		<div class="inline-panel">
			<h2>{[{thisChat.title}]}</h2>
			<div class="members">
				<span ng-repeat="member in thisChat.members">{[{member.name}]}</span>
			</div>
		</div>
		<div class="inline-panel">
			<i class="fa fa-cog editChat" ng-click='toggleModal()' ng-if="!thisChat.is_default"></i>
		</div>
	</div>
	<div class="chat_block_list">
		<ul class="message_list">
			<li ng-animate="'animate'" ng-repeat="message in allchatmess[thisChat.id].messages" on-finish-render="ngRepeatFinished" ng-class="{'my_message':message.sender==user.id}" class="message nclear {[{'mes_type_' + message.type}]}">
				<div class="divider" ng-if="message.is_first"><div>{[{getDividerDate(message.date)}]}</div></div>
				<div style="background-image: url({[{thisChat.members[message.sender].avatar}]});" class="avatar" ng-if="allchatmess[thisChat.id].messages[$index-1].sender != message.sender"></div>
				<div class="mess_cnt">
					<span class="mess_name" ng-if="allchatmess[thisChat.id].messages[$index-1].sender != message.sender">{[{thisChat.members[message.sender].name}]}</span>
					<p ng-show="message.text" ng-bind-html="parseLinks(message.text)"></p>
					
					<div ng-if="message.sender==user.id" class="attachment-box" ng-repeat="attachment in message.attachments">
						<a class="attachment-download" href="{[{attachment.download_url}]}">Скачать</a>
						<a target="_blank" class="attachment-link" href="{[{attachment.url}]}">{[{attachment.filename}]}</a>
					</div>
					
					<div ng-if="message.sender!=user.id" class="attachment-box" ng-repeat="attachment in message.attachments">
            <a target="_blank" class="attachment-link" href="{[{attachment.url}]}">{[{attachment.filename}]}</a>
            <a class="attachment-download" href="{[{attachment.download_url}]}">Скачать</a>
          </div>
          
					<span class="mess_date">{[{message.date}]}</span>
				</div>
			</li>
		</ul>
		<div class="dz-wrapper" ng-class="{show: showDropzone}">
		  <div dropzone="dropzoneConfig" class="dz-zone">
		     <span>Перетащите сюда файлы</span>
		  </div>
		</div>
	</div>
	<div class="chat_form">
		<form>
			<input type="hidden" name="csrfmiddlewaretoken" value="evbHF8WDctWcJHSptoGZdcqZiWFibGQU">
      <textarea ng-style="curHeight" ng-keydown="keydowntext($event);" ng-model="thisChat.newmessage.text" name="message" id="" cols="30" rows="10" ></textarea>
      <input type="hidden" name="" ng-model="thisChat.newmessage.attachments"/>
      <input ng-click="send_message();" class="icn" type="submit" value="Отправить">
    </form>
	</div>
</section>