<div ng-if="!isUser" class="">
		<input type="tel" name="tel" placeholder="Ваш телефон" ng-model="authObject.tell">
		<input type="password" name="password" placeholder="пароль" ng-model="authObject.pass">
		<div ng-click="login();">войти</div>
</div>
<div ng-if="isUser" ng-click="logout();" class="logout">выйти</div>