<section class="profile">
    <div class="container">
      <div class="row">

<ul class="nav nav-pills profile-submenu lng-submenu">
  <li class="" ng-class="{active: (activeTab=='personal-info')}">
	  <a data-tab="personal-info" ng-click="activeTab = 'personal-info'" href="" >{[{t('personal_information')}]}</a>
  </li>
  <li ng-show="user.type == 2" ng-class="{active: (activeTab=='career')}">
	  <a data-tab="career" ng-click="activeTab = 'career'" href="" >{[{t('career')}]}</a>
  </li>
  <li ng-show="user.type == 2" ng-class="{active: (activeTab=='sphere')}">
	  <a data-tab="sphere" ng-click="activeTab = 'sphere'" href="" >{[{t('fields_of_activity')}]}</a>
  </li>
  <li ng-class="{active: (activeTab=='notice')}">
	  <a data-tab="notice" ng-click="activeTab = 'notice'" href="" >{[{t('notifications')}]}</a>
  </li>
</ul>

<div class="panel personal-info" ng-class="{active: (activeTab=='personal-info')}">
	<form action="#" id="form-personal-info" enctype="multipart/form-data">
	<div class="row">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<div class="panel-avatar" style="background-image: url('{[{user.avatar}]}');">
					<div class="panel-avatar--hover">
						<input type="file" name="avatar" id="" onchange="angular.element(this).scope().avatarChanged(this.files)" />
						<i class="fa fa-pencil"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="first_name">{[{t('name')}]}</label>
				<input type="text" name="first_name" id="first_name" class="form-control" value="{[{user.first_name}]}" placeholder="{[{t('first_name')}]}"/>
			</div>
			<div class="form-group">
				<label for="last_name">{[{t('surname')}]}</label>
				<input type="text" name="last_name" id="last_name" class="form-control" value="{[{user.last_name}]}" placeholder="{[{t('last_name')}]}"/>
			</div>
			<div class="form-group">
				<label for="lang">{[{t('default_language_of_communication')}]}</label>
				<select ng-options="item.code as item.name for item in locales" name="lang" id="lang" ng-model="user.lang" ng-change="langUpdate()" class="form-control">
					<!-- <option value="{[{locale.code}]}" ng-repeat="locale in locales">{[{locale.name}]}</option> -->
				</select>
			</div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<label class="big-label pull-right">{[{t('basic_information')}]}</label>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="phone">{[{t('telephone_number')}]}</label>
				<input type="tel" ng-model="user.phone" ng-class="{notempty: user.phone}" id="phone" name="phone" class="form-control" value="{[{user.phone}]}"/>
				<!-- <div class="before">+</div> -->
			</div>
			<div class="form-group">
				<label for="email">{[{t('email')}]}</label>
				<input type="email" name="email" id="email" class="form-control" value="{[{user.email}]}" placeholder="{[{t('email')}]}"/>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="country">{[{t('country_of_operation')}]}</label>
             	<input data-country="{{ object.country_id }}" type="hidden" name="country" value="{[{user.country}]}"/>
             	<input class="form-control country_ac" ng-model="user.country_name" type="text" value="{[{user.country_name}]}" placeholder="{[{t('country')}]}" />
			</div>
			<div class="form-group">
				<label for="city">{[{t('city_of_operation')}]}</label>
             	<input type="hidden" name="city" value="{[{user.city}]}"/>
             	<input class="form-control city_ac" id="city" ng-model="user.city_name" type="text" value="{[{user.city_name}]}" placeholder="{[{t('city')}]}"/>
			</div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
	</form>
	<form action="#" id="form-postal-info" enctype="multipart/form-data">
	<div class="row">
		<div class="col-sm-4">
			<label class="big-label pull-right">{[{t('postal_address')}]}</label>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="country">{[{t('country')}]}</label>
             	<input  type="hidden" name="country" value="{[{user.address.country}]}"/>
				<input class="form-control country_ac country_post" id="country" ng-model="user.address.country_name" type="text" placeholder="{[{t('country')}]}"/>
			</div>
			<div class="form-group">
				<label for="postcode">{[{t('postcode')}]}</label>
				<input type="tel" name="zip" value="{[{user.address.zip}]}" id="postcode" class="form-control" placeholder="{[{t('postcode')}]}"/>
			</div>
			<div class="form-group">
				<label for="building">{[{t('house_number')}]}</label>
				<input type="text" name="house" id="building" value="{[{user.address.house}]}" class="form-control" placeholder="{[{t('house_number')}]}" />
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="post_city">{[{t('city')}]}</label>
             	<input  type="hidden" name="city" value="{[{user.address.city}]}"/>
				<input class="form-control city_ac city_post" id="post_city" ng-model="user.address.city_name" type="text" placeholder="{[{t('city')}]}"/>
			</div>
			<div class="form-group">
				<label for="post_street">{[{t('street')}]}</label>
				<input type="text" name="street" value="{[{user.address.street}]}" id="post_street" class="form-control" placeholder="{[{t('street')}]}"/>
			</div>
			<div class="form-group">
				<label for="apartment">{[{t('apartment')}]}</label>
				<input type="text" name="apartment" value="{[{user.address.apartment}]}" id="apartment" class="form-control" placeholder="{[{t('apartment')}]}" />
			</div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<label class="big-label pull-right" for="">{[{t('authentication')}]}</label>
		</div>
		<div class="col-sm-6">
			{[{t('your_account_associated')}]}
			<div class="form-group" style="text-align: center;">
							<div ng-show="!user.auth.fb_id" class="login-fb--btn login-vk" ng-click="addFb()"><i class="fa fa-facebook"></i></div>
							<div ng-show="!user.auth.vk_id" class="login-vk--btn login-vk" ng-click="addVk()"><i class="fa fa-vk"></i></div>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-4 buttons-wrapper">
			<button class="btn btn-primary" id="personalInfoSubmit" ng-click="updatePersonalInfo()">{[{t('save')}]}</button>
		</div>
	</div>
	</form>
</div>
<div class="panel career" ng-class="{active: (activeTab=='career')}">
	<form action="#" id="form-professional-info" enctype="multipart/form-data">
	<div class="row">
		<div class="col-sm-4">
			<label class="big-label pull-right" for="">{[{t('professional_information')}]}</label>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="site">{[{t('personal_website')}]}</label>
				<input type="text" name="site" id="site" class="form-control" value="{[{user.site}]}" placeholder="{[{t('personal_website')}]}"/>
			</div>
			<div class="form-group">
				<label for="status">{[{t('profession')}]}</label>
				<select name="status" id="status" class="form-control" ng-model="user.status">
					<option value="" selected disabled>{[{t('Select status')}]}</option>
					<option value="1">{[{t('lawyer')}]}</option>
					<option value="2">{[{t('notary')}]}</option>
					<option value="3">{[{t('accountant')}]}</option>
				</select>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="linkedin">{[{t('linkedin_profile')}]}</label>
				<input type="text" name="linkedin" id="linkedin" class="form-control" value="{[{user.linkedin}]}" placeholder="{[{t('linkedin_profile')}]}"/>
			</div>
			<div class="form-group">
				<a target="_blank" href="{[{user.resume.url}]}">{[{t('resume')}]}</a>
				<div class="file-resume--wrapper">
					<span>{[{temp.resumeFileName}]}</span>
					<input type="file" name="resume" id="resume" class="form-control" onchange="angular.element(this).scope().resumeFileNameChanged(this.files)"/>
					<div ng-show="user.resume" class="btn-del pull-right" ng-click="clearResume()">+</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
	</form>
	<form action="#" id="form-diplomas" enctype="multipart/form-data">
	<div class="row">
		<div class="col-sm-4">
			<label class="big-label pull-right" for="">{[{t('undergraduate_and_masters_degrees')}]}</label>
			<label for="" class="pull-right">{[{t('awards_in_law_competitions')}]}</label>
		</div>
		<div class="col-sm-6 form-inline">
			<div class="form-group" style="width: 100%;">
				<div class="dashed-box">
					<label class="file-label" for="resume">{[{t('diploma')}]}</label>
					<div class="btn-plus pull-right" ng-class="{active: (temp.diplomaFileName && temp.diplomaFileName!=defaultLicenseFileName)}" ng-click="addDiploma()">+</div>
					<div class="file-wrapper--blue pull-right">
						<input type="file" name="diploma" id="diploma" class="form-control" onchange="angular.element(this).scope().diplomaFileNameChanged(this.files)"/>
						<span class="fileLable">{[{temp.diplomaFileName}]}</span>
					</div>
				</div>
			</div>
			<div class="" ng-repeat="diploma in user.diplomas | reverse">
				<div class="dashed-box">
					<label>{[{diploma.name}]}</label>
					<div class="btn-del pull-right" ng-click="deleteDiploma(diploma.delete_url)">+</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
	</form>
	<form action="#" id="form-licenses" enctype="multipart/form-data">
	<div class="row">
		<div class="col-sm-4">
			<label class="big-label pull-right" for="">{[{t('licences-and-certificates')}]}</label>
			<label for="" class="pull-right">{[{t('please-upload-copies-your-licences')}]}</label>
		</div>
		<div class="col-sm-6 form-inline">
			<div class="form-group" style="width: 100%;">
				<div class="dashed-box">
					<label class="file-label" for="resume">{[{t('license')}]}</label>
					<div class="btn-plus pull-right" ng-class="{active: (temp.licenseFileName && temp.licenseFileName!=defaultLicenseFileName)}" ng-click="addLicense()">+</div>
					<div class="file-wrapper--blue pull-right">
						<input type="file" name="license" id="license" class="form-control" onchange="angular.element(this).scope().licenseFileNameChanged(this.files)" />
						<span class="fileLable">{[{temp.licenseFileName}]}</span>
					</div>
				</div>
			</div>
			<div class="" ng-repeat="license in user.licenses | reverse">
				<div class="dashed-box">
					<label>{[{license.name}]}</label>
					<div class="btn-del pull-right" ng-click="deleteLicense(license.delete_url)">+</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
	</form>
	<form action="#" id="form-associations" enctype="multipart/form-data">
	<div class="row">
		<div class="col-sm-4">
			<label class="big-label pull-right" for="">{[{t('associations')}]}</label>
			<label for="" class="pull-right">{[{t('which-legal-associations-and-societies-do-you-belo')}]}</label>
		</div>
		<div class="col-sm-6 form-inline">
			<div class="form-group" style="width: 100%;">
				<div class="dashed-box">
					<input ng-model="temp.inputAssociation" class="form-control" style="width: 90%;" type="text" name="association" id="association" placeholder="{[{t('enter-name-association')}]}"/>
					<div class="btn-plus pull-right" ng-class="{active: temp.inputAssociation}" ng-click="addAssociation()">+</div>
				</div>
			</div>
			<div class="" ng-repeat="association in user.associations | reverse">
				<div class="dashed-box">
					<label>{[{association.name}]}</label>
					<div class="btn-del pull-right" ng-click="deleteAssociation(association.delete_url)">+</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
	</form>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-4 buttons-wrapper">
			<button class="btn btn-primary" id="careerSubmit" ng-click="updateCareer()">{[{t('save')}]}</button>
		</div>
	</div>
</div>

<div class="panel sphere" ng-class="{active: (activeTab=='sphere')}">
	<div class="row">
		<div class="col-sm-4">
			<label class="big-label pull-right" for="">{[{t('fields_of_activity')}]}</label>
			<label for="" class="pull-right">{[{t('add-least-one-field-activity')}]}</label>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<div class="dashed-box">
					<div class="form-group">
						<input class="form-control area_ac" type="text" placeholder="{[{t('area')}]}"/>
					</div>
					<div class="form-group">
						<input class="form-control institute_ac" type="text" placeholder="{[{t('institute')}]}"/>
					</div>
					<div class="form-group">
						<input class="form-control tip_ac" ng-model="temp.currentTip.name" type="text" placeholder="{[{t('service-name')}]}"/>
					</div>
					<form action="" name="servicePrice">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<input id="priceFrom" ng-pattern="/^[ 0-9]+$/"  ng-disabled="!temp.currentTip.name.length" type="text" name="" placeholder="{[{t('from')}]}" ng-model="priceFrom" class="form-control" />
								</div>
								<div class="col-sm-4">
									<input id="priceTo" ng-pattern="/^[ 0-9]+$/" ng-disabled="!temp.currentTip.name.length" type="text" name="" placeholder="{[{t('to')}]}" ng-model="priceTo" class="form-control" />
								</div>
								<div class="col-sm-4">
									<div class="switcher-wrapper" ng-class="{active: temp.currentTip.name}">
										<div ng-click="selectCurrency(currency, $event)" class="switch" ng-repeat="currency in temp.currencies"><i class="fa {[{currency.fa_class}]}"></i></div>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="add-service-btn" ng-class="{active: (temp.currentTip.name && !servicePrice.$invalid && !servicePrice.$invalid)}" ng-click="addService($event);">+</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="dashed-box service-item" ng-repeat="tip in user.services | reverse">
					<div class="form-group">
						<div class="item-area">{[{tip.branch}]}</div>
						<div class="item-institute">{[{tip.institute}]}</div>
						<div class="item-service">{[{tip.name}]}</div>
						<div class="item-price" ng-class="{show: tip.price_min}">{[{tip.price_min}]}—{[{tip.price_max}]}<i class="fa {[{tip.currency.fa_class}]}"></i></div>
						<a class="del" ng-click="deleteService(tip.delete_url)">+</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			
		</div>
	</div>
</div>
<div class="panel notice" ng-class="{active: (activeTab=='notice')}">
	<form action="#" id="form-notifications" enctype="multipart/form-data">
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="new_order_to_phone">
					<input type="checkbox" ng-model="user.notifications.new_order_to_phone" ng-change="setNotifications()" name="new_order_to_phone" id="new_order_to_phone" class=""/>
					<div class="custom-checkbox">
						<div class="custom-checkbox--inner"></div>
					</div>
					<div class="custom-checkbox--label">{[{t('receive-new-client-orders-sms')}]}</div>
				</label>
			</div>
			<div class="form-group">
				<label for="new_message_to_email">
					<input type="checkbox" ng-model="user.notifications.new_message_to_email" ng-change="setNotifications()" name="new_message_to_email" id="new_message_to_email" class=""/>
					<div class="custom-checkbox">
						<div class="custom-checkbox--inner"></div>
					</div>
					<div class="custom-checkbox--label">{[{t('receive-notifications-about-new-messages-clients-e')}]}</div>
				</label>
			</div>
			<div class="form-group">
				<label for="other_notifications_to_email">
					<input type="checkbox" ng-model="user.notifications.other_notifications_to_email" ng-change="setNotifications()" name="other_notifications_to_email" id="other_notifications_to_email" class=""/>
					<div class="custom-checkbox">
						<div class="custom-checkbox--inner"></div>
					</div>
					<div class="custom-checkbox--label">{[{t('receive-notifications-site-administrator-email')}]}</div>
				</label>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="new_order_to_email">
					<input type="checkbox" ng-model="user.notifications.new_order_to_email" ng-change="setNotifications()" name="new_order_to_email" id="new_order_to_email" class=""/>
					<div class="custom-checkbox">
						<div class="custom-checkbox--inner"></div>
					</div>
					<div class="custom-checkbox--label">{[{t('receive-new-client-orders-email')}]}</div>
				</label>
			</div>
			<div class="form-group">
				<label for="new_message_to_phone">
					<input type="checkbox" ng-model="user.notifications.new_message_to_phone" ng-change="setNotifications()" name="new_message_to_phone" id="new_message_to_phone" class=""/>
					<div class="custom-checkbox">
						<div class="custom-checkbox--inner"></div>
					</div>
					<div class="custom-checkbox--label">{[{t('receive-notifications-about-new-messages-clients-s')}]}</div>
				</label>
			</div>
			<div class="form-group">
				<label for="other_notifications_to_phone">
					<input type="checkbox" ng-model="user.notifications.other_notifications_to_phone" ng-change="setNotifications()" name="other_notifications_to_phone" id="other_notifications_to_phone" class=""/>
					<div class="custom-checkbox">
						<div class="custom-checkbox--inner"></div>
					</div>
					<div class="custom-checkbox--label">{[{t('receive-messages-site-administrator-sms')}]}</div>
				</label>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
	</form>
</div>
      </div>
    </div>
</section>