<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    {% block extra_static %}{% endblock %}
</head>
<body>
    {% block content %}
        __CONTENT__
    {% endblock %}
    {% block extra_js %}

    {% endblock %}
    <script type="application/javascript">
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function limitExecByInterval(fn, time) {
            var lock, execOnUnlock, args;
            return function() {
                args = arguments;
                if (!lock) {
                    lock = true;
                    var scope = this;
                    setTimeout(function() {
                        lock = false;
                        if (execOnUnlock) {
                            args.callee.apply(scope, args);
                            execOnUnlock = false;
                        }
                    }, time);
                    return fn.apply(this, args);
                } else
                    execOnUnlock = true;
            }
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function ajaxSetupHandler(){
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
        }
        ajaxSetupHandler();
    </script>
</body>
</html>