{% extends 'base.html' %}

{% load i18n %}

{% block extra_static %}
    <script src="//cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
    <style>
        .hide { display: none; }
    </style>
{% endblock %}

{% block content %}
    <h1>Чат</h1>
    <table border="">
        <tr>
            <td valign="top" width="20%">
                <h2>Список чатов</h2>
                {% for chat in chats %}
                    <div>
                        <a class="chat_selector" href="#" data-uid="{{ chat.uid }}"><strong>{{ chat.title }}</strong><span class="count"></span></a><br/>
                        <span data-uid="{{ chat.uid }}" class="last_message">
                            {{ chat.get_last_message.text }}
                        </span>

                    </div>
                {% endfor %}
            </td>
                <td width="80%">
                {% for chat in chats %}
                    <div class="chat_window hide" data-uid="{{ chat.uid }}">
                        <div class="message_area"></div>
                        <form action="." method="post">{% csrf_token %}
                            <textarea name="message" id="" cols="30" rows="10" placeholder="{% trans 'Input message' %}"></textarea>
                            <br/>
                            <input type="submit" value="{% trans 'Send' %}"/>
                        </form>
                    </div>
                {% endfor %}
                </td>
        </tr>
    </table>

{% endblock %}

{% block extra_js %}
    <script type="application/javascript">

        //login
        $.post('/account/login/', {username: "test", password:"123"}, function(r){console.log(r)});

        //logout
        $.post('/account/logout/', function(r){console.log(r)});

        // get current user data
        $.get('/account/data/', function(r){
            console.log('current_user', r);
        });

        // get chat data
        var chat_data;
        $.get('/chat/data/', function(r){
            console.log(r);
            if (r.success){
                chat_data = r.data;
                // build chat list here
            }
        });

        var SOCKJS_URL = '{{ sockjs_url }}';

        var sock = new SockJS(SOCKJS_URL);

        sock.onconnect = function() {};

        sock.onopen = function () {
            console.log('open');
        };

        sock.onmessage = function (message) {
            // message come from server
            console.log('message', message);
            if (message.type == 'message') {
                if (message.data.type == 10){
                    console.log('Notification', message.data)
                } else if (message.data.type == 20) {
                    console.log('Update', message.data)
                    $.each(message.data.data, function(index, item){
                        $('a[data-uid=' + item.chat + '] span.count').html(item.unread);
                        $('span[data-uid='+item.chat+']').html(item.last_message);
                    })
                } else {
                    var uid = message.data.chat;
                    $('.chat_window[data-uid='+uid+'] .message_area').append(('<p><strong>' + message.data.sender + ': </strong>' + message.data.text + ' (' + message.data.date + ')' + '</p>'));
                    $('.last_message[data-uid='+uid+']').html(message.data.text);
                }
            }

        };

        sock.onclose = function () {
            console.log('close');
        };

        //send message
        $('form').on('submit', function(e){
            e.preventDefault();
            var text = $(this).find('textarea').val();
            sock.send(JSON.stringify({
                type: 'message',
                text: text
            }));
        });

        //select chat
        $('a.chat_selector').on('click', function(e){
            e.preventDefault();
            var uid = $(this).attr('data-uid');
            $('.chat_window').addClass('hide');
            $('.chat_window[data-uid='+uid+']').removeClass('hide');

            sock.send(JSON.stringify({
                type: "connect",
                chat: uid
            }));
        })

    </script>
{% endblock %}