{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h2>{% trans 'Login' %}</h2>
    <p class="error"></p>
    {% if user.is_authenticated %}
        <p>{% trans 'Hello' %}, {{ user.username }}</p>
    {% endif %}
    <form action="{% url 'account:login' %}">{% csrf_token %}
        <input type="text" name="username" placeholder="{% trans 'Username' %}"/>
        <input type="password" name="password" placeholder="{% trans 'Password' %}"/>
        <input type="submit" value="{% trans 'Login' %}"/>
    </form>

    <p><a href="{% url 'chat:root' %}">{% trans 'Chat' %}</a></p>

{% endblock %}

{% block extra_js %}
    <script type="application/javascript">
        $('form').on('submit', function(e){
            e.preventDefault();
            var url = $(this).attr('action');
            var data = $(this).serializeArray();
            $.post(url, data, function(resp){
                console.log(resp);
                if (resp.success) {
                    location.reload();
                } else {
                    $('p.error').html(resp.error);
                }

            })
        })
    </script>
{% endblock %}