{% load thumbnail %}

{% load i18n %}

<div id="benefits" class="benefits parallax" {% if background %}style="background-image: url({{ background.url }});{% endif %}">

    <div class="container">
        <h2 class="header text-caps text-center text-thin benefits__header">{% trans '<span class="colorize_color">benefits</span>' %}</h2>

        {% for advantage in advantages %}
            {% if forloop.counter == 1 %}
                <div class="benefits__1_row nclear">
            {% elif forloop.counter == 3 %}
                <div class="benefits__2_row nclear">
            {% elif forloop.counter == 5 %}
                <div class="benefits__3_row nclear">
            {% endif %}
            <div class="benefits__item nclear">
                <div class="benefits__img_wrapper"><img src="{{ advantage.img.url }}" alt="" class="benefits__img"></div>
                <div class="benefits__info">
                    <span class="benefits__title text-caps text-heaven text-big">{{ advantage.name }}</span>
                    <p class="benefits__text">{{ advantage.description }}</p>
                </div>
            </div>
            {% if forloop.counter == 2 %}
                </div>
            {% elif forloop.counter == 4 %}
                </div>
            {% elif forloop.counter == 6 %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
</div>
