{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html class="scale">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        L&G - {{ landing.name }}
    </title>
    <meta name="description" content="{{ landing.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'lb/css/prod/main.css' %}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ STATIC_URL }}lb/js/jquery-1.11.1.min.js"><\/script>');
    </script>
    <script src="{% static 'lb/js/jquery.parallax.min.js' %}"></script>
    <script src="{% static 'lb/js/simpleSlider.js' %}"></script>
    <script src="{% static 'lb/js/touchSwipe.js' %}"></script>
    <script src="{% static 'lb/js/main.js' %}"></script>
    <script src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=2.0.8"></script>

    <!-- intlTelInput -->
	<link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">
	<script src="{% static 'js/intlTelInput.min.js' %}"></script>
	<script src="{% static 'js/utils.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
    <script src="{% static 'lb/js/map.js' %}"></script>

    <script src="{% static 'lb/js/jquery-validate.min.js' %}"></script>
    
    <!-- jquery UI -->
<!--     <script src="{% static 'lb/js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lb/css/prod/jquery-ui.min.css' %}"> -->
    
    <!-- reveal modal -->
    <link rel="stylesheet" href="{% static 'lb/css/prod/reveal.css' %}">
    <script src="{% static 'lb/js/jquery.reveal.js' %}"></script>
    
    <!-- backend colors -->
    <style>
        .menu_line__item--active.colorize_background:before,
        .menu_line__item--hovered.colorize_background:before,
        .colorize_background,
        .indicator.active:after{
            background-color: {{ color }};
        }
        .mini_slide:hover .mini_slide__img{
            border-color: {{ color }};
        }
        .colorize_color:not(.menu_line__item), .colorize_color.menu_line__item--active, .colorize_color.menu_line__item--hovered{
            color: {{ color }};
        }

        /*for main logo and sliders arrows*/
        .colorize_svg_paths{
            fill: {{ color }};
            stroke: {{ color }};
        }
        .main_screen__go_down_arrow:hover .colorize_go_down_arrow{
            stroke: {{ color }};
        }

        /*inputs placeholders*/
        textarea::-webkit-input-placeholder, input::-webkit-input-placeholder{
            color: {{ color }};
        }
        textarea:-moz-placeholder, input:-moz-placeholder{
            color: {{ color }};
        }
        textarea:focus::-moz-placeholder, input:focus::-moz-placeholder{
            color: {{ color }};
        }
        textarea:focus:-ms-input-placeholder, input:focus:-ms-input-placeholder{
            color: {{ color }};
        }
        
        /*inputs, buttons and articles text hover color*/
        .colorize_background.btn:hover{
            background-color: {{ color }};
        }
        .mini_slide:hover .colorize_color{
            background-color: {{ color }};
        }
        input:hover, textarea:hover {
            border-color: {{ color }};
        }
    </style>

</head>

<body>
    <!-- jquery UI dialog -->
<!-- 	<div id="modalInfo">
		<div class="modal-content"></div>
	</div> -->
    <!-- jquery UI dialog end -->
    
    <!-- reveal modal -->
    <div id="modalInfo" class="reveal-modal">
	     <div class="modal-content"></div>
	     <a class="close-reveal-modal">&#215;</a>
	</div>
    <!-- /reveal modal -->
    
    <input class="ld" name="landing" type="text" value="{{ landing.pk }}"/>
    {% csrf_token %}
    <div class="menu_line">
        <a id="nav-toggle" href="#"><span></span></a>
        <ul class="menu_line__menu">
   
        </ul>
    </div>        

    <div class="page__wrapper">
        {#    SCREENS    #}
        {% for screen in screens %}
            {{ screen.render|safe }}
        {% endfor %}
        {#    END SCREENS    #}

        <footer>
            <div class="container nclear footer-inner">
                <div class="foot_block nclear">
                    <div class="ft_it">
                        <h3><a href="">{% trans 'About us' %}</a></h3>
                        <ul>
                            <li><a href="/{{ LANGUAGE_CODE }}/about/#about">{% trans 'About us' %}</a></li>
                            <li><a href="/{{ LANGUAGE_CODE }}/about/#our_goal">{% trans 'Our aim ' %}</a></li>
                            <li><a href="/{{ LANGUAGE_CODE }}/about/#our_mission">{% trans 'Mission' %}</a></li>
                            <li><a href="/{{ LANGUAGE_CODE }}/about/#our_lawyers">{% trans 'Lawyers' %}</a></li>
                            <li><a href="/{{ LANGUAGE_CODE }}/about/#find_out_more">{% trans 'Learn more' %}</a></li>
                            <li><a href="/{{ LANGUAGE_CODE }}/about/#a_safe_service">{% trans 'Secure services ' %}</a></li>
                            <li><a href="/{{ LANGUAGE_CODE }}/about/#we_work_for_you">{% trans 'We work 24/7 ' %}</a></li>
                        </ul>
                    </div>
                    <div class="ft_it">
                        <h3><a href="">FAQ</a></h3>
                        <ul>
                            {% for item in landing.footer_faq_items.all %}
                                <li><a href="{% url 'faq' %}#{{ item.anchor_link }}">{{ item.question }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="ft_it">
                        <h3>&nbsp;</h3>
                         <ul>
                            <li><a href="/static/confidential.docx">{% trans 'Privacy policy' %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nclear">
                 <div class="footer__copy footer-ib">
                    2015 &copy;
                </div>
                <div class="footer_social footer-ib">
                    <ul class="nclear">
                        <li><a target="_blank" class="fot_soc fot_soc_fb" href="https://www.facebook.com/LAWandGAUGE?fref=ts"><svg width="40px" height="41px" viewBox="0 0 40 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
    <title>fb</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-700.000000, -5989.000000)">
            <g id="Group" sketch:type="MSLayerGroup" transform="translate(500.000000, 5988.000000)">
                <g id="fb" transform="translate(200.000000, 1.085938)" sketch:type="MSShapeGroup">
                    <rect id="Rectangle-2" fill="#438EB4" x="0" y="0" width="40" height="40"></rect>
                    <path d="M21.8659422,30.3688555 L21.8659422,21.0777341 L24.9846936,21.0777341 L25.4515838,17.4567168 L21.8659422,17.4567168 L21.8659422,15.144948 C21.8659422,14.096578 22.1569942,13.3821272 23.6603931,13.3821272 L25.577896,13.3812254 L25.577896,10.1426127 C25.2461965,10.0986358 24.108,10 22.7838382,10 C20.0192601,10 18.1267283,11.687422 18.1267283,14.7864046 L18.1267283,17.4567168 L15,17.4567168 L15,21.0777341 L18.1267283,21.0777341 L18.1267283,30.3688555 L21.8659422,30.3688555" id="Fill-10" fill="#FFFFFF"></path>
                </g>
            </g>
        </g>
    </g>
</svg></a></li>
                        <li><a target="_blank" class="fot_soc fot_soc_link" href="https://www.linkedin.com/company/law&gauge?trk=company_logo"><svg width="40px" height="41px" viewBox="0 0 40 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
    <title>lin</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-500.000000, -5989.000000)">
            <g id="Group" sketch:type="MSLayerGroup" transform="translate(500.000000, 5988.000000)">
                <g id="lin" transform="translate(0.000000, 1.171875)" sketch:type="MSShapeGroup">
                    <rect id="Rectangle-2" fill="#438EB4" x="0" y="0" width="40" height="40"></rect>
                    <path d="M20.4993359,31.991671 C16.6890025,31.991671 12.8786692,31.9917937 9.06833588,31.98882 C9.04532054,31.9888046 9.00218788,31.945694 9.00217254,31.922694 C8.99927454,24.3045667 8.99927454,16.6864471 9.00218021,9.06831981 C9.00218788,9.04531981 9.04532054,9.00218619 9.06832821,9.00217852 C16.6889949,8.99927383 24.3096615,8.99927383 31.9303205,9.00217852 C31.9533359,9.00218619 31.9964839,9.04530448 31.9964915,9.06830448 C31.9993972,16.6864241 31.9993972,24.3045514 31.9964915,31.9226787 C31.9964839,31.9456864 31.9533589,31.9888046 31.9303435,31.98882 C28.1200102,31.9917937 24.3096769,31.991671 20.4993359,31.991671 L20.4993359,31.991671 Z M17.7348585,23.5827147 C17.7348585,25.5879759 17.7348202,27.5932372 17.7348969,29.5984908 C17.7349045,29.8492298 17.7978325,29.9115851 18.0467462,29.9115391 C19.1427959,29.9113321 20.2388532,29.9113245 21.3349105,29.9115621 C21.6071385,29.9116157 21.6698979,29.8501572 21.6698212,29.5795834 C21.6693075,27.8195584 21.6673679,26.0595411 21.6687939,24.2995237 C21.6693612,23.5929003 21.6424819,22.883878 21.8074302,22.1879613 C21.9694115,21.5045447 22.2722909,20.9231145 22.9511359,20.6144041 C23.3759689,20.4212072 23.8262169,20.3983298 24.2802599,20.4275071 C25.0398502,20.4763275 25.5747535,20.8586057 25.8049299,21.5830329 C25.9339139,21.9889856 26.0301305,22.4244298 26.0345005,22.847688 C26.0577382,25.0979096 26.0471812,27.3484761 26.0484769,29.5989199 C26.0486225,29.8511152 26.1083382,29.9104508 26.3604182,29.9104661 C27.4718012,29.9105274 28.5831842,29.9105197 29.6945672,29.9104738 C29.9663659,29.9104661 30.0260049,29.8489693 30.0248319,29.5751075 C30.0205462,28.5763971 30.0149189,27.5776867 30.0134085,26.5789686 C30.0114382,25.278867 30.0144512,23.97875 30.0123965,22.6786484 C30.0109629,21.769884 29.9407055,20.8685077 29.7031539,19.9865524 C29.3610135,18.7163025 28.6596899,17.7475051 27.3863102,17.2803468 C26.5434139,16.9711152 25.6652892,16.8860206 24.7756569,16.9821132 C23.4231265,17.1282065 22.3453312,17.7411669 21.6066172,18.9057057 C21.5926715,18.9276864 21.5641822,18.9404394 21.5424855,18.9574998 C21.5344125,18.9301772 21.5192479,18.9028393 21.5193245,18.8755397 C21.5205435,18.4285917 21.5228895,17.981636 21.5267612,17.5347033 C21.5286395,17.3183838 21.4725655,17.2580136 21.2593095,17.2579753 C20.1862905,17.2577453 19.1132639,17.2577607 18.0402449,17.2578373 C17.7938229,17.2578526 17.7342299,17.3187287 17.7342452,17.5669463 C17.7343525,19.5721999 17.7343065,21.5774611 17.7348585,23.5827147 L17.7348585,23.5827147 Z M15.3057825,23.5849526 C15.3057825,21.5721805 15.3058132,19.5594084 15.3057289,17.5466364 C15.3057212,17.3117467 15.2518322,17.2579216 15.0171402,17.257891 C13.9007279,17.2577453 12.7843155,17.2581592 11.6679032,17.2573391 C11.4050132,17.2571475 11.3444159,17.3175484 11.3458419,17.5828416 C11.3494222,18.2468756 11.3547505,18.9109173 11.3544975,19.5749589 C11.3532019,22.910802 11.3502885,26.246645 11.3481495,29.5824881 C11.3479655,29.8657997 11.3935745,29.9104354 11.6775785,29.9104354 C12.7837865,29.9104201 13.8899869,29.9104508 14.9961949,29.9104124 C15.2519395,29.9103971 15.3057519,29.8565337 15.3057595,29.6002918 C15.3058055,27.5951762 15.3057825,25.5900682 15.3057825,23.5849526 L15.3057825,23.5849526 Z M13.3468342,15.5666514 C14.5909732,15.5674254 15.6299905,14.5224084 15.6298295,13.2704758 C15.6296609,12.0193325 14.6024349,10.9879883 13.3553365,10.9868616 C12.0765902,10.9857043 11.0393285,12.0041959 11.0390832,13.2612022 C11.0388379,14.5304098 12.0753175,15.5658543 13.3468342,15.5666514 L13.3468342,15.5666514 Z" id="Imported-Layers" fill="#FFFFFF"></path>
                </g>
            </g>
        </g>
    </g>
</svg></a></li>
                        <li><a target="_blank" class="fot_soc fot_soc_tw" href="https://twitter.com/a_twittlegal"><svg width="40px" height="41px" viewBox="0 0 40 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
    <title>tw</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-800.000000, -5989.000000)">
            <g id="Group" sketch:type="MSLayerGroup" transform="translate(500.000000, 5988.000000)">
                <g id="tw" transform="translate(300.000000, 1.343750)" sketch:type="MSShapeGroup">
                    <rect id="Rectangle-2" fill="#438EB4" x="0" y="0" width="40" height="40"></rect>
                    <path d="M23.2011662,14.0516784 C23.771137,13.9827739 23.771137,13.9827739 24.3411079,14.0516784 C24.8495219,14.1866855 25.4065569,14.2785124 25.7775335,14.6343816 C26.2569038,15.0942968 26.7346385,15.0254841 27.2702624,14.8080671 C27.4817959,14.722212 27.7020525,14.6547314 27.9132886,14.5681873 C28.1044519,14.4898198 28.2887259,14.3969823 28.5464023,14.2780071 C28.2933353,15.0241979 27.8171866,15.5362509 27.1730204,16.0238198 C27.8726968,15.9545477 28.4312682,15.7436996 29,15.5675795 L29,15.6135159 C28.5523994,16.1962191 28.0415569,16.723523 27.4188513,17.1510071 C27.2879563,17.2408587 27.2682799,17.3603852 27.2726414,17.49553 C27.326863,19.167477 26.8700437,20.7257774 26.0015569,22.1773216 C24.839312,24.1198339 23.1599796,25.5269576 20.8942711,26.3073251 C20.1788834,26.5537279 19.4364344,26.6911696 18.6909621,26.8219965 C17.4023324,26.9368375 17.340379,26.9598057 16.0641399,26.8219965 C14.6145306,26.6030636 13.2566122,26.1517845 12,25.4439046 L12,25.3979682 C12.0825219,25.3987491 12.165688,25.3938799 12.2475656,25.4012297 C13.5306443,25.5161166 14.7463673,25.2834028 15.9026647,24.7748869 C16.3009504,24.5997314 16.6832274,24.3911802 17.0665452,24.0841413 C16.3044694,24.0253428 15.6538601,23.8206961 15.0965277,23.4128728 C14.5403353,23.0057845 14.115484,22.5083392 13.9101953,21.8270106 C14.1740671,21.8384028 14.3856006,21.851265 14.5972828,21.855583 C14.8131778,21.8599929 15.0286268,21.8529187 15.2499738,21.7625618 C13.453723,20.9662544 12.4726297,19.7458163 12.7037405,18.5719576 C13.1443032,18.7086643 13.5668251,18.9223145 14.1295598,18.9054558 C13.3850787,18.3451696 12.9309854,17.7036219 12.760242,16.9067173 C12.5906385,16.1151873 12.7207901,15.3706961 13.1827143,14.6242297 C15.0797259,16.6712933 17.4129883,17.7999965 20.256449,17.9919647 C20.285344,17.9280671 20.3028892,17.907258 20.3024927,17.8866784 C20.3014519,17.8259046 20.2937201,17.7652226 20.2878222,17.7045866 C20.1728863,16.5252615 20.5700321,15.5374912 21.5548921,14.7631413 C22.0353032,14.3853604 22.6080991,14.2006502 23.2011662,14.0516784" id="Imported-Layers-3" fill="#FFFFFF"></path>
                </g>
            </g>
        </g>
    </g>
</svg></a></li>
                        <li><a target="_blank" class="fot_soc fot_soc_vk" href="https://vk.com/lawandgauge"><svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
    <title>vk</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-900.000000, -5989.000000)">
            <g id="Group" sketch:type="MSLayerGroup" transform="translate(500.000000, 5988.000000)">
                <g id="vk" transform="translate(400.000000, 1.000000)" sketch:type="MSShapeGroup">
                    <rect id="Rectangle-2" fill="#438EB4" x="0" y="0" width="40" height="40"></rect>
                    <path d="M20.3071506,25.9678338 L21.566307,25.9678338 C21.566307,25.9678338 21.9465612,25.9259212 22.1409908,25.7167295 C22.319694,25.5244511 22.313982,25.1636324 22.313982,25.1636324 C22.313982,25.1636324 22.2893538,23.4740752 23.0733778,23.2252705 C23.8465713,22.9800266 24.8391936,24.8581531 25.8912352,25.5803839 C26.6868315,26.1267305 27.2914105,26.0071499 27.2914105,26.0071499 L30.1047429,25.9678338 C30.1047429,25.9678338 31.5763549,25.8770356 30.8785298,24.719953 C30.8214101,24.6254458 30.4720153,23.8640472 28.7866865,22.2997083 C27.0225027,20.6623748 27.2589932,20.9272769 29.3839215,18.0951024 C30.6780173,16.370309 31.1952847,15.3173772 31.0336433,14.866428 C30.8796425,14.4367689 29.9277459,14.5502665 29.9277459,14.5502665 L26.760197,14.5698505 C26.760197,14.5698505 26.5251901,14.5378782 26.3511603,14.642029 C26.1809139,14.7438802 26.0716445,14.9818544 26.0716445,14.9818544 C26.0716445,14.9818544 25.5701036,16.3164532 24.9017285,17.4516523 C23.491242,19.8466753 22.9271661,19.9734515 22.6966101,19.8244951 C22.1602038,19.4778451 22.2942498,18.432183 22.2942498,17.6891072 C22.2942498,15.3679689 22.646315,14.4001974 21.6086646,14.1496866 C21.2643884,14.0666033 21.0107619,14.0116349 20.1301537,14.0026589 C18.9998505,13.9911608 18.0434288,14.0061454 17.5017557,14.2714926 C17.1413821,14.4479703 16.8633499,14.8411321 17.0327804,14.8637574 C17.2421947,14.8916497 17.7162143,14.9917205 17.9675412,15.3336971 C18.2922335,15.7754478 18.2808837,16.7671057 18.2808837,16.7671057 C18.2808837,16.7671057 18.4674501,19.4994319 17.8452901,19.8387379 C17.4183757,20.0715194 16.8326388,19.5963129 15.5751145,17.4233892 C14.9309226,16.3103704 14.4443663,15.0799223 14.4443663,15.0799223 C14.4443663,15.0799223 14.3506751,14.8500339 14.1833217,14.7269668 C13.9803612,14.5778621 13.6967654,14.5306085 13.6967654,14.5306085 L10.6866296,14.5502665 C10.6866296,14.5502665 10.2348644,14.5628774 10.0688463,14.7593841 C9.92115098,14.934304 10.0570514,15.295642 10.0570514,15.295642 C10.0570514,15.295642 12.4135001,20.8089574 15.0819561,23.5873503 C17.5289803,26.1350388 20.3071506,25.9678338 20.3071506,25.9678338" id="Fill-11" fill="#FFFFFF"></path>
                </g>
            </g>
        </g>
    </g>
</svg></a></li>
                    </ul>
                </div>

                <a href="/" class="footer__logo footer-ib"><img src="{% static 'lb/img/logo_LS_white.svg' %}" alt=""></a>
                </div>
            </div>

        </footer>
    </div>
    <div class="white_overlay"></div>

{#    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
{#    <script>#}
{#        window.jQuery || document.write('<script src="{{ STATIC_URL }}lb/js/jquery-1.11.1.min.js"><\/script>');#}
{#    </script>#}
{#    <script src="{% static 'lb/js/jquery.parallax.min.js' %}"></script>#}
{#    <script src="{% static 'lb/js/simpleSlider.js' %}"></script>#}
{#    <script src="{% static 'lb/js/touchSwipe.js' %}"></script>#}
{#    <script src="{% static 'lb/js/main.js' %}"></script>#}
{#    <script src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=2.0.8"></script>#}
{#    #}
{#    <!-- intlTelInput -->#}
{#	<link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">#}
{#	<script src="{% static 'js/intlTelInput.min.js' %}"></script>#}
{#	<script src="{% static 'js/utils.js' %}"></script>#}
{#    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>#}
{#    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>#}
{#    <script src="{% static 'lb/js/map.js' %}"></script>#}
    {% block scripts %}{% endblock %}
    <script type="text/javascript">
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    <link rel="stylesheet" href="//cdn.callbackhunter.com/widget2/tracker.css">
    <script type="text/javascript" src="//cdn.callbackhunter.com/widget2/tracker.js" charset="UTF-8"></script>
    <script type="text/javascript">var hunter_code="f80eaa9c48d50340dd13609d149326f4";</script>
</body>

</html>