{% load thumbnail %}
{% load i18n %}
<div id="addresses" class="addresses">
    <div class="container nclear">
        <h2 class="header text-caps text-center text-thin benefits__header">{% trans '<span class="colorize_color">Contacts</span>' %}</h2>
        <div class="mp_bx nclear">
            <div class="addresses__map"></div>
            <div class="address_blc">
                {% for office in offices %}
                    <div class="addresses__box">
                        <h3 class="text-caps text-thin">{{ office.name }}</h3>
                        <p class="add_b_addres">{{ office.address }}</p><p class="add_b_phone">{{ office.phone }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% block scripts %}
    <script type="text/javascript">
    var markers ="";
    var maps = 'https://maps.googleapis.com/maps/api/staticmap?zoom=2&size=600x365&scale=1&style=color:0x5b5bc9&style=element:labels.text%7Cvisibility:off&style=feature:administrative%7Celement:geometry.stroke%7Cvisibility:off&style=feature:road%7Celement:labels%7Cvisibility:off&style=feature:road%7Celement:geometry%7Ccolor:0xefefe3&style=feature:water%7Celement:geometry.fill%7Ccolor:0x3f628c&style=feature:landscape.natural%7Celement:geometry.fill%7Ccolor:0x2e4766&style=feature:landscape.natural.landcover%7Ccolor:0x23344e&style=feature:landscape.natural.terrain%7Ccolor:0x23344e&style=feature:all%7Celement:geometry.stroke%7Cvisibility:off&style=feature:administrative%7Celement:geometry.fill%7Cvisibility:off&markers=icon:http://lawandgauge.webtm.ru/static/landing/img/regularBall.png%7Csize:small%7Clabel:S';
        {% for office in offices %}
            markers += '%7C'+{{ office.lat|stringformat:"f" }}+','+{{ office.lng|stringformat:"f" }};
        {% endfor %}
        console.log(markers);
        maps = maps + markers;
        $('.addresses__map').css({'background-image': 'url('+maps+')'});
    </script>
{% endblock %}