{% load thumbnail %}
{% load i18n %}
<div id="project" class="project">
    <div class="container nclear">
        <h2 class="header text-caps text-center text-thin">{% if title %}{{ title|safe }}{% else %}{% trans '<span class="colorize_color">MORE</span> INFORMATION' %}{% endif %}</h2>
        <div class="project-inner">
            {% if img %}
            <img src="{{ img.url }}" alt="" class="project__passports">
            {% endif %}
            <div class="project__info">
                {{ text|safe }}
            </div>
        </div>
    </div>
</div>
