{% load thumbnail %}
{% load i18n %}
<div id="faq" class="faq">
    <div class="container">

        <h2 class="header text-caps text-center text-thin">{% if title %}{{ title|safe }}{% else %}{% trans '<span class="colorize_color">FAQ' %}{% endif %}</h2>

        {% for item in items %}
            <h3 class="project__header text-big colorize_color text-caps">{{ item.question|safe }}</h3>
            <p>{{ item.answer|safe }}</p>
        {% endfor %}

    </div>

</div>
