{% load thumbnail %}
{% load i18n %}
<div id="feedbacks" class="feedbacks">
    <div class="container">
        <h2 class="header text-caps text-center text-thin">{% if title %}{{ title|safe }}{% else %}{% trans '<span class="colorize_color">customer</span> reviews' %}{% endif %}</h2>
        <div class="feedb_b">
        <div class="feedbacks_slider__navi_triagle feedbacks_slider__navi_triagle-prev">
            <svg width="45px" height="88px" viewBox="0 0 45 88" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
                <title>Line + Line</title>
                <defs></defs>
                <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-210.000000, -2410.000000)"
                       stroke-linecap="round" class="colorize_svg_paths" stroke-width="2">
                        <g id="Line-+-Line-+-Line-+-Line" sketch:type="MSLayerGroup"
                           transform="translate(211.000000, 2410.000000)">
                            <g id="Line-+-Line" transform="translate(0.000000, 1.000000)" sketch:type="MSShapeGroup">
                                <path d="M42.4264076,-1.11022302e-16 L0,42.4264062" id="Line"></path>
                                <path d="M42.4264076,43 L0,85.4264062" id="Line"
                                      transform="translate(21.213204, 64.213203) scale(1, -1) translate(-21.213204, -64.213203) "></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>

        <div class="feedbacks_slider__navi_triagle feedbacks_slider__navi_triagle-next">
            <svg width="45px" height="88px" viewBox="0 0 45 88" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <title>Line + Line</title>
                <defs></defs>
                <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-1185.000000, -2409.000000)"
                       stroke-linecap="round" class="colorize_svg_paths" stroke-width="2">
                        <g id="Line-+-Line-+-Line-+-Line" sketch:type="MSLayerGroup"
                           transform="translate(211.000000, 2410.000000)">
                            <g id="Line-+-Line"
                               transform="translate(996.500000, 43.000000) scale(-1, -1) translate(-996.500000, -43.000000) translate(975.000000, 0.000000)"
                               sketch:type="MSShapeGroup">
                                <path d="M42.4264076,-1.11022302e-16 L0,42.4264062" id="Line"></path>
                                <path d="M42.4264076,43 L0,85.4264062" id="Line"
                                      transform="translate(21.213204, 64.213203) scale(1, -1) translate(-21.213204, -64.213203) "></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>

        <div class="feedback_slider">

            {% for feedback in feedbacks %}
                <div class="feedbacks_slide">
                    <div class="feedbacks_slider__photo" style="background-image: url({% if feedback.img %}{{ feedback.img.url }}{% endif %})"></div>
                    <p class="feedbacks_slider__name text-caps text-big colorize_color">{{ feedback.name }}</p>

                    <p class="feedbacks_slider__corporation text-caps text-big">{{ feedback.office }}</p>

                    <p class="feedbacks_slider__text">{{ feedback.text }}</p>
                </div>
            {% endfor %}

        </div>
        </div>
    </div>

</div>
