<!DOCTYPE html>
<html class="scale">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        L&C
        {% block title %}{% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/prod/main.css">
    
    <!-- backend colors -->
    <style>
        .menu_line__item--active.colorize_background:before,
        .menu_line__item--hovered.colorize_background:before,
        .colorize_background,
        .indicator.active:after{
            background-color: #438EB4;
        }
        .mini_slide:hover .mini_slide__img{
            border-color: #438EB4;
        }
        .colorize_color:not(.menu_line__item), .colorize_color.menu_line__item--active, .colorize_color.menu_line__item--hovered{
            color: #438EB4;
        }

        /*for main logo and sliders arrows*/
        .colorize_svg_paths{
            fill: #438EB4;
            stroke: #438EB4;
        }
        .main_screen__go_down_arrow:hover .colorize_go_down_arrow{
            stroke: #438EB4;
        }

        /*inputs placeholders*/
        textarea::-webkit-input-placeholder, input::-webkit-input-placeholder{
            color: #438EB4;
        }
        textarea:-moz-placeholder, input:-moz-placeholder{
            color: #438EB4;
        }
        textarea:focus::-moz-placeholder, input:focus::-moz-placeholder{
            color: #438EB4;
        }
        textarea:focus:-ms-input-placeholder, input:focus:-ms-input-placeholder{
            color: #438EB4;
        }
        
        /*inputs, buttons and articles text hover color*/
        .colorize_background.btn:hover{
            background-color: #14243D;
        }
        .mini_slide:hover .colorize_color{
            background-color: #14243D;
        }
        input:hover, textarea:hover {
            border-color: #14243D;
        }
    </style>

</head>

<body>

    <div class="menu_line">
        <ul class="menu_line__menu">

        </ul>
    </div>        

    <div class="main_screen">
        <div class="container">
            <!-- <img src="img/LG_logo.svg" alt="" class="main_screen__logo"> -->
            <div class="main_screen__info_wrapper">
                <svg class="main_screen__logo" width="846px" height="150px" viewBox="0 0 846 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
                    <title>Imported Layers</title>
                    <defs></defs>
                    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-90.000000, -60.000000)">
                            <g id="TitleLIGHT" sketch:type="MSLayerGroup" transform="translate(90.000000, 60.000000)">
                                <g id="Imported-Layers" sketch:type="MSShapeGroup">
                                    <path d="M0.762396694,2.80855556 L20.4554174,2.80855556 L20.4554174,131.007778 L52.6438306,131.007778 L52.6438306,147.499756 L0.762396694,147.499756 L0.762396694,2.80855556" id="Fill-1" fill="#31353A"></path>
                                    <path d="M112.378504,104.206133 L108.025384,81.1515556 C105.11743,65.4724889 102.752293,48.7258222 100.922926,30.9220222 C100.038202,39.6058667 98.8996942,48.3978667 97.5144504,57.305 C96.1256818,66.2016667 94.4866529,75.6565556 92.590314,85.6487333 L88.9950248,104.206133 L112.378504,104.206133 L112.378504,104.206133 Z M93.5384835,2.80855556 L108.87486,2.80855556 L140.213798,147.499756 L120.711116,147.499756 L115.219488,119.292089 L86.2492107,119.292089 L80.6624132,147.499756 L61.7272231,147.499756 L93.5384835,2.80855556 L93.5384835,2.80855556 Z" id="Fill-2" fill="#31353A"></path>
                                    <path d="M138.067198,2.80855556 L157.094033,2.80855556 L167.037475,70.0010667 L168.648306,79.9339333 C169.406136,85.3103111 169.973628,90.2087111 170.350781,94.6465778 L171.39412,106.920489 C171.454041,107.237978 171.517488,107.799689 171.580934,108.609111 C171.64438,109.422022 171.743074,110.454733 171.866442,111.700267 L172.338764,107.014689 C173.096595,98.8332444 173.900248,91.3077111 174.756773,84.4311111 C175.599198,77.5614889 176.536793,71.2186889 177.548409,65.4096889 L188.055818,2.80855556 L203.20538,2.80855556 L213.050128,63.6268667 C214.502343,72.6212222 215.718397,80.9631556 216.694764,88.6491778 C217.671132,96.3352 218.47831,103.675822 219.109248,110.671044 C219.740186,103.302511 220.452194,96.1782 221.238223,89.3050889 C222.027777,82.4354667 222.866678,75.6879556 223.747876,69.0625556 L225.168368,59.4122889 L233.596149,2.80855556 L252.436169,2.80855556 L226.58886,147.499756 L211.252483,147.499756 L200.931888,84.9928222 C200.868442,84.7486 200.713351,83.7158889 200.459566,81.9016667 C200.205781,80.0909333 199.825103,77.4986889 199.321058,74.1249333 L197.333074,59.6914 C197.206182,58.5679778 197.001744,56.8793556 196.71976,54.6325111 C196.434252,52.3821778 196.134645,49.5422222 195.820938,46.1021778 L195.345091,40.1047778 C195.221723,41.5456889 195.091306,42.7947111 194.967938,43.8553333 C194.841045,44.9194444 194.745876,45.7916667 194.68243,46.4789778 C194.365198,50.6028444 194.100839,53.8021556 193.882302,56.0804 C193.656715,58.3656222 193.515723,59.7542 193.452277,60.2531111 L191.460769,74.1249333 C191.020169,77.3102889 190.678264,79.8083333 190.424479,81.6190667 C190.170694,83.4332889 189.980355,84.5602 189.856988,84.9928222 L179.155715,147.499756 L163.347017,147.499756 L138.067198,2.80855556" id="Fill-3" fill="#31353A"></path>
                                    <path d="M336.298054,132.1312 C331.75107,132.1312 327.873798,130.198356 324.655661,126.3222 C321.437525,122.512333 319.823169,117.795356 319.823169,112.171267 C319.823169,105.172556 323.48543,97.6784222 330.806426,89.6784 L351.165632,122.948444 C346.301417,129.071444 341.349083,132.1312 336.298054,132.1312 M336.01607,62.9709556 C330.584364,52.5391778 327.873798,44.9194444 327.873798,40.1047778 C327.873798,36.7310222 329.008781,33.8282667 331.282273,31.3895333 C333.615686,28.8949778 336.396748,27.6424667 339.614884,27.6424667 C342.706128,27.6424667 345.194632,28.6891333 347.090971,30.7789778 C348.983785,32.8758 349.92843,35.6983111 349.92843,39.2639556 C349.92843,43.0738222 348.952062,46.6010889 346.999326,49.8527333 C346.051157,51.4785556 344.658864,53.3695333 342.833021,55.5186889 C341.000128,57.6783111 338.726636,60.1589111 336.01607,62.9709556 M338.381207,12.9298222 C330.112041,12.9298222 323.295091,15.4941556 317.930355,20.6123556 C312.629066,25.8003333 309.974897,32.3664222 309.974897,40.2931778 C309.974897,50.9761556 313.890942,62.4441333 321.715983,74.6866444 C314.208174,82.3098667 308.938607,89.0224889 305.91081,94.8349778 C302.879488,100.584667 301.363826,106.704178 301.363826,113.200489 C301.363826,122.822844 304.585488,131.101978 311.02176,138.0344 C317.581401,144.911 325.314798,148.344067 334.214901,148.344067 C343.745942,148.344067 352.110277,144.3144 359.307905,136.255067 L366.212975,147.499756 L387.802335,147.499756 L372.183975,123.321756 L387.802335,101.7674 L375.303417,91.9287333 L363.375517,108.703311 L344.059649,77.4044889 C348.416293,73.0922222 352.011583,69.2021111 354.852566,65.7376444 C357.69355,62.2662 359.840149,59.2238889 361.292364,56.6002444 C364.383607,51.2901556 365.934517,45.3555556 365.934517,38.7929556 C365.934517,31.1104222 363.403715,24.8653111 358.359736,20.0506444 C353.368628,15.3057556 346.710293,12.9298222 338.381207,12.9298222" id="Fill-4" fill="#438EB4"></path>
                                    <path d="M478.125165,0.935022222 C465.562802,0.935022222 456.257347,5.65548889 450.198227,15.0824667 C443.75843,25.1479111 440.540293,45.3555556 440.540293,75.7158667 C440.540293,102.273289 443.472921,121.169111 449.341702,132.410311 C455.27393,143.658489 465.217372,149.279089 479.168504,149.279089 C492.671988,149.279089 501.889322,144.2202 506.809934,134.095444 C511.793992,124.228867 514.289545,105.203956 514.289545,77.0276889 L514.289545,71.4070889 L478.498793,71.4070889 L478.498793,87.8955778 L495.639864,87.8955778 L495.639864,94.7372889 C495.639864,107.736889 494.34274,117.170844 491.755541,123.042644 C489.235314,128.541133 484.850471,131.290378 478.601012,131.290378 C471.784062,131.290378 467.141909,127.417711 464.674554,119.668889 C462.217773,111.923556 460.98762,97.0818222 460.98762,75.1541556 C460.98762,53.4742 462.182525,38.4545333 464.589959,30.0812 C466.983293,22.0846667 471.466831,18.0864 478.029996,18.0864 C482.82724,18.0864 486.422529,19.5552222 488.826438,22.4858889 C490.021343,23.9233111 491.124603,25.9433778 492.132694,28.5321333 C493.14431,31.1243778 494.057231,34.3306667 494.885558,38.1405333 L513.253256,30.5487111 C510.218409,19.9913333 505.988657,12.403 500.567525,7.77673333 C495.192215,3.21675556 487.716128,0.935022222 478.125165,0.935022222" id="Fill-5" fill="#438EB4"></path>
                                    <path d="M550.175467,104.206133 L553.770756,85.6487333 C555.667095,75.6565556 557.302599,66.2016667 558.694893,57.305 C560.080136,48.3978667 561.218645,39.6058667 562.103368,30.9220222 C563.929211,48.7258222 566.297872,65.4724889 569.198777,81.1515556 L573.555421,104.206133 L550.175467,104.206133 M570.055302,2.80855556 L554.718926,2.80855556 L522.907665,147.499756 L541.842855,147.499756 L547.426128,119.292089 L576.396405,119.292089 L581.888033,147.499756 L601.390715,147.499756 L570.055302,2.80855556" id="Fill-6" fill="#438EB4"></path>
                                    <path d="M680.162798,2.80855556 L660.84693,2.80855556 L660.84693,107.859 C660.84693,117.230156 659.902285,123.450844 658.005946,126.5106 C656.180103,129.507556 652.39095,131.007778 646.645537,131.007778 C640.903649,131.007778 637.05105,129.291244 635.094789,125.8512 C633.201975,122.418133 632.253806,115.485711 632.253806,105.050444 L632.253806,2.80855556 L612.941463,2.80855556 L612.941463,105.050444 C612.941463,120.855111 614.806079,131.538089 618.531785,137.099378 C623.892996,145.221511 633.142054,149.279089 646.268384,149.279089 C658.196285,149.279089 667.064665,146.128622 672.87705,139.817222 C677.73069,134.252444 680.162798,123.604356 680.162798,107.859 L680.162798,2.80855556" id="Fill-7" fill="#438EB4"></path>
                                    <path d="M737.345521,0.935022222 C724.790207,0.935022222 715.481227,5.65548889 709.422107,15.0824667 C702.98231,25.1479111 699.764174,45.3555556 699.764174,75.7158667 C699.764174,102.273289 702.696802,121.169111 708.565583,132.410311 C714.501335,143.658489 724.437727,149.279089 738.392384,149.279089 C751.895868,149.279089 761.113202,144.2202 766.033814,134.095444 C771.017872,124.228867 773.509901,105.203956 773.509901,77.0276889 L773.509901,71.4070889 L737.726198,71.4070889 L737.726198,87.8955778 L754.863744,87.8955778 L754.863744,94.7372889 C754.863744,107.736889 753.570145,117.170844 750.979421,123.042644 C748.459194,128.541133 744.074351,131.290378 737.821368,131.290378 C731.007942,131.290378 726.362264,127.417711 723.901959,119.668889 C721.441653,111.923556 720.2115,97.0818222 720.2115,75.1541556 C720.2115,53.4742 721.40993,38.4545333 723.813839,30.0812 C726.203649,22.0846667 730.690711,18.0864 737.257401,18.0864 C742.05112,18.0864 745.649934,19.5552222 748.050318,22.4858889 C749.245223,23.9233111 750.352008,25.9433778 751.360099,28.5321333 C752.36819,31.1243778 753.284636,34.3306667 754.109438,38.1405333 L772.477136,30.5487111 C769.445814,19.9913333 765.212537,12.403 759.78788,7.77673333 C754.416095,3.21675556 746.940008,0.935022222 737.345521,0.935022222" id="Fill-8" fill="#438EB4"></path>
                                    <path d="M845.468558,2.80855556 L793.114802,2.80855556 L793.114802,147.499756 L845.468558,147.499756 L845.468558,131.007778 L812.807822,131.007778 L812.807822,81.6190667 L841.774574,81.6190667 L841.774574,65.1270889 L812.807822,65.1270889 L812.807822,19.3005333 L845.468558,19.3005333 L845.468558,2.80855556" id="Fill-9" fill="#438EB4"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>


                <p class="main_screen__synopsys text-caps">получить <span class="colorize_color">гражданство сша</span></p>
                <p class="main_screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse expedita eveniet quae itaque iure pariatur ut voluptatem beatae suscipit, sed.</p>
                <a href class="btn text-caps colorize_background js-goto-form">Заказать сейчас</a>
            </div>
            <div class="main_screen__go_down_arrow__wrapper js-goto-project">
                <svg class="main_screen__go_down_arrow" width="102px" height="102px" viewBox="0 0 102 102" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <title>Group</title>
                    <defs>
                        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="go_down_arrow_filter">
                            <feMorphology radius="10" in="SourceAlpha" operator="dilate" result="shadowSpreadOuter1"></feMorphology>
                            <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0.0901960784   0 0 0 0 0.141176471   0 0 0 0 0.247058823  0 0 0 0.35114923 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
                            <feMerge>
                                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                                <feMergeNode in="SourceGraphic"></feMergeNode>
                            </feMerge>
                        </filter>
                    </defs>
                    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-669.000000, -909.000000)" class="colorize_go_down_arrow" stroke-width="2">
                            <g id="Group" sketch:type="MSLayerGroup" transform="translate(690.000000, 930.000000)">
                                <circle id="go_down_arrow__circle" fill-opacity="0.403221241" fill="#17243F" filter="url(#go_down_arrow_filter)" sketch:type="MSShapeGroup" cx="30" cy="30" r="30"></circle>
                                <path d="M30,16.5 L30,44.5" id="Line" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
                                <path d="M16,35 L30,46" id="Line" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
                                <path d="M30,35 L44.0556386,46" id="Line-2" stroke-linecap="round" sketch:type="MSShapeGroup" transform="translate(37.027819, 40.500000) scale(1, -1) translate(-37.027819, -40.500000) "></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>



            <!-- <img src="img/i__go_down_arrow.svg" alt="" class="main_screen__go_down_arrow js-goto-project"> -->
        </div>
            
    </div>

    <div class="page__wrapper">
        
        <div class="project">
            <div class="container">
                <h2 class="header text-caps text-center text-thin"><span class="colorize_color">БОЛЬШЕ ИНФОРМАЦИИ</span> ПРО ЭТУ УСЛУГУ</h2>
                <img src="img/blured_passports.png" alt="" class="project__passports">
                <div class="project__info">
                    <p class="project__header text-big colorize_color text-caps">Lorem ipsum dolor sit.</p>
                    <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque saepe, delectus consectetur omnis dicta quaerat, unde libero repellat ipsam non nam doloremque aliquam beatae odio iste ducimus amet rem. Saepe reiciendis laboriosam labore. Sunt, hic nihil. Maxime distinctio repudiandae quaerat, fugiat, doloremque maiores aut reiciendis soluta excepturi, rem accusamus quia, ex explicabo itaque corrupti neque ea odit. Itaque quia architecto odit est dolor magni numquam, accusantium molestiae. Quia saepe similique eveniet nobis officiis sint quisquam necessitatibus tempore possimus sequi sit, distinctio, quasi quo hic illum magni dolore veritatis. Facere voluptate vero aspernatur accusantium natus quod consequuntur, a quae, deleniti eveniet.</p>
                    <p class="project__header text-big colorize_color text-caps">Lorem ipsum dolor sit.</p>
                    <p class="project__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis facere odio quam, ab tempora eius repellendus, nulla soluta atque adipisci.</p>
                </div>
            </div>
        </div>


        <div class="benefits parallax">

            <div class="container">
                <h2 class="header text-caps text-center text-thin benefits__header"><span class="colorize_color">преимущества </span>НАШИХ УСЛУГ</h2>    

                <div class="benefits__1_row">
                    <div class="benefits__item">
                        <div class="benefits__img_wrapper"><img src="img/i__money.svg" alt="" class="benefits__img"></div>
                        <div class="benefits__info">
                            <span class="benefits__title text-caps text-heaven text-big">Цена</span>
                            <p class="benefits__text">Lorem ipsum dolom quia. Ipsam eaque ipsa debitis!</p>
                        </div>
                    </div>

                    <div class="benefits__item">
                        <div class="benefits__img_wrapper"><img src="img/i__cash.svg" alt="" class="benefits__img"></div>
                        <div class="benefits__info">
                            <span class="benefits__title text-caps text-heaven text-big">возврат денег</span>
                            <p class="benefits__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates et reiciendis amet aliquam ad totam quia. Ipsam eaque ipsa debitis!</p>
                        </div>
                    </div>


                </div>

                <div class="benefits__2_row">

                    <div class="benefits__item">
                        <div class="benefits__img_wrapper"><img src="img/i__warranty.svg" alt="" class="benefits__img"></div>
                        <div class="benefits__info">
                            <span class="benefits__title text-caps text-heaven text-big">гарантия получения</span>
                            <p class="benefits__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates et reiciendis amet aliquam ad totam quia. Ipsam eaque ipsa debitis!</p>
                        </div>
                    </div>   

                    <div class="benefits__item">
                        <div class="benefits__img_wrapper"><img src="img/i__chart.svg" alt="" class="benefits__img"></div>
                        <div class="benefits__info">
                            <span class="benefits__title text-caps text-heaven text-big">80% успешных проектов</span>
                            <p class="benefits__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates et reiciendis amet aliquam ad totam quia. Ipsam eaque ipsa debitis!</p>
                        </div>
                    </div>

                </div>

                <div class="benefits__3_row">
                    
                    <div class="benefits__item">
                        <div class="benefits__img_wrapper"><img src="img/i__diamond.svg" alt="" class="benefits__img"></div>
                        <div class="benefits__info">
                            <span class="benefits__title text-caps text-heaven text-big">качество</span>
                            <p class="benefits__text">Lorem ipsu quia. Ipsam eaque ipsa debitis!</p>
                        </div>
                    </div>

                    <div class="benefits__item">
                        <div class="benefits__img_wrapper"><img src="img/i__timer.svg" alt="" class="benefits__img"></div>
                        <div class="benefits__info">
                            <span class="benefits__title text-caps text-heaven text-big">скорость</span>
                            <p class="benefits__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates et reiciendis amet aliquam ad totam quia. Ipsam eaque ipsa debitis!</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="feedbacks">
            <div class="container">
                <h2 class="header text-caps text-center text-thin"><span class="colorize_color">отзывы</span> клиентов</h2>

                <div class="feedbacks_slider__navi_triagle feedbacks_slider__navi_triagle-prev">
                    <svg width="45px" height="88px" viewBox="0 0 45 88" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
                        <title>Line + Line</title>
                        <defs></defs>
                        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-210.000000, -2410.000000)" stroke-linecap="round" class="colorize_svg_paths" stroke-width="2">
                                <g id="Line-+-Line-+-Line-+-Line" sketch:type="MSLayerGroup" transform="translate(211.000000, 2410.000000)">
                                    <g id="Line-+-Line" transform="translate(0.000000, 1.000000)" sketch:type="MSShapeGroup">
                                        <path d="M42.4264076,-1.11022302e-16 L0,42.4264062" id="Line"></path>
                                        <path d="M42.4264076,43 L0,85.4264062" id="Line" transform="translate(21.213204, 64.213203) scale(1, -1) translate(-21.213204, -64.213203) "></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>

                <div class="feedbacks_slider__navi_triagle feedbacks_slider__navi_triagle-next">
                    <svg width="45px" height="88px" viewBox="0 0 45 88" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <title>Line + Line</title>
                        <defs></defs>
                        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-1185.000000, -2409.000000)" stroke-linecap="round" class="colorize_svg_paths" stroke-width="2">
                                <g id="Line-+-Line-+-Line-+-Line" sketch:type="MSLayerGroup" transform="translate(211.000000, 2410.000000)">
                                    <g id="Line-+-Line" transform="translate(996.500000, 43.000000) scale(-1, -1) translate(-996.500000, -43.000000) translate(975.000000, 0.000000)" sketch:type="MSShapeGroup">
                                        <path d="M42.4264076,-1.11022302e-16 L0,42.4264062" id="Line"></path>
                                        <path d="M42.4264076,43 L0,85.4264062" id="Line" transform="translate(21.213204, 64.213203) scale(1, -1) translate(-21.213204, -64.213203) "></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>

                <div class="feedback_slider">
                    <div class="feedbacks_slide">
                        <div class="feedbacks_slider__photo" style="background-image: url(img/lorem.jpg)"></div>
                        <p class="feedbacks_slider__name text-caps text-big colorize_color">Lorem ipsum dolor.</p>
                        <p class="feedbacks_slider__corporation text-caps text-big">Lorem ipsum dolor sit amet.</p>
                        <p class="feedbacks_slider__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ipsum commodi quaerat magnam perspiciatis! Nobis sit perferendis est enim! Voluptatibus facilis velit recusandae temporibus dolorum quia aliquid quod fugiat fuga labore id, itaque consequuntur, asperiores corporis! Numquam optio ad, sed corporis repellendus, nesciunt unde alias soluta aut voluptas? Aliquid sed nihil nostrum. Explicabo sit asperiores, veritatis ipsum. Dignissimos sequi dolore commodi nulla esse dolor ea, suscipit voluptatem fugit laboriosam ut rem eligendi expedita ipsa accusamus eveniet. Eum atque, ratione voluptate laudantium itaque suscipit fugiat qui voluptas fugit, totam recusandae consequuntur quas. Molestias magnam fugit aliquid. Cupiditate eos, laudantium soluta sequi.</p>
                    </div>

                    <div class="feedbacks_slide">
                        <div class="feedbacks_slider__photo" style="background-image: url(img/lorem.jpg)"></div>
                        <p class="feedbacks_slider__name text-caps text-big colorize_color">Lorem ipsum dolor.</p>
                        <p class="feedbacks_slider__corporation text-caps text-big">Lorem ipsum dolor sit amet.</p>
                        <p class="feedbacks_slider__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ipsum commodi quaerat magnam perspiciatis! oriosam ut rem eligendi expedita ipsa accusamus eveniet. Eum atque, ratione voluptate laudantium itaque suscipit fugiat qui voluptas fugit, totam recusandae consequuntur quas. Molestias magnam fugit aliquid. Cupiditate eos, laudantium soluta sequi.</p>
                    </div>
                    <div class="feedbacks_slide">
                        <div class="feedbacks_slider__photo" style="background-image: url(img/lorem.jpg)"></div>
                        <p class="feedbacks_slider__name text-caps text-big colorize_color">Lorem ipsum dolor.</p>
                        <p class="feedbacks_slider__corporation text-caps text-big">Lorem ipsum dolor sit amet.</p>
                        <p class="feedbacks_slider__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ipsum commodi quaerat magnam perspiciatis! oriosam ut rem eligendi expedita ipsa accusamus eveniet. Eum atque, ratione voluptate laudantium itaque suscipit fugiat qui voluptas fugit, totam recusandae consequuntur quas. Molestias magnam fugit aliquid. Cupiditate eos, laudantium soluta sequi.</p>
                    </div>
                    <div class="feedbacks_slide">
                        <div class="feedbacks_slider__photo" style="background-image: url(img/lorem.jpg)"></div>
                        <p class="feedbacks_slider__name text-caps text-big colorize_color">Lorem ipsum dolor.</p>
                        <p class="feedbacks_slider__corporation text-caps text-big">Lorem ipsum dolor sit amet.</p>
                        <p class="feedbacks_slider__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ipsum commodi quaerat magnam perspiciatis! oriosam ut rem eligendi expedita ipsa accusamus eveniet. Eum atque, ratione voluptate laudantium itaque suscipit fugiat qui voluptas fugit, totam recusandae consequuntur quas. Molestias magnam fugit aliquid. Cupiditate eos, laudantium soluta sequi.</p>
                    </div>

                </div>
            </div>

        </div>




        <div class="map"  style="background:url(img/map.jpg) no-repeat center center; height: 785px;background-size:cover">
            <div class="container">
                <h2 class="header text-caps text-center text-thin"><span class="colorize_color">карта </span><span class="text-heaven">наших клиентов</span></h2>
            </div>

        </div>
    







        <div class="form">
            <div class="container">
                <h2 class="header text-caps text-center text-thin"><span class="colorize_color">заказать </span>сейчас</h2>

                <div class="form__block_1 js-form-block-1 text-center">
                    <p class="form__about_text text-big">Начать работать с нами проще простого, напишите о себе, подтвердите личность одним из предложенных способов и присоединяйтесь к нам!</p>
                    <textarea name="" placeholder="о себе" id="" cols="30" rows="10" class="form__textarea"></textarea>
                    <a href="" class="btn colorize_background btn--small text-caps js-next">далее</a>
                </div>

                <div class="form__block_2 js-form-block-2 text-center">
                    <p class="form__auth_text text-big">Подтвердите личность любым из способов ниже для регистрации</p>
                    <div class="form__auth_variants">
                        <input type="text" placeholder="мобильный телефон" class="form__phone"><a href="" class="btn text-caps form__phone_code_btn colorize_background">получить код</a><a href="" class="btn btn--x_small btn--fb colorize_background"></a><a href="" class="btn btn--x_small btn--vk colorize_background"></a>
                        <a href="" class="btn btn--small colorize_background form__block_2__back_btn text-caps js-back">назад</a>
                    </div>
                </div>
            </div>

        </div>




        <div class="articles">
            <div class="container">
                <h2 class="header text-caps text-center text-thin"><span class="colorize_color">читайте</span> также</h2>
                <div class="slider__navi_triagle-prev">
                    <svg class="" width="45px" height="88px" viewBox="0 0 45 88" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
                        <title>Line + Line</title>
                        <defs></defs>
                        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-210.000000, -2410.000000)" stroke-linecap="round" class="colorize_svg_paths" stroke-width="2">
                                <g id="Line-+-Line-+-Line-+-Line" sketch:type="MSLayerGroup" transform="translate(211.000000, 2410.000000)">
                                    <g id="Line-+-Line" transform="translate(0.000000, 1.000000)" sketch:type="MSShapeGroup">
                                        <path d="M42.4264076,-1.11022302e-16 L0,42.4264062" id="Line"></path>
                                        <path d="M42.4264076,43 L0,85.4264062" id="Line" transform="translate(21.213204, 64.213203) scale(1, -1) translate(-21.213204, -64.213203) "></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="slider__navi_triagle-next">
                    <svg width="45px" height="88px" viewBox="0 0 45 88" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <title>Line + Line</title>
                        <defs></defs>
                        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-1185.000000, -2409.000000)" stroke-linecap="round" class="colorize_svg_paths" stroke-width="2">
                                <g id="Line-+-Line-+-Line-+-Line" sketch:type="MSLayerGroup" transform="translate(211.000000, 2410.000000)">
                                    <g id="Line-+-Line" transform="translate(996.500000, 43.000000) scale(-1, -1) translate(-996.500000, -43.000000) translate(975.000000, 0.000000)" sketch:type="MSShapeGroup">
                                        <path d="M42.4264076,-1.11022302e-16 L0,42.4264062" id="Line"></path>
                                        <path d="M42.4264076,43 L0,85.4264062" id="Line" transform="translate(21.213204, 64.213203) scale(1, -1) translate(-21.213204, -64.213203) "></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>

                <div class="mini_slider__wrapper">
                    <div class="mini_slider">
                        <a href class="mini_slide">
                            <div class="mini_slide__img" style="background-image: url(img/lorem.jpg)">
                                
                            </div>
                            <p class="mini_slide__title text-big text-caps colorize_color">the 1st.</p>
                        </a>
                        <a href class="mini_slide">
                            <div class="mini_slide__img" style="background-image: url(img/lorem.jpg)">
                                
                            </div>
                            <p class="mini_slide__title text-big text-caps colorize_color">Lorem ipsum dolor sit.</p>
                        </a>
                        <a href class="mini_slide">
                            <div class="mini_slide__img" style="background-image: url(img/lorem.jpg)">
                                
                            </div>
                            <p class="mini_slide__title text-big text-caps colorize_color">Lorem ipsum dolor sit amet, comus.</p>
                        </a>

                        <a href class="mini_slide">
                            <div class="mini_slide__img" style="background-image: url(img/lorem.jpg)">
                                
                            </div>
                            <p class="mini_slide__title text-big text-caps colorize_color">Lorem ipsum dolor sit.</p>
                        </a>
                        <a href class="mini_slide">
                            <div class="mini_slide__img" style="background-image: url(img/lorem.jpg)">
                                
                            </div>
                            <p class="mini_slide__title text-big text-caps colorize_color">Lorem ipsum dolor sit.</p>
                        </a>
                        <a href class="mini_slide">
                            <div class="mini_slide__img" style="background-image: url(img/lorem.jpg)">
                                
                            </div>
                            <p class="mini_slide__title text-big text-caps colorize_color">the last</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    



{#        <footer>#}
{#            <div class="container">#}
{#                <div class="footer__copy">#}
{#                    2015 &copy;#}
{#                </div>#}
{#                <a href="/" class="footer__logo"><img src="img/LG_logo--small.svg" alt=""></a>#}
{#            </div>#}
{##}
{#        </footer>#}
        {% include 'landing/footer.html' %}













    </div>
    <div class="white_overlay"></div>







    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')
    </script>
    <script src="js/jquery.parallax.min.js"></script>
    <script src="js/simpleSlider.js"></script>
    <script src="js/main.js"></script>
    <script src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=2.0.8"></script>

</body>

</html>