{% load thumbnail %}

{% load i18n %}

<div id="main_screen" class="main_screen" style="background-image: url({{ background.url }});">
    <div class="container">
        <!-- <img src="img/LG_logo.svg" alt="" class="main_screen__logo"> -->
        <div class="main_screen__info_wrapper">
            {% if logo != 3 %}
            <a href="/">
<!--            <svg
                     class="main_screen__logo {% if logo == 2 %}white{% endif %}" width="846px" height="150px" viewBox="0 0 846 150" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                &lt;!&ndash; Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch &ndash;&gt;
                <title>Imported Layers</title>
                <defs></defs>
                <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-90.000000, -60.000000)">
                        <g id="TitleLIGHT" sketch:type="MSLayerGroup" transform="translate(90.000000, 60.000000)">
                            <g id="Imported-Layers" sketch:type="MSShapeGroup">
                                <path d="M0.762396694,2.80855556 L20.4554174,2.80855556 L20.4554174,131.007778 L52.6438306,131.007778 L52.6438306,147.499756 L0.762396694,147.499756 L0.762396694,2.80855556"
                                      id="Fill-1" fill="#31353A"></path>
                                <path d="M112.378504,104.206133 L108.025384,81.1515556 C105.11743,65.4724889 102.752293,48.7258222 100.922926,30.9220222 C100.038202,39.6058667 98.8996942,48.3978667 97.5144504,57.305 C96.1256818,66.2016667 94.4866529,75.6565556 92.590314,85.6487333 L88.9950248,104.206133 L112.378504,104.206133 L112.378504,104.206133 Z M93.5384835,2.80855556 L108.87486,2.80855556 L140.213798,147.499756 L120.711116,147.499756 L115.219488,119.292089 L86.2492107,119.292089 L80.6624132,147.499756 L61.7272231,147.499756 L93.5384835,2.80855556 L93.5384835,2.80855556 Z"
                                      id="Fill-2" fill="#31353A"></path>
                                <path d="M138.067198,2.80855556 L157.094033,2.80855556 L167.037475,70.0010667 L168.648306,79.9339333 C169.406136,85.3103111 169.973628,90.2087111 170.350781,94.6465778 L171.39412,106.920489 C171.454041,107.237978 171.517488,107.799689 171.580934,108.609111 C171.64438,109.422022 171.743074,110.454733 171.866442,111.700267 L172.338764,107.014689 C173.096595,98.8332444 173.900248,91.3077111 174.756773,84.4311111 C175.599198,77.5614889 176.536793,71.2186889 177.548409,65.4096889 L188.055818,2.80855556 L203.20538,2.80855556 L213.050128,63.6268667 C214.502343,72.6212222 215.718397,80.9631556 216.694764,88.6491778 C217.671132,96.3352 218.47831,103.675822 219.109248,110.671044 C219.740186,103.302511 220.452194,96.1782 221.238223,89.3050889 C222.027777,82.4354667 222.866678,75.6879556 223.747876,69.0625556 L225.168368,59.4122889 L233.596149,2.80855556 L252.436169,2.80855556 L226.58886,147.499756 L211.252483,147.499756 L200.931888,84.9928222 C200.868442,84.7486 200.713351,83.7158889 200.459566,81.9016667 C200.205781,80.0909333 199.825103,77.4986889 199.321058,74.1249333 L197.333074,59.6914 C197.206182,58.5679778 197.001744,56.8793556 196.71976,54.6325111 C196.434252,52.3821778 196.134645,49.5422222 195.820938,46.1021778 L195.345091,40.1047778 C195.221723,41.5456889 195.091306,42.7947111 194.967938,43.8553333 C194.841045,44.9194444 194.745876,45.7916667 194.68243,46.4789778 C194.365198,50.6028444 194.100839,53.8021556 193.882302,56.0804 C193.656715,58.3656222 193.515723,59.7542 193.452277,60.2531111 L191.460769,74.1249333 C191.020169,77.3102889 190.678264,79.8083333 190.424479,81.6190667 C190.170694,83.4332889 189.980355,84.5602 189.856988,84.9928222 L179.155715,147.499756 L163.347017,147.499756 L138.067198,2.80855556"
                                      id="Fill-3" fill="#31353A"></path>
                                <path d="M336.298054,132.1312 C331.75107,132.1312 327.873798,130.198356 324.655661,126.3222 C321.437525,122.512333 319.823169,117.795356 319.823169,112.171267 C319.823169,105.172556 323.48543,97.6784222 330.806426,89.6784 L351.165632,122.948444 C346.301417,129.071444 341.349083,132.1312 336.298054,132.1312 M336.01607,62.9709556 C330.584364,52.5391778 327.873798,44.9194444 327.873798,40.1047778 C327.873798,36.7310222 329.008781,33.8282667 331.282273,31.3895333 C333.615686,28.8949778 336.396748,27.6424667 339.614884,27.6424667 C342.706128,27.6424667 345.194632,28.6891333 347.090971,30.7789778 C348.983785,32.8758 349.92843,35.6983111 349.92843,39.2639556 C349.92843,43.0738222 348.952062,46.6010889 346.999326,49.8527333 C346.051157,51.4785556 344.658864,53.3695333 342.833021,55.5186889 C341.000128,57.6783111 338.726636,60.1589111 336.01607,62.9709556 M338.381207,12.9298222 C330.112041,12.9298222 323.295091,15.4941556 317.930355,20.6123556 C312.629066,25.8003333 309.974897,32.3664222 309.974897,40.2931778 C309.974897,50.9761556 313.890942,62.4441333 321.715983,74.6866444 C314.208174,82.3098667 308.938607,89.0224889 305.91081,94.8349778 C302.879488,100.584667 301.363826,106.704178 301.363826,113.200489 C301.363826,122.822844 304.585488,131.101978 311.02176,138.0344 C317.581401,144.911 325.314798,148.344067 334.214901,148.344067 C343.745942,148.344067 352.110277,144.3144 359.307905,136.255067 L366.212975,147.499756 L387.802335,147.499756 L372.183975,123.321756 L387.802335,101.7674 L375.303417,91.9287333 L363.375517,108.703311 L344.059649,77.4044889 C348.416293,73.0922222 352.011583,69.2021111 354.852566,65.7376444 C357.69355,62.2662 359.840149,59.2238889 361.292364,56.6002444 C364.383607,51.2901556 365.934517,45.3555556 365.934517,38.7929556 C365.934517,31.1104222 363.403715,24.8653111 358.359736,20.0506444 C353.368628,15.3057556 346.710293,12.9298222 338.381207,12.9298222"
                                      id="Fill-4" fill="#438EB4"></path>
                                <path d="M478.125165,0.935022222 C465.562802,0.935022222 456.257347,5.65548889 450.198227,15.0824667 C443.75843,25.1479111 440.540293,45.3555556 440.540293,75.7158667 C440.540293,102.273289 443.472921,121.169111 449.341702,132.410311 C455.27393,143.658489 465.217372,149.279089 479.168504,149.279089 C492.671988,149.279089 501.889322,144.2202 506.809934,134.095444 C511.793992,124.228867 514.289545,105.203956 514.289545,77.0276889 L514.289545,71.4070889 L478.498793,71.4070889 L478.498793,87.8955778 L495.639864,87.8955778 L495.639864,94.7372889 C495.639864,107.736889 494.34274,117.170844 491.755541,123.042644 C489.235314,128.541133 484.850471,131.290378 478.601012,131.290378 C471.784062,131.290378 467.141909,127.417711 464.674554,119.668889 C462.217773,111.923556 460.98762,97.0818222 460.98762,75.1541556 C460.98762,53.4742 462.182525,38.4545333 464.589959,30.0812 C466.983293,22.0846667 471.466831,18.0864 478.029996,18.0864 C482.82724,18.0864 486.422529,19.5552222 488.826438,22.4858889 C490.021343,23.9233111 491.124603,25.9433778 492.132694,28.5321333 C493.14431,31.1243778 494.057231,34.3306667 494.885558,38.1405333 L513.253256,30.5487111 C510.218409,19.9913333 505.988657,12.403 500.567525,7.77673333 C495.192215,3.21675556 487.716128,0.935022222 478.125165,0.935022222"
                                      id="Fill-5" fill="#438EB4"></path>
                                <path d="M550.175467,104.206133 L553.770756,85.6487333 C555.667095,75.6565556 557.302599,66.2016667 558.694893,57.305 C560.080136,48.3978667 561.218645,39.6058667 562.103368,30.9220222 C563.929211,48.7258222 566.297872,65.4724889 569.198777,81.1515556 L573.555421,104.206133 L550.175467,104.206133 M570.055302,2.80855556 L554.718926,2.80855556 L522.907665,147.499756 L541.842855,147.499756 L547.426128,119.292089 L576.396405,119.292089 L581.888033,147.499756 L601.390715,147.499756 L570.055302,2.80855556"
                                      id="Fill-6" fill="#438EB4"></path>
                                <path d="M680.162798,2.80855556 L660.84693,2.80855556 L660.84693,107.859 C660.84693,117.230156 659.902285,123.450844 658.005946,126.5106 C656.180103,129.507556 652.39095,131.007778 646.645537,131.007778 C640.903649,131.007778 637.05105,129.291244 635.094789,125.8512 C633.201975,122.418133 632.253806,115.485711 632.253806,105.050444 L632.253806,2.80855556 L612.941463,2.80855556 L612.941463,105.050444 C612.941463,120.855111 614.806079,131.538089 618.531785,137.099378 C623.892996,145.221511 633.142054,149.279089 646.268384,149.279089 C658.196285,149.279089 667.064665,146.128622 672.87705,139.817222 C677.73069,134.252444 680.162798,123.604356 680.162798,107.859 L680.162798,2.80855556"
                                      id="Fill-7" fill="#438EB4"></path>
                                <path d="M737.345521,0.935022222 C724.790207,0.935022222 715.481227,5.65548889 709.422107,15.0824667 C702.98231,25.1479111 699.764174,45.3555556 699.764174,75.7158667 C699.764174,102.273289 702.696802,121.169111 708.565583,132.410311 C714.501335,143.658489 724.437727,149.279089 738.392384,149.279089 C751.895868,149.279089 761.113202,144.2202 766.033814,134.095444 C771.017872,124.228867 773.509901,105.203956 773.509901,77.0276889 L773.509901,71.4070889 L737.726198,71.4070889 L737.726198,87.8955778 L754.863744,87.8955778 L754.863744,94.7372889 C754.863744,107.736889 753.570145,117.170844 750.979421,123.042644 C748.459194,128.541133 744.074351,131.290378 737.821368,131.290378 C731.007942,131.290378 726.362264,127.417711 723.901959,119.668889 C721.441653,111.923556 720.2115,97.0818222 720.2115,75.1541556 C720.2115,53.4742 721.40993,38.4545333 723.813839,30.0812 C726.203649,22.0846667 730.690711,18.0864 737.257401,18.0864 C742.05112,18.0864 745.649934,19.5552222 748.050318,22.4858889 C749.245223,23.9233111 750.352008,25.9433778 751.360099,28.5321333 C752.36819,31.1243778 753.284636,34.3306667 754.109438,38.1405333 L772.477136,30.5487111 C769.445814,19.9913333 765.212537,12.403 759.78788,7.77673333 C754.416095,3.21675556 746.940008,0.935022222 737.345521,0.935022222"
                                      id="Fill-8" fill="#438EB4"></path>
                                <path d="M845.468558,2.80855556 L793.114802,2.80855556 L793.114802,147.499756 L845.468558,147.499756 L845.468558,131.007778 L812.807822,131.007778 L812.807822,81.6190667 L841.774574,81.6190667 L841.774574,65.1270889 L812.807822,65.1270889 L812.807822,19.3005333 L845.468558,19.3005333 L845.468558,2.80855556"
                                      id="Fill-9" fill="#438EB4"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>-->

<svg class="main_screen__logo" version="1.1" id="&#x421;&#x43B;&#x43E;&#x439;_1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="450px" height="150px"
	 viewBox="0 0 209.517 79" style="enable-background:new 0 0 209.517 79;" xml:space="preserve">
<path style="fill:#0D0F0F;" d="M150.861,25.337v-2.546h7.831v1.454c0,4.631-2.449,7.734-7.226,7.734s-8.025-3.006-8.025-8.122
	c0-5.117,3.249-8.366,8.025-8.366c2.861,0,4.995,0.85,6.474,2.91l-2.424,2.037c-0.994-1.479-2.207-2.109-4.05-2.109
	c-2.425,0-4.68,1.575-4.68,5.406c0,4.05,2.255,5.408,4.68,5.408c2.619,0,3.952-1.407,3.952-3.807H150.861z"/>
<path style="fill:#0D0F0F;" d="M181.412,28.876h-6.498l-1.26,2.74h-3.322l7.783-16.245h0.146l7.759,16.245h-3.321L181.412,28.876z
	 M175.934,26.452h4.461l-2.23-4.922L175.934,26.452z"/>
<polygon style="fill:#0D0F0F;" points="198.63,31.616 198.63,15.856 201.927,15.856 201.927,28.634 209.517,28.634 209.517,31.616
	"/>
<path style="fill:#0D0F0F;" d="M100.4,64.311c-1.916,0-4.582-0.581-5.867-2.813l0.945-0.848c1.431,2.086,3.37,2.399,4.922,2.399
	c2.521,0,4.583-0.896,4.583-3.249c0-2.108-1.479-2.787-4.269-3.441c-3.055-0.729-5.697-1.285-5.697-4.534
	c0-2.304,1.988-4.001,5.504-4.001c1.818,0,3.613,0.266,5.286,1.818l-0.946,1.043c-1.552-1.357-2.788-1.602-4.34-1.602
	c-2.764,0-4.146,1.359-4.146,2.741c0,2.109,1.625,2.57,4.316,3.224c3.007,0.729,5.648,1.48,5.648,4.752
	C106.34,62.831,103.674,64.311,100.4,64.311"/>
<path style="fill:#0D0F0F;" d="M122.248,63.946h-1.358v-15.76h4.874c3.516,0,5.94,1.358,5.94,4.995s-2.425,5.165-5.94,5.165h-3.516
	V63.946z M125.521,57.207c2.789,0,4.825-0.873,4.825-4.025s-2.036-3.831-4.825-3.831h-3.272v7.856H125.521z"/>
<path style="fill:#0D0F0F;" d="M154.206,59.995h-8.001l-1.673,3.952h-1.431l7.007-16.245h0.146l7.08,16.245h-1.431L154.206,59.995z
	 M146.666,58.904h7.079l-3.563-8.341L146.666,58.904z"/>
<path style="fill:#0D0F0F;" d="M177.121,63.05c2.085,0,3.758-0.994,4.752-2.739l1.188,0.751c-1.236,2.086-3.321,3.249-5.939,3.249
	c-4.292,0-7.178-3.055-7.178-8.171c0-5.115,2.886-8.317,7.178-8.317c2.618,0,4.703,1.164,5.939,3.226l-1.188,0.752
	c-0.994-1.723-2.667-2.716-4.752-2.716c-3.395,0-5.771,2.667-5.771,6.983C171.35,60.358,173.727,63.05,177.121,63.05"/>
<polygon style="fill:#0D0F0F;" points="197.61,48.188 207.164,48.188 207.164,49.399 198.969,49.399 198.969,55.219 205.83,55.219
	205.83,56.431 198.969,56.431 198.969,62.735 207.406,62.735 207.406,63.947 197.61,63.947 "/>
<path style="fill:#1D1D21;" d="M44.074,18.861c0.028,1.742-1.36,3.18-3.104,3.21c-1.743,0.028-3.18-1.36-3.21-3.104
	c-0.029-1.743,1.36-3.18,3.103-3.21C42.606,15.729,44.045,17.118,44.074,18.861"/>
<path style="fill:#1D1D21;" d="M38.694,75.111c-19.192,0-34.807-15.612-34.807-34.805S19.502,5.5,38.694,5.5
	S73.5,21.114,73.5,40.307S57.887,75.111,38.694,75.111 M38.694,6.5C20.053,6.5,4.888,21.666,4.888,40.307
	c0,18.64,15.165,33.805,33.807,33.805c18.641,0,33.806-15.165,33.806-33.805C72.5,21.666,57.335,6.5,38.694,6.5"/>
<path style="fill:#1D1D21;" d="M31.61,71.784c-6.911,0-13.04-2.379-17.527-6.866C3.268,54.103,5.51,34.263,19.08,20.692
	C32.652,7.118,52.492,4.881,63.305,15.694c5.256,5.254,7.62,12.76,6.658,21.135c-0.956,8.331-5.096,16.532-11.654,23.092
	c-6.56,6.559-14.76,10.697-23.091,11.653C33.995,71.716,32.791,71.784,31.61,71.784 M45.741,9.841
	c-8.764,0-18.358,3.963-25.954,11.559C6.606,34.579,4.364,53.784,14.79,64.211c5.034,5.033,12.245,7.299,20.313,6.371
	c8.107-0.931,16.098-4.97,22.498-11.368c6.399-6.4,10.438-14.392,11.368-22.498c0.926-8.065-1.337-15.279-6.371-20.313
	C58.182,11.985,52.186,9.841,45.741,9.841"/>
<path style="fill:#1D1D21;" d="M38.694,75.111c-10.668,0-19.348-15.612-19.348-34.805c0-19.191,8.68-34.806,19.348-34.807
	c10.668,0,19.347,15.614,19.347,34.807S49.362,75.111,38.694,75.111 M38.694,6.5C28.577,6.501,20.347,21.667,20.347,40.307
	s8.23,33.805,18.348,33.805c10.116,0,18.347-15.165,18.347-33.805C57.041,21.666,48.811,6.5,38.694,6.5"/>
<path style="fill:#1D1D21;" d="M53.598,68.46c-8.409,0-19.333-5.223-28.584-14.473c-13.57-13.57-18.475-30.748-10.931-38.292
	c7.544-7.548,24.723-2.641,38.292,10.931c13.57,13.571,18.474,30.749,10.931,38.292C60.904,67.319,57.525,68.46,53.598,68.46
	 M23.837,13.113c-3.672,0-6.815,1.058-9.047,3.289c-7.153,7.152-2.25,23.696,10.931,36.878
	c13.182,13.18,29.725,18.085,36.878,10.931s2.25-23.697-10.931-36.878C42.599,18.263,31.937,13.113,23.837,13.113"/>
<path style="fill:#242122;" d="M64.248,54.731c0.02,1.172-0.914,2.138-2.087,2.157c-1.172,0.021-2.139-0.914-2.158-2.086
	s0.915-2.139,2.087-2.157C63.262,52.625,64.228,53.559,64.248,54.731"/>
<polygon style="fill:#0D0F0F;" points="94.872,31.616 94.872,15.856 98.17,15.856 98.17,28.634 105.759,28.634 105.759,31.616 "/>
<polygon style="fill:#0D0F0F;" points="119.339,15.856 130.347,15.856 130.347,18.645 122.636,18.645 122.636,22.281
	129.013,22.281 129.013,24.948 122.636,24.948 122.636,28.828 130.589,28.828 130.589,31.616 119.339,31.616 "/>
</svg>

            </a>
            {% endif %}
            <p class="main_screen__synopsys text-caps">{{ title|safe }}</p>

            <p class="main_screen__text">{{ description|safe }}</p>
           
        </div>
        
		<form id="form_signup" action="/lb/job_request/" method="post">
        <div class="main_form">
          <div class="form__personal_fields">
            <div class="form__row">
              <div class="form__col col-6">
                <input data-required class="form__control" type="text" name="first_name" id="first_name" placeholder="{% trans 'First name' %}"/>
                <div class="required"></div>
              </div>
              <div class="form__col col-6">
                <input data-required class="form__control" type="text" name="last_name" id="last_name" placeholder="{% trans 'Last name' %}"/>
                <div class="required"></div>
              </div>
            </div>
            <div class="form__row">
              <div class="form__col col-6">
                <input data-required class="form__control" type="tel" name="phone" id="phone" placeholder="{% trans 'Phone' %}"/>
                <div class="required"></div>
              </div>
              <div class="form__col col-6">
                <input data-required class="form__control" type="email" name="email" id="email" placeholder="E-mail"/>
                <div class="required"></div>
              </div>
            </div>
          </div>
          <button class="btn colorize_background text-caps js-next" type="submit">{% trans 'Send request' %}</button>
          <div class="under_button" style="color: white;">{% trans 'One of the top ten experts in international law and taxation will answer your questions' %}</div>
        </div>
		</form>
        
        <div class="main_screen__go_down_arrow__wrapper js-goto-project">
            <svg class="main_screen__go_down_arrow" width="102px" height="102px" viewBox="0 0 102 102" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <title>Group</title>
                <defs>
                    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox"
                            id="go_down_arrow_filter">
                        <feMorphology radius="10" in="SourceAlpha" operator="dilate"
                                      result="shadowSpreadOuter1"></feMorphology>
                        <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="5" in="shadowOffsetOuter1"
                                        result="shadowBlurOuter1"></feGaussianBlur>
                        <feColorMatrix
                                values="0 0 0 0 0.0901960784   0 0 0 0 0.141176471   0 0 0 0 0.247058823  0 0 0 0.35114923 0"
                                in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
                        <feMerge>
                            <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                            <feMergeNode in="SourceGraphic"></feMergeNode>
                        </feMerge>
                    </filter>
                </defs>
                <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="1440" sketch:type="MSArtboardGroup" transform="translate(-669.000000, -909.000000)"
                       class="colorize_go_down_arrow" stroke-width="2">
                        <g id="Group" sketch:type="MSLayerGroup" transform="translate(690.000000, 930.000000)">
                            <circle id="go_down_arrow__circle" fill-opacity="0.403221241" fill="#17243F"
                                    filter="url(#go_down_arrow_filter)" sketch:type="MSShapeGroup" cx="30" cy="30"
                                    r="30"></circle>
                            <path d="M30,16.5 L30,44.5" id="Line" stroke-linecap="round"
                                  sketch:type="MSShapeGroup"></path>
                            <path d="M16,35 L30,46" id="Line" stroke-linecap="round" sketch:type="MSShapeGroup"></path>
                            <path d="M30,35 L44.0556386,46" id="Line-2" stroke-linecap="round"
                                  sketch:type="MSShapeGroup"
                                  transform="translate(37.027819, 40.500000) scale(1, -1) translate(-37.027819, -40.500000) "></path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>

</div>
