<div id="map_style" class="map">
    <div class="container">
        <h2 class="header text-caps text-center text-thin">{% trans '<span class="colorize_color">Our </span>network' %}</h2>
    </div>
</div>
