{% load thumbnail %}
{% load i18n %}
<div id="partners" class="partners">
    <div class="container">
        <h2 class="header text-caps text-center text-thin">{% if title %}{{ title|safe }}{% else %}{% trans '<span class="colorize_color">Partners</span>' %}{% endif %}</h2>

        <section class="partners">
        	<ul class="nclear">
				{% for partner in partners %}
					<li style="background-image: url({{ partner.logo.url }});" ></li>
				{% endfor %}
			</ul>
		</section>

    </div>

</div>
