{% load thumbnail %}
{% load i18n %}
<div id="prices" class="prices">
    <div class="container">
        <h2 class="header text-caps text-center text-thin prices__title colorize_color">{% if title %}{{ title|safe }}{% else %}{% trans '<span class="colorize_color">Prices</span>' %}{% endif %}</h2>

        <section class="prices">
            {% for package in packages %}

                <div class="prices__item">
                    <div class="prices__item-icon" style="background-image: url({% if package.image %}{{ package.image.url }}{% endif %})"></div>
                    <div class="prices__item-title-1 colorize_color">{{ package.name|upper }}</div>
                    <div class="prices__item-title-2">{{ package.description }}</div>
                    <div class="prices__item-body">
                        <ul>
                            {% for item in package.items.all %}
                                <li>
                                    <div class="prices__item-body__item-name">{{ item.name }}</div>
                                    <div class="prices__item-body__item-price colorize_color">{% if item.get_price %}{{ item.get_price }}{% else %}{% trans 'included' %}{% endif %}</div>
                                </li>
                            {% endfor %}
                        </ul>
                        {# Translators: ВСЕГО #}
                        <div class="prices__item-body__total"><span class="label">{% trans 'TOTAL' %}</span><span class="val colorize_color" >{{ package.get_total_price }}</span></div>
                        <div class="clear"></div>
                        <a href="{{ package.link }}" class="prices__item-body__btn-more">{% trans 'Learn more' %}</a>
                    </div>
                </div>

            {% endfor %}
        </section>

    </div>

</div>
