<div id="signup" class="form">
    <div class="container">
        <h2 class="header text-caps text-center text-thin">{% if title %}{{ title|safe }}{% else %}<span class="colorize_color">заказать </span>сейчас{% endif %}</h2>

		<form id="form_signup" action="{% url 'job_request' %}" method="post">{% csrf_token %}
			<div class="form__block_1 js-form-block-1 text-center">
				<p class="form__about_text text-big">Начать работать с нами проще простого, напишите о себе, подтвердите
					личность одним из предложенных способов и присоединяйтесь к нам!</p>
				
{#				<a href="#" class="btn colorize_background btn--small text-caps js-next">далее</a>#}
			</div>
		</form>
        
        <div class="form__block_2 js-form-block-2 text-center">
            <p class="form__auth_text text-big">Подтвердите личность любым из способов ниже для регистрации</p>

            <div class="form__auth_variants">
                <input type="text" placeholder="мобильный телефон" class="form__phone"><a href=""
                                                                                          class="btn text-caps form__phone_code_btn colorize_background">получить
                код</a><a href="" class="btn btn--x_small btn--fb colorize_background"></a><a href=""
                                                                                              class="btn btn--x_small btn--vk colorize_background"></a>
                <a href=""
                   class="btn btn--small colorize_background form__block_2__back_btn text-caps js-back">назад</a>
            </div>
        </div>
    </div>

</div>
