html, body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	height: 100%;
}

h1, h2, h3, h4 {
	font-weight: 300;
}

.step2, .step3, .step4 {
	display: none;
}
.main {
	height: 100%;
}
.martin {
	/* width: 297px;
	height: 297px; */
	width: 11em;
	height: 11em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: url("../img/martin.jpg");
	background-size: cover;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.martin span {
	text-align: center;
	display: block;
	bottom: -45px;
	position: absolute;
	width: 100%;
	color: #fff;
	/* font-size: 24px; */
	font-size: 1em;
}
#login-btn svg {
	position: absolute;
	width: 595.28px;
	height: 240.94px;
	fill: #fff;
	left: -255px;
	top: -89px;
}

#login-btn {
	width: 170px;
	text-decoration: none;
	background: #17243f;
	border: 3px solid #17243f;
	color: #fff;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}

.for_lawyers.step1.chide {
	opacity: 0 !important;
	visibility: hidden !important;
}

#login {
	width: 290px;
	height: 170px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.8);
	position: absolute;
	top: 80px;
	left: 50%;
	margin-left: -145px;
	padding: 16px 14px 14px 14px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

#login.dark {
	background: rgba(23, 36, 63, 0.3);
}

#login.show {
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	z-index: 99;
}

#login input[type=tel], #login input[type=password] {
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #17243f;
	height: 42px;
	margin-bottom: 9px;
	background: transparent;
	font-size: 14px;
	color: #17243f;
	padding-left: 14px;
}

#login input[type=submit] {
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 42px;
	background: #17243f;
	color: #fff;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.login-wrapper {
	position: relative;
	margin-right: 200px;
}

.step4 .submit-wrapper {
	/* padding-top: 40px; */
	padding-top: 3.5em;
	/* padding-bottom: 120px; */
	padding-bottom: 2em;
}

.q1 {
	width: 52px;
	height: 50px;
	background: url("../img/q.svg") 50% 50% no-repeat;
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -23px;
	background-size: contain;
}

.q2 {
	width: 52px;
	height: 50px;
	background: url("../img/q.svg") 50% 50% no-repeat;
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -26px;
}

.submit-wrapper button.lsubmit[type=submit] {
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 3px solid #0096cb;
	color: #0096cb;
	/* font-size: 18px; */
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: 300;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	-webkit-transform: perspective(1px) translateZ(0px);
	-moz-transform: perspective(1px) translateZ(0px);
	-ms-transform: perspective(1px) translateZ(0px);
	-o-transform: perspective(1px) translateZ(0px);
	transform: perspective(1px) translateZ(0px);
	padding: 5px;
	text-transform: uppercase
}

.submit-wrapper button.lsubmit[type=submit]:HOVER {
	opacity: 0.8;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.step4.active {
	top: 0px;
	opacity: 1;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.step4 {
	opacity: 0;
	z-index: 2;
	position: relative;
	position: absolute;
	top: 100%;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	display: none;
	width: 100%;
	height: 100%;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.scalable {
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}

.scalable.scalable-centertop {
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.scalable.nomobile .inner .for_lawyers, .scalable.nomobile .inner {
	-webkit-transform: perspective(1px) translateZ(0px);
	-moz-transform: perspective(1px) translateZ(0px);
	-ms-transform: perspective(1px) translateZ(0px);
	-o-transform: perspective(1px) translateZ(0px);
	transform: perspective(1px) translateZ(0px);
}

.step4 h2 {
	/* margin-top: 400px; */
	margin-top: 11em;
	/* font-size: 40px; */
	font-size: 3.3em;
	font-weight: 300;
	text-align: center;
}

#l_reg_form {
	margin-top: 2em;
}

.step3 .text {
	margin: 0 auto;
	/* font-size: 24px; */
	font-size: 2em;
	font-weight: 300;
	color: #fff;
	width: 90%;
	/* margin-top: 80px; */
	padding-left: 100px;
	padding-right: 70px;
	position: relative;
	/* padding-top: 60px; */
	padding-top: 2em;
	padding-bottom: 60px;
	line-height: 28px;
	
}
.step3 .text .q-text {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin-left: 30px;
	/* font-size: 40px; */
	font-size: 1.7em;
	color: rgba(255, 255, 255, 0.5);
	/* line-height: 45px; */
	line-height: 1em;
}

.step3 .text .wrapper {
	text-align: center;
}
.step2 .text {
	font-weight: 300;
	/* font-size: 21px; */
	font-size: 1.6em;
	text-transform: uppercase;
	color: #fff;
	/* margin-top: 40px; */
	margin-top: 1.8em;
}

.result {
	display: none;
	font-size: 16px;
}

form.success #result-ok {
	display: block;
}

form.success button[type=submit] {
	display: none;
}

form.error #result-error {
	display: block;
}

form.success input[type=text], form.success input[type=tel], form.success input[type=email],
	form.success textarea {
	background: #dae8df;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

form.error input[type=text], form.error input[type=tel], form.error input[type=email],
	#form.error textarea {
	background: #e8dada;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

form input.error[type=text].error, form input.error[type=tel], form input.error[type=email],
	#form textarea.error {
	background: #e8dada;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

body.lawyers {
	height: 100%;
	overflow: hidden;
}

body.lawyers .sec1 {
	/* background: url("../img/sec1-bg.jpg");
	background-size: cover; */
	position: absolute;
	z-index: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.reg-btn {
	height: 10em;
	width: 45em;
	position: absolute;
	left: 50%;
	margin-left: -22.5em;
}

.reg-btn.increase-white:HOVER {
	opacity: 1;
}

.reg-btn.increase-white {
	background: #fff !important;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
	-webkit-transition: all 1s ease-in-out !important;
	-moz-transition: all 1s ease-in-out !important;
	-ms-transition: all 1s ease-in-out !important;
	-o-transition: all 1s ease-in-out !important;
	transition: all 1s ease-in-out !important;
	margin: 0px !important;
	padding: 0px !important;
	z-index: 2;
}

#logo.color {
	z-index: 3;
	/* background: url("../img/logo-01.svg") 50% 50% no-repeat; */
	/* 	position: relative;
	background-size: contain; */
	/* 	-webkit-transition: all ease-in 0.5s;
	-moz-transition: all ease-in 0.5s;
	-ms-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
	transition: all ease-in 0.5s; */
}

.reg-btn.increase>span {
	display: none;
}

.info-bar-row {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all 0.5s ease-out 0.65s;
	-moz-transition: all 0.5s ease-out 0.65s;
	-ms-transition: all 0.5s ease-out 0.65s;
	-o-transition: all 0.5s ease-out 0.65s;
	transition: all 0.5s ease-out 0.65s;
	opacity: 1;
	visibility: visible;
}

.lawyers .info-bar-row {
	-webkit-transform: translateX(150px);
	-moz-transform: translateX(150px);
	-ms-transform: translateX(150px);
	-o-transform: translateX(150px);
	transform: translateX(150px);
	-webkit-transition: all 0.5s ease-in 0.3s;
	-moz-transition: all 0.5s ease-in 0.3s;
	-ms-transition: all 0.5s ease-in 0.3s;
	-o-transition: all 0.5s ease-in 0.3s;
	transition: all 0.5s ease-in 0.3s;
	opacity: 0;
	visibility: hidden;
}

.lawyers .slogan {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateX(150px);
	-moz-transform: translateX(150px);
	-ms-transform: translateX(150px);
	-o-transform: translateX(150px);
	transform: translateX(150px);
	-webkit-transition: all 0.5s ease-in 0.15s;
	-moz-transition: all 0.5s ease-in 0.15s;
	-ms-transition: all 0.5s ease-in 0.15s;
	-o-transition: all 0.5s ease-in 0.15s;
	transition: all 0.5s ease-in 0.15s;
}

.for_lawyers.step1 {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
	transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
}

.lawyers .for_lawyers.step1 {
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease-in 0.5s;
	-webkit-transition: all 0.5s ease-in 0.5s;
	-moz-transition: all 0.5s ease-in 0.5s;
	-ms-transition: all 0.5s ease-in 0.5s;
}

.lawyers .for_lawyers.step1.increase {
	height: 20em;
	width: 60em;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	text-align: center;
	padding: 20px;
	margin-left: -30em;
}

/* body.lawyers .for_clients {
	display: none;
}

body.clients .for_lawyers {
	display: none;
} */
/* body.lawyers .for_clients {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

body.clients .for_lawyers {
	opacity: 0;
	visibility: hidden;
	position: absolute;
} */
/* .for_clients, .for_lawyers {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

body.lawyers .for_clients {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

body.clients .for_lawyers {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
} */
.header-btn {
	width: 270px;
	height: 70px;
	/* background: #17243f; */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 25px;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	border: 3px solid #0096cb;
	text-decoration: none;
	color: #0096cb;
	position: relative;
	z-index: 3;
}

.header-btn.selected {
	text-decoration: none;
	background: transparent;
	background: #17243f;
	border: 3px solid #17243f;
	color: #fff;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in
}

.header-btn.selected:HOVER {
	text-decoration: none;
	color: #fff;
}

.header-btn:HOVER {
	text-decoration: none;
	color: #0096cb;
}

.header-btn.selected svg {
	fill: #fff;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.header-btn svg {
	fill: #0096cb;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.header-btn:HOVER {
	opacity: 0.8;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.header-btn span {
	font-size: 18px;
	text-align: center;
	display: block;
	padding-top: 21px;
	vertical-align: top;
}

.reg-btn {
	/* margin: 0 auto; */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	color: #fff;
	display: block;
	position: relative;
	cursor: pointer;
	border: 3px solid #fff;
	text-transform: uppercase;
	margin-top: 60px;
	/* width: 630px; */
	width: 45em;
}

.reg-btn:HOVER {
	background: rgba(255, 255, 255, 0.1);
	opacity: 0.9;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}

.reg-btn span {
	font-size: 1.8em;
	text-align: center;
	display: block;
	vertical-align: top;
	letter-spacing: 0.1em;
	/* padding: 50px 0px; */
	padding: 2em 0em;
}

.yn-btn {
	/* width: 120px; */
	width: 9em;
	/*  height: 70px; */
	height: 5em;
	/* background: #17243f; */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	margin-right: 25px;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	border: 3px solid #fff;
	text-transform: uppercase;
	/* margin-top: 25px; */
	margin-top: 2em;
}

.yn-btn:HOVER {
	background: rgba(255, 255, 255, 0.1);
	opacity: 0.9;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.yn-btn span {
	/* font-size: 18px; */
	font-size: 1.3em;
	text-align: center;
	display: block;
	/* padding-top: 21px; */
	padding-top: 1.2em;
	vertical-align: top;
}

header {
	margin-top: 70px;
	position: relative;
}

.sec1 {
	/* min-height: 1179px; */
	background: url("../img/sec1-bg.jpg") 100% 0% no-repeat;
	background-size: cover;
	z-index: 0;
	height: 100%;
	width: 100%;
}

.header-btn .ico {
	width: 25px;
	height: 32px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 20px;
	position: relative;
	top: -5px;
}

.header-btn:nth-child(1) .ico64 {
	width: 42px;
	height: 42px;
	left: 40px;
	top: 12px;
}

.header-btn:nth-child(2) .ico64 {
	width: 64px;
	height: 64px;
	left: 15px;
	top: -10px;
}

.header-btn .ico64 {
	position: absolute;
}

.ico1 {
	/* background: url("../img/btn-ico.png") 0px 0px no-repeat; */
	fill: #0096cb;
}

.ico2 {
	/* background: url("../img/btn-ico.png") -25px 0px no-repeat; */
	fill: #fff;
}

#logo {
	/* width: 847px; */
	/*  height: 150px; */
	position: relative;
	z-index: 2;
	/* margin-top: 80px; */
	height: 11.7em;
	background-size: contain;
	/* margin-top: 80px; */
	margin-top: 6.5em;
	-webkit-transition: -webkit-transform 1s ease-in-out;
	-moz-transition: -moz-transform 1s ease-in-out;
	-ms-transition: -ms-transform 1s ease-in-out;
	-o-transition: -o-transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	width: 100%;
	/* 	-webkit-transform: translateX(-230px);
	-moz-transform: translateX(-230px);
	-ms-transform: translateX(-230px);
	transform: translateX(-230px); */
	-webkit-transition: -webkit-transform 1s ease-in-out;
}

#logo svg {
	height: 10.7em;
	width: 100%;
	padding: 0.2em 0;
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.lawyers #logo {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

#logo-color {
	margin-top: 3em;
	/* background: url("../img/logo-01.svg") 50% 50% no-repeat; */
	height: 11.7em;
	background-size: contain;
	width: 100%;
	display: none;
	position: absolute;
	z-index: 3;
	left: 0px;
}

.slogan {
	/* font-size: 55px; */
	font-size: 4em;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	/* line-height: 60px; */
	line-height: 1.2em;
	/* margin-top: 30px; */
	margin-top: 0.5em;
	font-weight: 300;
	position: absolute;
	visibility: visible;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all 0.5s ease-out 0.5s;
	-moz-transition: all 0.5s ease-out 0.5s;
	-ms-transition: all 0.5s ease-out 0.5s;
	-o-transition: all 0.5s ease-out 0.5s;
	transition: all 0.5s ease-out 0.5s;
}

.slogan span {
	color: #438eb4;
}

.circle {
	width: 193px;
	height: 193px;
}

.circle-border {
	padding: 5px;
	border: 5px solid #17243f;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-right: 100px;
	position: relative;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	/* cursor: pointer; */
}

/* .circle-border:HOVER {
	opacity: 0.5;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
} */
.circle-border:nth-child(4) {
	margin-right: 0px;
}

.info-bar {
	/* margin-top: 170px; */
	margin-top: 10em;
}

.circle-border .val {
	position: absolute;
	font-size: 60px;
	color: #fff;
	width: 100px;
	height: 85px;
	text-align: center;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -43px;
}

.circle-border .label {
	text-align: center;
	/* font-size: 30px; */
	font-size: 2.2em;
	font-weight: 300;
	position: absolute;
	width: 100%;
	/* margin-top: 40px; */
	margin-top: 1.3em;
	margin-left: -5px;
}

.sec2 {
	padding-bottom: 90px;
}

.sec2 h2 {
	text-align: center;
	margin-top: 105px;
	font-size: 40px;
	color: #17243f;
}

.sec2 h2 span {
	color: #438eb4;
}

.scheme {
	margin-top: 80px;
}

.scheme>div {
	display: inline-block;
	width: 33%;
	vertical-align: top;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	position: relative;
}

.scheme>div .img {
	width: 100%;
	height: 130px;
	margin: 0 auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-bottom: 50px;
}

.scheme>div:nth-child(1) .img {
	/* background-image: url("../img/img1.png"); */
	
}

.scheme>div:nth-child(1) .img .ico {
	width: 115px;
	height: 95px;
	margin-top: 18px;
}

.scheme>div:nth-child(2) .img {
	/* background-image: url("../img/img2.png"); */
	background-position: 60% 50%;
}

.scheme>div:nth-child(2) .img .ico {
	width: 129px;
	height: 129px;
	margin-left: 42px;
}

.scheme>div:nth-child(3) .img {
	/* background-image: url("../img/img3.png"); */
	
}

.scheme>div:nth-child(3) .img .ico {
	width: 96px;
	height: 128px;
	margin-top: 1px;
	margin-left: 0px;
}

.scheme>div span {
	font-size: 16px;
}

.scheme .arr {
	position: absolute;
	height: 130px;
	width: 69px;
	background-image: url("../img/arrow.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	top: 0px;
	right: -32px;
}

.sec3 {
	background: #f5f5f5;
	padding-top: 100px;
	padding-bottom: 45px;
}

.form-group.select-group {
	overflow: visible;
	height: 60px;
}

.form-group.select-group .input-group-addon.dropdown-toggle {
	display: none;
}

.form-group.select-group .input-group {
	width: 100%;
}

.form-group.select-group .dropdown-menu {
	width: 100%;
	border: 3px solid #e4e4e4;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #fff;
	color: #888888;
	font-size: 18px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top: none;
	max-height: 150px;
	overflow: scroll;
}

.form-group.select-group .dropdown-menu a {
	color: #888888;
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 15px;
}

input[type=text], input[type=tel], input[type=email], select.form-control
	{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	height: 59px;
	/*  height: 2em; */
	border: none;
	background: #e4e4e4;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-bottom: 25px;
	font-size: 18px;
	/* font-size: 2.2em; */
	color: #888888;
}

textarea.txa {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px border: none;
	background: #e4e4e4;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
	height: 150px;
	font-size: 18px;
	color: #888888;
	resize: none;
}

.form-group {
	overflow: hidden;
	margin-bottom: 0px;
}

.submit-wrapper {
	text-align: center;
	padding-top: 35px;
}

.submit-wrapper button[type=submit] {
	font-size: 24px;
	background: #438eb4;
	border: none;
	padding: 15px 60px;
	color: #fff;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.submit-wrapper button[type=submit]:HOVER {
	opacity: 0.8;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.sec4 {
	background: #fff;
	padding-top: 90px;
	padding-bottom: 60px;
}

.sec4 .title {
	text-align: center;
	font-size: 40px;
	line-height: 47px;
	color: #17243f;
	margin-bottom: 50px;
}

.sec4 .title span {
	color: #438eb4;
}

#carousel1 .carousel-caption {
	position: relative;
	right: auto;
	left: auto;
	font-size: 54px;
	color: rgba(0, 0, 0, 0.3);
	text-shadow: none;
	line-height: 50px;
}

#carousel1 .item .avatar {
	width: 297px;
	height: 297px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.1);
	background-size: cover !important;
	margin-bottom: 30px;
}

#carousel1 .carousel-indicators li {
	border: none;
	background: rgba(0, 0, 0, 0.2);
}

#carousel1 .carousel-indicators .active {
	background: rgba(0, 0, 0, 0.1);
	width: 10px;
	height: 10px;
	margin: 1px;
}

#carousel1 .item:nth-child(1) .avatar {
	background: url("../img/av1.jpg") 50% 50% no-repeat;
}

#carousel1 .item:nth-child(2) .avatar {
	background: url("../img/av2.jpg") 50% 50% no-repeat;
}

#carousel1 .item:nth-child(3) .avatar {
	background: url("../img/av3.jpg") 50% 50% no-repeat;
}

#carousel1 .item .name {
	color: #17243f;
	font-size: 24px;
	text-shadow: none;
	letter-spacing: 0.05em;
	margin-bottom: 50px;
	line-height: 30px;
}

#carousel1 {
	padding-bottom: 60px;
}

.sec5 {
	padding-top: 70px;
}

.sec5 .item {
	width: 19.5%;
	display: inline-block;
	text-align: center;
}

.sec5 .item .label {
	font-size: 16px;
	display: inline-block;
	color: #000;
	font-weight: 300;
	letter-spacing: 0.05em;
	line-height: normal;
}

.sec5 .item .img {
	width: 100px;
	height: 72px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-bottom: 40px;
}

.sec5 .item:nth-child(1) .img {
	/* background-image: url("../img/item1.png"); */
	
}

.sec5 .item:nth-child(1) .img .ico {
	width: 49px;
	height: 62px;
}

.sec5 .item:nth-child(2) .img {
	/* background-image: url("../img/item2.png"); */
	
}

.sec5 .item:nth-child(2) .img .ico {
	width: 78px;
	height: 71px;
}

.sec5 .item:nth-child(3) .img {
	/* background-image: url("../img/item3.png"); */
	
}

.sec5 .item:nth-child(3) .img .ico {
	width: 85px;
	height: 68px;
}

.sec5 .item:nth-child(4) .img {
	/* background-image: url("../img/item4.png"); */
	
}

.sec5 .item:nth-child(4) .img .ico {
	width: 48px;
	height: 71px;
}

.sec5 .item:nth-child(5) .img {
	/* background-image: url("../img/item5.png"); */
	
}

.sec5 .item:nth-child(5) .img .ico {
	width: 68px;
	height: 68px;
}

.sec5 .items {
	margin-bottom: 180px;
}

.sec7 .logo_min {
	width: 267px;
	/* height: 47px; */
	background: url("../img/logo_min.png") 50% 50% no-repeat;
	margin: 0 auto;
	/* margin-bottom: 45px; */
	margin-bottom: 4em;
	background-size: contain;
	height: 4em;
	background-size: contain;
}

.sec7 .text {
	text-align: center;
	color: #a2a2a2;
	/* font-size: 24px; */
	font-size: 1.2em;
	letter-spacing: 0.05em;
	margin-bottom: 115px;
	font-weight: 300;
	line-height: 1.5em;
}

footer {
	height: 70px;
	background: #1c1c1c;
	color: #595959;
	text-align: center;
	padding-top: 25px;
}

.lang {
	position: absolute;
	top: 70px;
	right: 60px;
	z-index: 10;
}

.lang>div {
	display: inline-block;
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	font-size: 36px;
	font-family: 'Open Sans Condensed', sans-serif;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	line-height: 42px;
}

.lang.dark>div {
	color: rgba(0, 0, 0, 0.8);
}

.lang>div.selected {
	background: rgba(255, 255, 255, 0.4);
	color: rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.lang.dark>div.selected {
	background: rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.8);
}

.lang>div:HOVER {
	background: rgba(255, 255, 255, 0.6);
	color: rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.sec6 {
	padding-bottom: 160px;
}

.sec6 h2 {
	text-align: center;
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 55px;
}

.sec6 .item {
	margin-bottom: 35px;
}

.sec6 .item .img {
	background: url("../img/img-r.png") 50% 50% no-repeat;
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.sec6 .item .img:HOVER {
	-webkit-transition: all ease-in 0.3s;
	-moz-transition: all ease-in 0.3s;
	-ms-transition: all ease-in 0.3s;
	-o-transition: all ease-in 0.3s;
	transition: all ease-in 0.3s;
	opacity: 0.9;
}

.sec6 .col:nth-child(1) .item:nth-child(1) .img {
	background: url("../img/reviews/1m.png") 50% 50% no-repeat;
	background-size: cover;
}

.sec6 .col:nth-child(1) .item:nth-child(2) .img {
	background: url("../img/reviews/2m.png") 50% 50% no-repeat;
	background-size: cover;
}

.sec6 .col:nth-child(2) .item:nth-child(1) .img {
	background: url("../img/reviews/3m.png") 50% 50% no-repeat;
	background-size: cover;
}

.sec6 .item .right {
	display: inline-block;
}

.sec6 .col {
	display: inline-block;
}

.sec6 .item .name {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
}

.sec6 .item .review {
	font-size: 16px;
	font-weight: 300;
}

.filter {
	fill: url(#MyGradient2);
}

.lawyers .filter {
	fill: url(#MyGradient);
}

@media screen and (min-width: 1023px) and (max-width: 1199px) {
	.slogan {
		font-size: 28px !important;
	}
}

@media screen and (max-width: 1200px) {
	html, body {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
	}
	.circle-border {
		margin-bottom: 60px;
	}
	.circle-border:nth-child(1), .circle-border:nth-child(3) {
		margin-left: 8%;
		float: left;
		margin-right: 8%;
	}
	.circle-border:nth-child(2), .circle-border:nth-child(4) {
		margin-right: 8%;
		float: right;
		margin-left: 0px;
	}
	.circle-border .val {
		font-size: 24px;
		line-height: 82px;
	}
	.circle-border .label {
		font-size: 10px;
		margin-top: 8%;
	}
	.info-bar {
		margin-top: 90px;
		overflow: hidden;
	}
	body.lawyers {
		height: 100%;
		overflow: visible;
		min-height: 560px;
	}
	.lang {
		top: 15px;
		right: 4%;
		height: 30px;
	}
	.lang>div {
		font-size: 23px;
		height: 30px;
		line-height: 26px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.reg-btn, .yn-btn {
		height: 37px;
	}
	.reg-btn {
		width: 90%;
		margin-left: 0px;
		left: 5%;
	}
	.yn-btn {
		margin-right: 0px;
		width: 47%;
	}
	.yes-btn {
		float: left;
	}
	.no-btn {
		float: right;
	}
	.reg-btn span, .yn-btn span {
		font-size: 9px;
		text-align: center;
		display: block;
		padding-top: 10px;
		vertical-align: top;
	}
	.step3 .text {
		font-size: 12px;
		font-weight: 300;
		color: #fff;
		height: auto;
		width: 90%;
		padding-left: 0px;
		padding-right: 0px;
		position: relative;
		line-height: 14px;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.step3 .text .q-text {
		width: 100%;
		text-align: center;
		font-size: 20px;
		color: rgba(255, 255, 255, 0.5);
		line-height: 25px;
		width: 100%;
		margin-top: 60px;
		margin-left: 0px;
	}
	.q1 {
		-webkit-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-o-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}
	.q2 {
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		-o-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transform: scale(0.5) rotateZ(-180deg);
		-moz-transform: scale(0.5) rotateZ(-180deg);
		-ms-transform: scale(0.5) rotateZ(-180deg);
		-o-transform: scale(0.5) rotateZ(-180deg);
		transform: scale(0.5) rotateZ(-180deg);
	}
	.step4 {
		width: 100%;
		height: 100%;
		min-height: 560px;
	}
	.step4 h2 {
		margin-top: 220px;
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: 300;
		text-align: center;
	}
	.step2 .text {
		font-weight: 300;
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
		margin-top: 20px;
	}
	.submit-wrapper button.lsubmit[type=submit] {
		background: #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 2px solid #0096cb;
		color: #0096cb;
		font-size: 12px;
	}
	.step4 .submit-wrapper {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.header-btn {
		width: 47%;
		height: 37px;
		/* background: #17243f; */
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-transform: uppercase;
		color: #0096cb;
		display: inline-block;
		margin-right: 5px;
		position: relative;
		cursor: pointer;
		-webkit-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
		-ms-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
		border: 3px solid #0096cb;
	}
	.header-btn span {
		font-size: 9px;
		text-align: center;
		display: block;
		padding-top: 10px;
		vertical-align: top;
	}
	.header-btn .ico {
		width: 13px;
		height: 16px;
		vertical-align: middle;
		display: inline-block;
		margin-right: 10px;
		position: relative;
		top: -2.5px;
	}
	#logo {
		width: 100%;
		/* height: 52px; */
		height: auto;
		/* background: url("../img/logo.png"); */
		margin-top: 40px;
		background-size: contain;
		background-repeat: no-repeat;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.container .row {
		padding-left: 5%;
		padding-right: 5%;
	}
	.header-btn:nth-child(2) {
		float: right !important;
		margin-right: 0px;
	}
	.header-btn:nth-child(1) {
		float: left !important;
	}
	.slogan {
		font-size: 18px;
		line-height: 23px;
		-webkit-transform: scaleX(0.7) !important;
		-moz-transform: scaleX(0.7) !important;
		-ms-transform: scaleX(0.7) !important;
		-o-transform: scaleX(0.7) !important;
		transform: scaleX(0.7) !important;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
		-webkit-transform-origin: 0% 50%;
		-moz-transform-origin: 0% 50%;
		-ms-transform-origin: 0% 50%;
		-o-transform-origin: 0% 50%;
		transform-origin: 0% 50%;
		/* width: 150%; */
	}
	.sec1 {
		min-height: 560px;
	}
	.sec2 h2 {
		font-size: 18px;
		font-weight: 300;
		margin-top: 35px;
		line-height: 25px;
		margin-bottom: 25px;
	}
	.scheme>div {
		display: block;
		width: 100%;
		margin-bottom: 95px;
	}
	.scheme {
		margin-top: 0px;
	}
	.scheme>div span {
		font-size: 13px;
	}
	.scheme>div .img {
		margin-bottom: 23px;
		height: auto;
	}
	.scheme .arr {
		background-image: url("../img/arrow1.png");
		background-position: 50% 50%;
		background-repeat: no-repeat;
		height: 35px;
		width: 20px;
		margin: 0 auto;
		right: inherit;
		position: relative;
		background-size: contain;
		-webkit-transform: perspective(1px) translateZ(0px);
		-moz-transform: perspective(1px) translateZ(0px);
		-ms-transform: perspective(1px) translateZ(0px);
		-o-transform: perspective(1px) translateZ(0px);
		transform: perspective(1px) translateZ(0px);
		top: 45px;
	}
	.sec2 {
		padding-bottom: 0px;
	}
	.scheme>div:nth-child(3) {
		margin-bottom: 30px;
	}
	.sec3 {
		padding-top: 40px;
	}
	.sec3 input[type=text], .sec3 input[type=tel], .sec3 input[type=email] {
		height: 46px;
		margin-bottom: 13px;
		font-size: 14px;
	}
	.sec3 textarea {
		background: #e4e4e4;
		height: 150px;
		font-size: 14px;
	}
	#l_reg_form input[type=text], #l_reg_form input[type=tel], #l_reg_form input[type=email]
		{
		height: 30px;
		margin-bottom: 8px;
		font-size: 14px;
	}
	.submit-wrapper {
		padding-top: 17px;
	}
	.submit-wrapper button[type=submit] {
		font-size: 14px;
		width: 100%;
	}
	#carousel1 .carousel-caption {
		font-size: 12px;
	}
	.sec5 .item {
		width: 32%;
		vertical-align: top;
		margin-bottom: 30px;
	}
	.sec5 .items {
		text-align: center;
	}
	.sec5 .item .label {
		font-size: 8px;
		font-weight: 300;
	}
	.sec5 {
		padding-top: 48px;
	}
	.sec5 .item .img {
		margin-bottom: 20px;
	}
	.sec5 .item .img .ico {
		height: 37px !important;
	}
	.sec5 .item .img {
		height: 37px;
	}
	.sec5 .items {
		margin-bottom: 60px;
	}
	.sec6 {
		padding-bottom: 55px;
	}
	.sec6 h2 {
		font-size: 20px;
		margin-bottom: 40px;
		margin-top: 0px;
	}
	.sec6 .item .name, .sec6 .item .review {
		font-size: 12px;
	}
	.sec6 .item .img {
		width: 40px;
		height: 40px;
		background-size: contain;
	}
	.sec6 .item .right {
		max-width: 75%;
	}
	.sec7 .logo_min {
		background-size: contain;
		height: 23px;
		margin-bottom: 21px;
	}
	#l_reg_form+.sec7 .text {
		font-size: 10px;
		margin-bottom: 0px;
		/* 		padding-left: 5%;
		padding-right: 5%; */
		line-height: 12px;
	}
	footer {
		font-size: 13px;
		height: 35px;
		padding-top: 10px;
	}
	.sec6 .item .img {
		margin-right: 15px;
	}
	.sec4 .title {
		line-height: 23px;
		font-size: 20px;
	}
	.sec4 {
		padding-top: 45px;
		padding-bottom: 30px;
	}
	#carousel1 .item .avatar {
		width: 200px;
		height: 200px;
	}
	#carousel1 .item .name {
		font-size: 20px;
	}
	#carousel1 .carousel-caption {
		font-size: 27px;
		line-height: 25px;
	}
	.for_lawyers.step1.cshow {
		position: absolute;
		left: 50%;
		width: 70%;
		margin-left: -35%;
	}
	#logo-color {
		display: none !important;
	}
	.lawyers .for_lawyers.step1.increase {
		height: 15em;
		width: 90%;
		left: 5%;
		margin-left: 0px;
	}
	.login-wrapper {
		position: absolute;
		top: -57px;
		width: 47%;
	}
	.login-wrapper #login-btn {
		width: 100%;
	}
	.header-btn:nth-child(1) .ico64 {
		width: 21px;
		height: 21px;
		left: 20px;
		top: 6px;
	}
	.header-btn:nth-child(2) .ico64 {
		left: 5px;
		top: -8px;
		transform: scale(0.55);
		transform-origin: 0% 0%;
	}
	#login {
		left: 0px;
		margin-left: 0px;
		z-index: 10;
	}
	#logo svg {
		/* top: -60px; */
		position: relative;
		height: 10%;
	}
	.typeahead.dropdown-menu {
		max-height: 100px;
		overflow: scroll;
	}
	#login-btn svg {
		left: -255px;
		top: -105px;
		-webkit-transform: scale(0.6);
		-moz-transform: scale(0.6);
		-ms-transform: scale(0.6);
		-o-transform: scale(0.6);
		transform: scale(0.6);
		z-index: 2;
	}
	.header-btn:not(#login-btn){
		z-index:4;
	}
	.form-group.select-group {
		height: 30px;
	}
	.martin {
		width: 150px;
		height: 150px;
	}
	.martin span {
		font-size: 16px;
	}
}