<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="padding:0px;margin:0px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; background-color:#FFFFFF; border-spacing: 0; text-align: center;">
        <tr>
            <td height="160px" bgcolor="#e7eaef" style="background-color: #e7eaef;">
                <img height="80px;" src="{{ SITE_URL }}/static/img/lng_logo.png">
            </td>
        </tr>
        <tr>
            <td align="center">
                <table width="830px" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                    <tr>
                        <td style="color: #6e9ebe; font-family: sans-serif; font-size: 36px; font-weight: 100;   padding: 40px 0 30px; text-align: center;">Dear, {{ recipient.get_full_name }}</td>
                    </tr>
                    <tr>
                        <td style="line-height: 30px; padding: 10px 0; color: #a3a4a6; font-family: sans-serif; font-size: 20px; font-weight: 100; text-align: center;">
                        We are delighted to invite you to join Legal Space, a professional network of the best lawyers in the world. Our network currently boasts over 2000 partners, including professionals from almost every country. To begin working with us, please fill in this brief registration form.</td>
                    </tr>
                     <tr>
                        <td height="30">
                            <div style="margin: 0; padding: 0; line-height: 0;">
                                <img src="{{ SITE_URL }}/static/img/indent.gif" border="0" width="1" height="1"
                                    style="display: block;" alt="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" height="60" bgcolor="#6e9ebe">
                            <a href="{{ link }}"
                               style="font-size:32px; font-weight: 100; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:60px; width:100%; display:inline-block"><span
                                    style="color: #FFFFFF">Register</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td height="30">
                            <div style="margin: 0; padding: 0; line-height: 0;">
                                <img src="{{ SITE_URL }}/static/img/indent.gif" border="0" width="1" height="1"
                                    style="display: block;" alt="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="10">
                            <div style="margin: 0; padding: 0; line-height: 0;">
                                <img src="{{ SITE_URL }}/static/img/indent.gif" border="0" width="1" height="1"
                                    style="display: block;" alt="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="line-height: 30px; color: #a3a4a6; font-family: sans-serif; font-size: 20px; font-weight: 100; text-align: center;">
                            Yours faithfully,<br> the team at <img height="20px" style="margin-bottom: -3px;"  src="{{ SITE_URL }}/static/img/lng_logo.png">
                        </td>
                    </tr>
                    <tr>
                        <td height="30">
                            <div style="margin: 0; padding: 0; line-height: 0;">
                                <img src="{{ SITE_URL }}/static/img/indent.gif" border="0" width="1" height="1"
                                    style="display: block;" alt="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="line-height: 24px; color: #a3a4a6; font-family: sans-serif; font-size: 16x; font-weight: 100; text-align: center;">
                            <p>Legal Space is a group of international professionals working in the legal sphere. We are building a new, user-friendly and transparent platform for the provision of legal services. If you have any questions please get in touch
                            <br><a style="color: #6e9ebe; text-decoration: none;" href="mailto:a@lawandgauge.com">a@lawandgauge.com</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td height="10">
                            <div style="margin: 0; padding: 0; line-height: 0;">
                                <img src="{{ SITE_URL }}/static/img/indent.gif" border="0" width="1" height="1"
                                    style="display: block;" alt="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                        <span>
                            <span style="width: 40px; height: 40px; margin: 0 15px;">
                                <a target="_blank" href="https://www.facebook.com/LAWandGAUGE?fref=ts">
                                    <img src="{{ SITE_URL }}/static/img/sc_fb.png"></a></span>
                            <span style="width: 40px; height: 40px; margin: 0 15px;">
                                <a target="_blank" href="https://www.linkedin.com/company/law&amp;gauge?trk=company_logo">
                                    <img src="{{ SITE_URL }}/static/img/sc_in.png"></a></span>
                            <span style="width: 40px; height: 40px; margin: 0 15px;">
                                <a target="_blank" href="https://twitter.com/a_twittlegal">
                                    <img src="{{ SITE_URL }}/static/img/sc_tw.png"></a></span>
                            <span style="width: 40px; height: 40px; margin: 0 15px;">
                                <a target="_blank" href="https://vk.com/lawandgauge">
                                    <img src="{{ SITE_URL }}/static/img/sc_vk.png"></a></span>
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td height="10">
                            <div style="margin: 0; padding: 0; line-height: 0;">
                                <img src="{{ SITE_URL }}/static/img/indent.gif" border="0" width="1" height="1"
                                    style="display: block;" alt="" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="line-height: 24px; color: #a3a4a6; font-family: sans-serif; font-size: 16x; font-weight: 100; text-align: center;">
                            <a style="color: #6e9ebe; text-decoration: none;" href="http://legalspace.co">http://legalspace.co</a>
                        </td>
                    </tr>
                    <tr>
                        <td height="10">
                            <div style="margin: 0; padding: 0; line-height: 0;">
                                <img src="{{ SITE_URL }}/static/img/indent.gif" border="0" width="1" height="1"
                                    style="display: block;" alt="" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>

