<html>
<head>
    <meta charset="utf-8"/>
</head>
<body>
{% for item in items %}

    <div id="{{ item.anchor_link }}">
        <h4>{{ item.question|safe }}</h4>
        <p>{{ item.answer|safe }}</p>
    </div>

{% endfor %}
</body>
</html>
