{% load staticfiles %}
<!doctype html>
<html ng-app="lawgauge">
<head>
    <title>LEGAL SPACE</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link type="text/CSS" rel="stylesheet" href="{% static 'css/main.css' %}" media="all" />
    <link type="text/CSS" rel="stylesheet" href="{% static 'css/ng-modal.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'css/font-awesome-4.3.0/css/font-awesome.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-2.0.js' %}"></script>
    
    <!-- intlTelInput -->
	<link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">
	<script src="{% static 'js/intlTelInput.min.js' %}"></script>
	<script src="{% static 'js/utils.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
    <script src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script src="{% static 'js/jquery-validate.min.js' %}"></script>
    
    <!-- jquery UI -->
    <link rel="stylesheet" href="{% static 'landing/jquery-ui.css' %}">
    <script src="{% static 'landing/jquery-ui.min.js' %}"></script>
</head>
<body ng-controller="MainCtrl">
	<header class="nclear" ng-include src="'/angular/templates/header'" ></header>

	<div class="main nclear" ng-view></div>
    <script type="application/javascript">
        var SOCKJS_URL = '{{ sockjs_url }}';
        var sock = new SockJS(SOCKJS_URL);
        var messagesvar = [];
        var tz = jstz.determine();
    </script>
</body>

<!-- ангуляровские файлы -->
<script src="{% static 'bower_components/angular-animate/angular-animate.js' %}"></script>
<script src="{% static 'bower_components/angular-aria/angular-aria.js' %}"></script>
<script src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script src="{% static 'bower_components/angular-messages/angular-messages.js' %}"></script>
<script src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
<script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script src="{% static 'bower_components/angular-sanitize/angular-sanitize.js' %}"></script>
<script src="{% static 'bower_components/angular-touch/angular-touch.js' %}"></script>

<!-- bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!-- vk -->
<script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
<!-- приложение -->
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/factory/soket.js' %}"></script>

<script src="{% static 'js/controllers/main.js' %}"></script>
<script src="{% static 'js/controllers/chat.js' %}"></script>
<script src="{% static 'js/controllers/login.js' %}"></script>
<script src="{% static 'js/controllers/profile.js' %}"></script>
<script src="{% static 'js/directives/header.js' %}"></script>
<script src="{% static 'js/directives/sidebar.js' %}"></script>
<script src="{% static 'js/directives/dropzone-directive.js' %}"></script>
<script src="{% static 'js/ng-modal.min.js' %}"></script>


</html>