* {
  outline: none!important;
}
html, body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	height: 100%;
}

h1, h2, h3, h4 {
	font-weight: 300;
}

.step2, .step3, .step4 {
	display: none;
}

.clear {
	clear: both;
}

.custom-select-list li.active {
	color: red;
}

/* client registration steps */

.form-group.pull-down {
	/* position: absolute; */
	bottom: 0px;
	text-align: center;
	width: 100%;
}

.clients-reg--wrapper {
	
}

.clients-reg {
	text-align: center;
	color: #fff;
	/* max-width: 800px; */
	margin: 9em auto 0px;
	/* position: absolute; */
	/* left: 50%;
	margin-left: -400px; */
/* 	visibility: hidden;
	opacity: 0; */
	display: none;
	height: 22em;
	z-index: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.clients-reg  .text {
  width: 800px;
  margin: 0 auto;
}
.clients-reg.show {
/* 	visibility: visible;
	opacity: 1; */
	display: block;
	z-index: 1;
    -webkit-animation: 1s fadeInFromNone;
    -o-animation: 1s fadeInFromNone;
    animation: 1s fadeInFromNone;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: 1;
    }
}
@-o-keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: 1;
    }
}
@-moz-keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: 1;
    }
}
@keyframes fadeInFromNone {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: 1;
    }
}

.clients-reg--step1 textarea {
	width: 70%;
	background: rgba(47, 50, 54, 0.91);
	border: none;
	padding: 0.5em;
	font-size: 1.5em;
	margin-top: 1em;
	height: 6em;
}

.clients-reg input[type=button].forward {
	font-size: 1.5em;
	font-weight: 600;
	margin-top: 2em;
}

.clients-reg input[type=button].backward {
	text-transform: uppercase;
	color: #fff;
	border: none;
	font-size: 1.5em;
	font-weight: 600;
	padding: 0.2em 0.6em;
	margin-top: 2em;
	cursor: pointer;
	background: #acabab;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.clients-reg input[type=button].backward:hover {
	background-color: #6a6969;
}
.input-group.inline-code {
	/* width: 50%; */
	text-transform: uppercase;
	/* float: left; */
	margin-top: 20px;
}

.clients-reg--step2 .form-group, .clients-reg--step3 .form-group {
	/* padding-top: 2em; */
}

.clients-reg--step3 .input-group.inline-code {
	/* margin-left: 25%; */
}

.login-vk--btn, .login-fb--btn {
	display: inline-block;
	/* float: left; */
	font-size: 16px;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	text-align: center;
	background: #438eb4;
	/* margin-left: 10%; */
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 100;
	cursor: pointer;
	color: #fff;
	margin-top: 20px;
}

.login-vk--btn i, .login-fb--btn i {
	vertical-align: bottom;
	line-height: 41px;
}

.inline-code input[type=tel] {
	height: 40px;
	color: #438eb4;
	font-weight: 400;
	font-size: 14px;
	background: rgba(47, 50, 54, 0.91);
	text-transform: uppercase;
	/* padding-left: 24px; */
}

.inline-code span.btn {
	height: 40px;
	color: #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-align: center;
	font-weight: 600;
	font-size: 12px;
	cursor: pointer;
	background: #438eb4;
	border: none;
	text-transform: uppercase;
	line-height: 30px;
	width: inherit;
	float: left;
}
.inline-code span.btn-code {
	height: 40px;
	color: #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-align: center;
	font-weight: 600;
	font-size: 13px;
	cursor: pointer;
	background: #438eb4;
	border: none;
	text-transform: uppercase;
	line-height: 40px;
	position: relative;
	z-index: 2;
	padding-top: 0px;
	padding-bottom: 0px;
}
.inline-code .intl-tel-input {
	float: left;
	color: #000;
	text-align: left;
}
.intl-tel-input {
	display: block;
}
.inline-code input[type=tel]::-webkit-input-placeholder {
	text-transform: uppercase;
	color: #438eb4;
	font-weight: 600;
}
.inline-code {
	margin-top: 20px;	
}
.inline-code input[type=tel]:-moz-placeholder {
	text-transform: uppercase;
	color: #438eb4;
	font-weight: 600;
}

.clients-reg .text {
	font-size: 1.5em;
	max-width: 100%;
}

/* end of client registration steps */

/* lawyers registration steps */

.lawyers-reg {
	text-align: center;
	color: #000;
	margin: 9em auto 0px;
	height: 22em;
	z-index: 0;
	display: none;
}

.lawyers-reg.show {
	z-index: 3;
	display: block;
	position: relative;
	-webkit-animation: 1s fadeInFromNone;
	-o-animation: 1s fadeInFromNone;
	animation: 1s fadeInFromNone;
}

.lawyers-reg--step1 textarea {
	width: 70%;
	background: rgba(47, 50, 54, 0.91);
	border: none;
	padding: 0.5em;
	font-size: 1.5em;
	margin-top: 1em;
	height: 8em;
}

.lawyers-reg input[type=button].forward {
	text-transform: uppercase;
	color: #fff;
	background: #438eb4;
	border: none;
	font-size: 1.5em;
	font-weight: 600;
	padding: 0.2em 0.6em;
	margin-top: 1em;
	cursor: pointer;
}

.lawyers-reg input[type=button].backward {
	text-transform: uppercase;
	color: #fff;
	border: none;
	font-size: 1.5em;
	font-weight: 600;
	padding: 0.2em 0.6em;
	margin-top: 1em;
	cursor: pointer;
	background: #acabab;
}


.lawyers-reg--step2 .form-group, .lawyers-reg--step3 .form-group {
	padding-top: 2em;
}

.lawyers-reg--step3 .input-group.inline-code {
	/* margin-left: 25%; */
}

.lawyers-reg .text {
	font-size: 1.5em;
}
/* end of lawyers registration steps */

.auth-step {
	display: none;
}
.auth-step.show {
	display: block;
}
#auth-phone {
/* 	width: 800px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 30px;
	background: transparent;
	color: #fff;
	margin-left: -400px;
	top: 30%; */
	background: rgba(0,0,0,0.7);
}
.modal-open .modal {
	position: absolute;
}
.modal-backdrop.in {
	position: absolute;
}
#auth-phone .modal-content {
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff;
}
#auth-phone .modal-header {
	border: none;
	text-align: center;
}
#auth-phone .modal-header .close {
	font-size: 75px;
	color: #fff;
	font-weight: 100;
	opacity: 0.6;
	float: none;
}
#auth-phone+.reveal-modal-bg {
	background: rgba(0,0,0,0.9);
}
#auth-phone .close-reveal-modal {
	position: relative;
	line-height: .5;
	color: #fff;
	text-shadow: none;
	cursor: pointer;
	text-align: center;
	font-size: 108px;
	font-weight: 100;
	margin-bottom: 75px;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

#auth-phone .modal-body {
	padding: 20px;
}

#auth-phone h2 {
	font-size: 20px;
	text-align: center;
	line-height: 25px;
	font-weight: 400;
	margin-bottom: 35px;
}

#auth-phone.login h2 {
	display: none;
}

#auth-phone .note {
	font-size: 20px;
	text-align: center;
	line-height: 25px;
	font-weight: 300;
	display: block;
	margin-bottom: 40px;
}

#auth-phone .control-group {
	margin-bottom: 30px;
	text-align: center;
}

#auth-phone .row {
	margin-bottom: 10px;
	text-align: center;
}

#auth-phone .code-row {
	margin-bottom: 0px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* #auth-phone input[type=tel], #auth-phone input[type=text] {
	height: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #8d8d8d;
	width: 30%;
	background: transparent;
	margin-bottom: 0px;
	padding-left: 10px;
	vertical-align: top;
} */

#auth-phone input[type=button] {
	height: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #0096cb;
	background: #0096cb;
	color: #fff;
	width: 30%;
	vertical-align: top;
}

/* #auth-phone .login-vk, #auth-phone .login-fb {
	width: 82px;
	height: 82px;
	display: inline-block;
	cursor: pointer;
}

#auth-phone .login-vk {
	background: url("img/login-icons.png") 0px 0px no-repeat;
}

#auth-phone .login-fb {
	background: url("img/login-icons.png") -82px 0px no-repeat;
} */

.martin {
	/* width: 297px;
	height: 297px; */
	width: 11em;
	height: 11em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: url("img/martin.jpg");
	background-size: cover;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	background-position: 50%;
}
.martin span {
	text-align: center;
	display: block;
	bottom: -45px;
	position: absolute;
	width: 100%;
	color: #fff;
	/* font-size: 24px; */
	font-size: 1em;
}
#login-btn svg {
	position: absolute;
	width: 595.28px;
	height: 240.94px;
	fill: #fff;
	left: -255px;
	top: -89px;
}

.top-panel-btn, .top-panel-btn:HOVER {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
}
.for_lawyers.step1.chide {
	opacity: 0 !important;
	visibility: hidden !important;
}

#login {
	width: 290px;
	height: 170px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.8);
	position: absolute;
	top: 80px;
	left: 50%;
	margin-left: -145px;
	padding: 16px 14px 14px 14px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

#login.dark {
	background: rgba(23, 36, 63, 0.3);
}

#login.show {
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	z-index: 99;
}

#login input[type=tel], #login input[type=password] {
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #17243f;
	height: 42px;
	margin-bottom: 9px;
	background: transparent;
	font-size: 14px;
	color: #17243f;
	padding-left: 14px;
}

#login input[type=submit] {
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 42px;
	background: #17243f;
	color: #fff;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.login-wrapper {
	position: relative;
	margin-right: 200px;
}

.step4 .submit-wrapper {
	/* padding-top: 40px; */
	padding-top: 3.5em;
	/* padding-bottom: 120px; */
	padding-bottom: 2em;
}

.q1 {
	width: 52px;
	height: 50px;
	background: url("img/q.svg") 50% 50% no-repeat;
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -23px;
	background-size: contain;
}

.q2 {
	width: 52px;
	height: 50px;
	background: url("img/q.svg") 50% 50% no-repeat;
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -26px;
}

.submit-wrapper button.lsubmit[type=submit] {
	background: #e2e2e2;
	color: #fff;
	font-size: 1.4em;
	font-weight: 400;
	padding: 5px 15px;
	text-transform: uppercase
}

.step4.active {
	top: 0px;
	opacity: 1;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.step4 {
	opacity: 0;
	z-index: 2;
	position: relative;
	position: absolute;
	top: 100%;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	display: none;
	width: 100%;
	height: 100%;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.scalable {
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}

.scalable.scalable-centertop {
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.scalable.nomobile .inner .for_lawyers, .scalable.nomobile .inner {
	-webkit-transform: perspective(1px) translateZ(0px);
	-moz-transform: perspective(1px) translateZ(0px);
	-ms-transform: perspective(1px) translateZ(0px);
	-o-transform: perspective(1px) translateZ(0px);
	transform: perspective(1px) translateZ(0px);
}

.step4 h2 {
	/* margin-top: 400px; */
	margin-top: 11em;
	/* font-size: 40px; */
	font-size: 3.3em;
	font-weight: 300;
	text-align: center;
}

#l_reg_form {
	margin-top: 2em;
}

.step3 .text {
	margin: 0 auto;
	/* font-size: 24px; */
	font-size: 2em;
	font-weight: 300;
	color: #fff;
	width: 90%;
	/* margin-top: 80px; */
	padding-left: 100px;
	padding-right: 70px;
	position: relative;
	/* padding-top: 60px; */
	padding-top: 2em;
	padding-bottom: 60px;
	line-height: 28px;
	
}
.step3 .text .q-text {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin-left: 30px;
	/* font-size: 40px; */
	font-size: 1.7em;
	color: rgba(255, 255, 255, 0.5);
	/* line-height: 45px; */
	line-height: 1em;
}

.step3 .text .wrapper {
	text-align: center;
}
.step2 .text {
	font-weight: 300;
	/* font-size: 21px; */
	font-size: 1.5em;
	text-transform: uppercase;
	color: #fff;
	/* margin-top: 40px; */
	margin-top: 1.8em;
}

.result {
	display: none;
	font-size: 16px;
}

form.success #result-ok {
	display: block;
}

form.success button[type=submit] {
	display: none;
}

form.error #result-error {
	display: block;
}

form.success input[type=text], form.success input[type=tel], form.success input[type=email],
	form.success textarea {
	background: #dae8df;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

form.error input[type=text], form.error input[type=tel], form.error input[type=email],
	#form.error textarea {
	background: #e8dada;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

form input.error[type=text].error, form input.error[type=tel], form input.error[type=email],
	textarea.error, input.ng-invalid, select.form-control.ng-invalid {
	background: #e8dada;
	color: #ec1c6a;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}
label.ng-invalid {
	color: #ec1c6a;
}

.error::-webkit-input-placeholder {
	color: #ec1c6a;
}
.error:-moz-placeholder {
	color: #ec1c6a;
}
.error {
	color: #ec1c6a;
}
.error+.required:AFTER {
	color: #ec1c6a;
}
body.lawyers {
	height: 100%;
	overflow: hidden;
}

body.lawyers .sec1 {
	/* background: url("img/sec1-bg.jpg");
	background-size: cover; */
	position: relative;
	z-index: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.reg-btn {
	height: 10em;
	width: 45em;
	position: absolute;
	left: 50%;
	margin-left: -22.5em;
}

.reg-btn.increase-white:HOVER {
	opacity: 1;
}

.reg-btn.increase-white {
	background: #fff !important;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
	-webkit-transition: all 1s ease-in-out !important;
	-moz-transition: all 1s ease-in-out !important;
	-ms-transition: all 1s ease-in-out !important;
	-o-transition: all 1s ease-in-out !important;
	transition: all 1s ease-in-out !important;
	margin: 0px !important;
	padding: 0px !important;
	z-index: 2;
}

#logo.color {
	z-index: 3;
	/* background: url("img/logo-01.svg") 50% 50% no-repeat; */
	/* 	position: relative;
	background-size: contain; */
	/* 	-webkit-transition: all ease-in 0.5s;
	-moz-transition: all ease-in 0.5s;
	-ms-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
	transition: all ease-in 0.5s; */
}

.reg-btn.increase>span {
	display: none;
}

.info-bar-row {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all 0.5s ease-out 0.65s;
	-moz-transition: all 0.5s ease-out 0.65s;
	-ms-transition: all 0.5s ease-out 0.65s;
	-o-transition: all 0.5s ease-out 0.65s;
	transition: all 0.5s ease-out 0.65s;
	opacity: 1;
	visibility: visible;
}

.lawyers .info-bar-row {
	-webkit-transform: translateX(150px);
	-moz-transform: translateX(150px);
	-ms-transform: translateX(150px);
	-o-transform: translateX(150px);
	transform: translateX(150px);
	-webkit-transition: all 0.5s ease-in 0.3s;
	-moz-transition: all 0.5s ease-in 0.3s;
	-ms-transition: all 0.5s ease-in 0.3s;
	-o-transition: all 0.5s ease-in 0.3s;
	transition: all 0.5s ease-in 0.3s;
	opacity: 0;
	visibility: hidden;
}

.lawyers .slogan {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateX(150px);
	-moz-transform: translateX(150px);
	-ms-transform: translateX(150px);
	-o-transform: translateX(150px);
	transform: translateX(150px);
	-webkit-transition: all 0.5s ease-in 0.15s;
	-moz-transition: all 0.5s ease-in 0.15s;
	-ms-transition: all 0.5s ease-in 0.15s;
	-o-transition: all 0.5s ease-in 0.15s;
	transition: all 0.5s ease-in 0.15s;
}

.for_lawyers.step1 {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
	transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
}

.lawyers .for_lawyers.step1 {
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease-in 0.5s;
	-webkit-transition: all 0.5s ease-in 0.5s;
	-moz-transition: all 0.5s ease-in 0.5s;
	-ms-transition: all 0.5s ease-in 0.5s;
}

.lawyers .for_lawyers.step1.increase {
	height: 20em;
	width: 60em;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	text-align: center;
	padding: 20px;
	margin-left: -30em;
}

/* body.lawyers .for_clients {
	display: none;
}

body.clients .for_lawyers {
	display: none;
} */
/* body.lawyers .for_clients {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

body.clients .for_lawyers {
	opacity: 0;
	visibility: hidden;
	position: absolute;
} */
/* .for_clients, .for_lawyers {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

body.lawyers .for_clients {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

body.clients .for_lawyers {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
} */
.header-btn {
	width: 270px;
	height: 70px;
	/* background: #17243f; */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 25px;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	border: 3px solid #0096cb;
	text-decoration: none;
	color: #0096cb;
	position: relative;
	z-index: 3;
}

.header-btn.selected {
	text-decoration: none;
	background: transparent;
	background: #17243f;
	border: 3px solid #17243f;
	color: #fff;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in
}

.header-btn.selected:HOVER {
	text-decoration: none;
	color: #fff;
}

.header-btn:HOVER {
	text-decoration: none;
	color: #0096cb;
}

.header-btn.selected svg {
	fill: #fff;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.header-btn svg {
	fill: #0096cb;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.header-btn:HOVER {
	opacity: 0.8;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.header-btn span {
	font-size: 18px;
	text-align: center;
	display: block;
	padding-top: 21px;
	vertical-align: top;
}

.reg-btn {
	/* margin: 0 auto; */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	color: #fff;
	display: block;
	position: relative;
	cursor: pointer;
	border: 3px solid #fff;
	text-transform: uppercase;
	margin-top: 60px;
	/* width: 630px; */
	width: 45em;
}

.reg-btn:HOVER {
	background: rgba(255, 255, 255, 0.1);
	opacity: 0.9;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}

.reg-btn span {
	font-size: 1.8em;
	text-align: center;
	display: block;
	vertical-align: top;
	letter-spacing: 0.1em;
	/* padding: 50px 0px; */
	padding: 2em 0em;
}

.yn-btn {
	/* width: 120px; */
	width: 9em;
	/*  height: 70px; */
	height: 5em;
	/* background: #17243f; */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	margin-right: 25px;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	border: 3px solid #fff;
	text-transform: uppercase;
	/* margin-top: 25px; */
	margin-top: 2em;
}

.yn-btn:HOVER {
	background: rgba(255, 255, 255, 0.1);
	opacity: 0.9;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.yn-btn span {
	/* font-size: 18px; */
	font-size: 1.3em;
	text-align: center;
	display: block;
	/* padding-top: 21px; */
	padding-top: 1.2em;
	vertical-align: top;
}

header {
	margin-top: 70px;
	position: relative;
}

.sec1 {
	/* min-height: 1179px; */
	background: url("img/sec1-bg.jpg") 100% 0% no-repeat;
	background-size: cover;
	z-index: 0;
	height: 100%;
	width: 100%;
}

.header-btn .ico {
	width: 25px;
	height: 32px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 20px;
	position: relative;
	top: -5px;
}

.header-btn:nth-child(1) .ico64 {
	width: 42px;
	height: 42px;
	left: 40px;
	top: 12px;
}

.header-btn:nth-child(2) .ico64 {
	width: 64px;
	height: 64px;
	left: 15px;
	top: -10px;
}

.header-btn .ico64 {
	position: absolute;
}

.ico1 {
	/* background: url("img/btn-ico.png") 0px 0px no-repeat; */
	fill: #0096cb;
}

.ico2 {
	/* background: url("img/btn-ico.png") -25px 0px no-repeat; */
	fill: #fff;
}

#logo {
	/* width: 847px; */
	/*  height: 150px; */
	position: relative;
	z-index: 2;
	/* margin-top: 80px; */
	height: 11.7em;
	background-size: contain;
	/* margin-top: 80px; */
	margin-top: 6.5em;
	-webkit-transition: -webkit-transform 1s ease-in-out;
	-moz-transition: -moz-transform 1s ease-in-out;
	-ms-transition: -ms-transform 1s ease-in-out;
	-o-transition: -o-transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	width: 100%;
	/* 	-webkit-transform: translateX(-230px);
	-moz-transform: translateX(-230px);
	-ms-transform: translateX(-230px);
	transform: translateX(-230px); */
	-webkit-transition: -webkit-transform 1s ease-in-out;
}

#logo svg {
	height: 10.7em;
	width: 100%;
	padding: 0.2em 0;
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.lawyers #logo {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

#logo-color {
	margin-top: 3em;
	/* background: url("img/logo-01.svg") 50% 50% no-repeat; */
	height: 11.7em;
	background-size: contain;
	width: 100%;
	display: none;
	position: absolute;
	z-index: 3;
	left: 0px;
}

.slogan {
	font-size: 4em;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	line-height: 1.2em;
	margin-top: 0.5em;
	font-weight: 300;
	/*position: absolute;*/
	visibility: visible;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all 0.5s ease-out 0.5s;
	-moz-transition: all 0.5s ease-out 0.5s;
	-ms-transition: all 0.5s ease-out 0.5s;
	-o-transition: all 0.5s ease-out 0.5s;
	transition: all 0.5s ease-out 0.5s;
	width: 100%;
	text-align: center;
}
#logo.color svg path, #logo.color svg polygon {
	fill: #000 !important;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
.bxs {
	position: relative;
}
.slogan span {
	color: #438eb4;
}

.circle {
	width: 193px;
	height: 193px;
}

.circle-border {
	padding: 5px;
	border: 5px solid #17243f;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-right: 100px;
	position: relative;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	/* cursor: pointer; */
}

/* .circle-border:HOVER {
	opacity: 0.5;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
} */
.circle-border:nth-child(4) {
	margin-right: 0px;
}

.info-bar {
	/* margin-top: 170px; */
	margin-top: 10em;
	text-align: center;
}

.circle-border .val {
	position: absolute;
	font-size: 60px;
	color: #fff;
	width: 100px;
	height: 85px;
	text-align: center;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -43px;
}

.circle-border .label {
	text-align: center;
	/* font-size: 30px; */
	font-size: 2.2em;
	font-weight: 300;
	position: absolute;
	width: 100%;
	/* margin-top: 40px; */
	margin-top: 1.3em;
	left: 0px;
}

.sec2 {
	padding-bottom: 90px;
}

.sec2 h2 {
	text-align: center;
	margin-top: 105px;
	font-size: 4em;
	color: #17243f;
}

.sec2 h2 span {
	color: #438eb4;
}

.scheme {
	margin-top: 80px;
}

.scheme>div {
	display: inline-block;
	width: 33%;
	vertical-align: top;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	position: relative;
}

.scheme>div .img {
	width: 100%;
	height: 130px;
	margin: 0 auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-bottom: 50px;
}

.scheme>div:nth-child(1) .img {
	/* background-image: url("img/img1.png"); */
	
}

.scheme>div:nth-child(1) .img .ico {
	width: 115px;
	height: 95px;
	margin-top: 18px;
}

.scheme>div:nth-child(2) .img {
	/* background-image: url("img/img2.png"); */
	background-position: 60% 50%;
}

.scheme>div:nth-child(2) .img .ico {
	width: 129px;
	height: 129px;
	margin-left: 42px;
}

.scheme>div:nth-child(3) .img {
	/* background-image: url("img/img3.png"); */
	
}

.scheme>div:nth-child(3) .img .ico {
	width: 96px;
	height: 128px;
	margin-top: 1px;
	margin-left: 0px;
}

.scheme>div span {
	font-size: 16px;
}

.scheme .arr {
	position: absolute;
	height: 130px;
	width: 69px;
	background-image: url("img/arrow.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	top: 0px;
	right: -32px;
}

.sec3 {
	background: #f5f5f5;
	padding-top: 100px;
	padding-bottom: 45px;
}

.form-group.select-group {
	overflow: visible;
	height: 60px;
}

.form-group.select-group .input-group-addon.dropdown-toggle {
	display: none;
}

.form-group.select-group .input-group {
	width: 100%;
}

.form-group.select-group .dropdown-menu {
	width: 100%;
	border: 3px solid #e4e4e4;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #fff;
	color: #888888;
	font-size: 18px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top: none;
	max-height: 150px;
	overflow: scroll;
}

.form-group.select-group .dropdown-menu a {
	color: #888888;
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 15px;
}

input[type=text], input[type=tel], input[type=email], select.form-control
	{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	height: 43px;
	/*  height: 2em; */
	border: none;
	background: #e6eaed;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-bottom: 25px;
	font-size: 18px;
	/* font-size: 2.2em; */
	color: #438eb5;
}

#resume .form-group {
	margin-bottom: 30px;
}

#resume .required:AFTER {
	content: "*";
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	color: #438eb5;
}

#resume input::-webkit-input-placeholder {
	text-transform: uppercase;
	color: #438eb5;
	font-weight: 300;
}

#resume input:-moz-placeholder {
	text-transform: uppercase;
	color: #438eb5;
	font-weight: 300;
}

textarea.txa {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px border: none;
	background: #e6eaed;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
	height: 150px;
	font-size: 18px;
	color: #438eb5;
	resize: none;
}

textarea.txa.error {
	background: #e8dada;
}

.form-group {
	/* overflow: hidden; */
	margin-bottom: 0px;
}

.submit-wrapper {
	text-align: center;
	padding-top: 35px;
}

.submit-wrapper button[type=submit] {
	font-size: 24px;
	background: #438eb4;
	border: none;
	padding: 15px 60px;
	color: #fff;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.submit-wrapper button[type=submit]:HOVER {
	opacity: 0.8;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.sec4 {
	background: #fff;
	padding-top: 90px;
	padding-bottom: 60px;
}

.sec4 .title {
	text-align: center;
	font-size: 4em;
	line-height: 47px;
	color: #17243f;
	margin-bottom: 50px;
}

.sec4 .title span {
	color: #438eb4;
}

#carousel1 .carousel-caption {
	position: relative;
	right: auto;
	left: auto;
	font-size: 54px;
	color: rgba(0, 0, 0, 0.3);
	text-shadow: none;
	line-height: 50px;
}

#carousel1 .carousel-caption .review-body {
  font-size: 16px;
  line-height: 20px;
  margin-top: 1em;
  max-width: 700px;
  margin: 0 auto;
  color: #666;
}

#carousel1 .item .avatar {
	width: 297px;
	height: 297px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.1);
	background-size: cover !important;
	margin-bottom: 30px;
}

#carousel1 .carousel-indicators li {
	border: none;
	background: rgba(0, 0, 0, 0.2);
}

#carousel1 .carousel-indicators .active {
	background: rgba(0, 0, 0, 0.1);
	width: 10px;
	height: 10px;
	margin: 1px;
}

#carousel1 .item:nth-child(2) .avatar {
	background: url("img/av1.jpg") 50% 50% no-repeat;
}

#carousel1 .item:nth-child(3) .avatar {
	background: url("img/av2.jpg") 50% 50% no-repeat;
}

#carousel1 .item:nth-child(4) .avatar {
	background: url("img/av3.jpg") 50% 50% no-repeat;
}

#carousel1 .item:nth-child(1) .avatar {
	background: url("img/av4.jpg") 50% 50% no-repeat;
}

#carousel1 .item .name {
	color: #17243f;
	font-size: 24px;
	text-shadow: none;
	letter-spacing: 0.05em;
	margin-bottom: 30px;
	line-height: 30px;
}

#carousel1 {
	padding-bottom: 60px;
}

.sec5 {
	padding-top: 70px;
}


.sec5 .item {
	width: 19.5%;
	display: inline-block;
	text-align: center;
}

.sec5 .item .label {
	font-size: 16px;
	display: inline-block;
	color: #000;
	font-weight: 300;
	letter-spacing: 0.05em;
	line-height: normal;
	margin-top: 3%;
	white-space: normal !important;
	vertical-align: top !important;
}

.sec5 .item .img {
	width: 100px;
	height: 72px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: 0 auto;
	/* margin-bottom: 40px; */
}

.sec5 .item:nth-child(1) .img {
	/* background-image: url("img/item1.png"); */
	
}

.sec5 .item:nth-child(1) .img .ico {
	width: 49px;
	/* height: 62px; */
}

.sec5 .item:nth-child(2) .img {
	/* background-image: url("img/item2.png"); */
	
}

.sec5 .item:nth-child(2) .img .ico {
	width: 78px;
/* 	height: 71px; */
}

.sec5 .item:nth-child(3) .img {
	/* background-image: url("img/item3.png"); */
	
}

.sec5 .item:nth-child(3) .img .ico {
	width: 85px;
/* 	height: 68px; */
}

.sec5 .item:nth-child(4) .img {
	/* background-image: url("img/item4.png"); */
	
}

.sec5 .item:nth-child(4) .img .ico {
	width: 48px;
	/* height: 71px; */
}

.sec5 .item:nth-child(5) .img {
	/* background-image: url("img/item5.png"); */
	
}

.sec5 .item:nth-child(5) .img .ico {
	width: 68px;
/* 	height: 68px; */
}

.sec5 .items {
	margin-bottom: 180px;
}

.sec7 .logo_min {
	width: 267px;
	/* height: 47px; */
	background: url("img/logo_LS.svg") 50% 50% no-repeat;

	margin: 0 auto;
	/* margin-bottom: 45px; */
	margin-bottom: 4em;
	background-size: contain;
	height: 4em;
	background-size: contain;
}

.sec7 .text {
	text-align: center;
	color: #a2a2a2;
	/* font-size: 24px; */
	font-size: 1.2em;
	letter-spacing: 0.05em;
	margin-bottom: 115px;
	font-weight: 300;
	line-height: 1.5em;
	padding: 0px 5%;
}


.top-panel {
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 10;
	width: 100%;
	background: rgba(61, 64, 69, 0.9);
	padding-top: 12px;
	padding-bottom: 12px;
}

.lang {
	display: inline-block;
}

.questions-btn {
	background: #438eb5;
	display: inline-block;
	color: #fff;
	font-weight: 400;
	padding: 5px 15px;
	vertical-align: middle;
	font-size: 18px;
	text-transform: uppercase;
}

.questions-btn:HOVER {
	text-decoration: none;
}

.lang>div {
	display: inline-block;
	cursor: pointer;
	font-size: 18px;
	padding: 5px 15px;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
}

.lang>div.selected {
	background: #438eb5;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.lang>div:HOVER {
	background: rgba(255, 255, 255, 0.6);
	color: rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.sec6 {
	padding-bottom: 160px;
}

.sec6 h2 {
	text-align: center;
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 55px;
}

.sec6 .item {
	margin-bottom: 35px;
}

.sec6 .item .img {
	background: url("img/img-r.png") 50% 50% no-repeat;
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.sec6 .item .img:HOVER {
	-webkit-transition: all ease-in 0.3s;
	-moz-transition: all ease-in 0.3s;
	-ms-transition: all ease-in 0.3s;
	-o-transition: all ease-in 0.3s;
	transition: all ease-in 0.3s;
	opacity: 0.9;
}

.sec6 .col:nth-child(1) .item:nth-child(1) .img {
	background: url("img/reviews/1m.png") 50% 50% no-repeat;
	background-size: cover;
}

.sec6 .col:nth-child(1) .item:nth-child(2) .img {
	background: url("img/reviews/2m.png") 50% 50% no-repeat;
	background-size: cover;
}

.sec6 .col:nth-child(2) .item:nth-child(1) .img {
	background: url("img/reviews/3m.png") 50% 50% no-repeat;
	background-size: cover;
}

.sec6 .item .right {
	display: inline-block;
}

.sec6 .col {
	display: inline-block;
}

.sec6 .item .name {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
}

.sec6 .item .review {
	font-size: 16px;
	font-weight: 300;
}

.filter {
	fill: url(#MyGradient2);
}

.lawyers .filter {
	fill: url(#MyGradient);
}

/* step5 */
.step5 {
	display: block;
	width: 100%;
	height: auto;
	min-height: 100%;
	position: absolute;
	top: 0px;
	background: #fff;
	z-index: 4;
	padding-bottom: 65px;
	margin-bottom: 50px;
}

.step5 form {
	margin-bottom: 30px;
}

#resume label {
	text-align: right;
	display: inline-block;
	float: right;
	font-size: 23px;
	font-weight: 300;
	/* white-space: nowrap; */
	line-height: 18px;
	width: 100%;
}

#resume input[type=text] {
	width: 100%;
}

#resume .switcher-wrapper {
	text-align: right;
}

#resume .switcher-wrapper.active .switch{
	background: transparent;
	color: #438eb5;
}

#resume .switcher-wrapper.active .switch.selected{
	background: #16243f;
	color: #fff;
}

#resume .add-service-btn {
	color: #e2e2e4;
	font-size: 100px;
	line-height: 86px;
	width: 100%;
	text-align: center;
	font-weight: 300;
	cursor: pointer;
}

#resume .switcher-wrapper .switch {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #dfdfe1;
	color: #fff;
	vertical-align: top;
	cursor: pointer;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
	margin-left: 8px;
}

#resume .sub-label {
	font-weight: 300;
	font-size: 15px;
	line-height: 16px;
	margin-top: 2px;
}

#resume .dashed-area {
	border: 2px dashed #dcdcdc;
	padding: 15px;
	background: #fbfbfb;
	min-height: 100px;
	position: relative;
}

.lngform .custom-select {
	border: 2px solid rgba(0, 0, 0, 0); 
	-webkit-transition : all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
}

.lngform .custom-select.active {
	background: #fff;
	border: 2px solid #16243f;
	border-bottom: none;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.lngform .custom-select-list {
	border: 2px solid #16243f;
	border-top: none;
	width: calc(100% - 30px);
	position: absolute;
	top: 43px;
	left: 15px;
	z-index: 1;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	max-height: 150px;
	overflow-y: auto;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.lngform .custom-select.active+.custom-select-list {
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.lngform .custom-select-list ul {
	width: 100%;
	padding: 10px;
}

.lngform .custom-select-list li {
	cursor: pointer;
	list-style: none;
	padding: 5px;
	font-size: 16px;
}

#resume .form-control[disabled], #resume .form-control[readonly] {
	color: #fff;
	background: #dfdfe1;
}

#resume .form-control[disabled]::-webkit-input-placeholder {
	color: #fff;
}

#resume .form-control[disabled]:-moz-placeholder {
	color: #fff;
}

#resume .form-control[readonly]::-webkit-input-placeholder {
	color: #fff;
}

#resume .form-control[readonly]:-moz-placeholder {
	color: #fff;
}

.service-item {
	margin-top: 20px;
}

.service-item .del {
	cursor: pointer;
	text-decoration: none;
	position: absolute;
	top: 50%;
	right: 5px;
	font-size: 40px;
	line-height: 20px;
	margin-top: -10px;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	display: block;
}

.service-item .item-area {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
}

.service-item .item-institute {
	font-size: 24px;
}

.service-item .item-service {
	color: #438eb5;
	font-size: 18px;
}

.service-item .glyphicon {
	font-size: 24px;
}

.service-item .item-price {
	font-size: 30px;
	display: none;
}

.service-item .item-price.show {
	display: block;
}

.service-item .fa {
	margin-left: 10px;
}

.form-row {
	overflow: hidden;
}

.resume-title h1 {
	font-size: 28px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 35px;
}

.resume-title h1 span{
	color: #438eb5;
}

.form-title {
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
}
/* .resume-title span {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	display: block;
	line-height: 40px;
	margin-top: 55px;
	margin-bottom: 80px;
} */

.step5 .combobox-container {
	margin-bottom: 25px;
}

.step5 .form-group.select-group {
	height: 85px;
}

.step5 textarea {
	margin-bottom: 25px;
}

.step5 select {
	cursor: pointer;
}

/* .step5 select.form-control.error {
	background: #e8dada;
} */

.file_upload {
	position: relative;
	overflow: hidden;
	height: 43px;
	border: none;
	background: #438eb5;
	margin-bottom: 25px;
	font-size: 18px;
	color: #fff;
	padding: 6px 12px;
	cursor: pointer;
	line-height: 33px;
	text-align: center;
	text-transform: uppercase;
}

.file_upload input {
	cursor: pointer;
}

.file_upload>div {
 
}

.sec5 .item .img .ico {
	height: 60px;
}
.desktop--pull-right {
	float: right;
}
.desktop--pull-left {
	float: left;
}
@media only screen and ( max-width: 768px ) {  /* example */
	/* 	.file_upload>div {
		display: none
	} */
	.slogan {
		font-size: 14px !important;
	}
	.clients-reg .text {
		font-size: 0.7em !important;
	}
	.clients-reg {
		margin-top: 30px !important;
	}
	.address_blc {
		width: 100% !important;
		margin-left: 0 !important;
	}
	.footer__logo {
		width: 100%;
		text-align: center;
	}
	.footer__copy {
		width: 100%;
		text-align: center;
	}
	.footer_social {
		width: 100% !important;
		margin-left: 0 !important;
	}
	.footer_social li {
		margin: 0 10px !important;
	}
	.ft_it {
		width: 100% !important;
	}
	.ft_it li a {
		font-size: 12px !important;
	}
	.desktop--pull-right, .desktop--pull-left {
		float: none;
	}
	.inline-code span.btn {
		float: none;
		display: block;
		max-width: 250px;
		margin: 0 auto;
	}
	.inline-code .intl-tel-input {
		float: none;
		display: block;
		max-width: 250px;
		margin: 0 auto;
	}
}

.file_upload input[type=file] {
	position: absolute;
	left: -460%;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(10);
	letter-spacing: 10em; /* IE 9 fix */
	-ms-transform: scale(20); /* IE 9 fix */
	opacity: 0;
	cursor: pointer
}

#logo.logo-resume {
	/*background: url("img/logo-01.svg") 0% 50% no-repeat;*/
	background: url("img/logo_LS.svg") 0% 50% no-repeat;
	background-size: contain;
	height: 130px;
}

.file-ico {
	width: 19px;
	height: 37px;
	background: url("img/file.png") 50% 50% no-repeat;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -18px;
}
/* ----------- */
.cost-label {
	margin-top: 172px;
}

@media screen and (max-width: 1200px) {
	html, body {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
	}
	.circle-border {
		margin-bottom: 60px;
		margin: auto 1% 20px 0px;
	}
	.clients-reg {
		margin-top: 5em;
		height: auto;
		padding-bottom: 30px;
	}
/* 	.inline-code input[type=tel].code {
		width: calc(100% - 40px);
		margin-left: 40px;
	}
	.inline-code .code-refresh {
		left: 0px;
	} */
	.lawyers-reg {
		margin-top: 5em;
		height: auto;
		padding-bottom: 30px;
	}
	.clients-reg .text {
		font-size: 1.1em;
	}
	.clients-reg--step1 textarea {
		font-size: 1.1em;
	}
	.clients-reg input[type=button].forward {
		font-size: 1em;
	}
	#login-btn {
		font-size: 12px;
	}
	.circle-border:nth-child(1), .circle-border:nth-child(3) {
/* 		margin-left: 8%;
		float: left;
		margin-right: 8%; */
	}
	.circle-border:nth-child(2), .circle-border:nth-child(4) {
/* 		margin-right: 8%;
		float: right;
		margin-left: 0px; */
	}
	.circle-border .val {
		font-size: 24px;
		line-height: 82px;
	}
	.circle-border .label {
		font-size: 10px;
		margin-top: 8%;
	}
	.info-bar {
		margin-top: 90px;
		overflow: hidden;
		text-align: center;
	}
	body.lawyers {
		height: 100%;
		overflow: visible;
		min-height: 560px;
	}
	.lang {
		top: 15px;
		right: 4%;
		height: 30px;
	}
	.lang>div {
		font-size: 12px;
		height: 30px;
		line-height: 26px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.reg-btn, .yn-btn {
		height: 37px;
	}
	.reg-btn {
		width: 90%;
		margin-left: 0px;
		left: 5%;
	}
	.yn-btn {
		margin-right: 0px;
		width: 47%;
	}
	.yes-btn {
		float: left;
	}
	.no-btn {
		float: right;
	}
	.reg-btn span, .yn-btn span {
		font-size: 9px;
		text-align: center;
		display: block;
		padding-top: 10px;
		vertical-align: top;
	}
	.step3 .text {
		font-size: 12px;
		font-weight: 300;
		color: #fff;
		height: auto;
		width: 90%;
		padding-left: 0px;
		padding-right: 0px;
		position: relative;
		line-height: 14px;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.step3 .text .q-text {
		width: 100%;
		text-align: center;
		font-size: 20px;
		color: rgba(255, 255, 255, 0.5);
		line-height: 25px;
		width: 100%;
		margin-top: 60px;
		margin-left: 0px;
	}
	.q1 {
		-webkit-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-o-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}
	.q2 {
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		-o-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transform: scale(0.5) rotateZ(-180deg);
		-moz-transform: scale(0.5) rotateZ(-180deg);
		-ms-transform: scale(0.5) rotateZ(-180deg);
		-o-transform: scale(0.5) rotateZ(-180deg);
		transform: scale(0.5) rotateZ(-180deg);
	}
	.step4 {
		width: 100%;
		height: 100%;
		min-height: 560px;
	}
	.step4 h2 {
		margin-top: 220px;
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: 300;
		text-align: center;
	}
	.step2 .text {
		font-weight: 300;
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
		margin-top: 20px;
	}
	.submit-wrapper button.lsubmit[type=submit] {
		background: #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 2px solid #0096cb;
		color: #0096cb;
		font-size: 12px;
	}
	.step4 .submit-wrapper {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.header-btn {
		width: 47%;
		height: 37px;
		/* background: #17243f; */
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-transform: uppercase;
		color: #0096cb;
		display: inline-block;
		margin-right: 5px;
		position: relative;
		cursor: pointer;
		-webkit-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
		-ms-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
		border: 3px solid #0096cb;
	}
	.header-btn span {
		font-size: 9px;
		text-align: center;
		display: block;
		padding-top: 10px;
		vertical-align: top;
	}
	.header-btn .ico {
		width: 13px;
		height: 16px;
		vertical-align: middle;
		display: inline-block;
		margin-right: 10px;
		position: relative;
		top: -2.5px;
	}
	#logo {
		width: 100%;
		/* height: 52px; */
		height: auto;
		/* background: url("img/logo.png"); */
		margin-top: 40px;
		background-size: contain;
		background-repeat: no-repeat;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.container .row {
		padding-left: 5%;
		padding-right: 5%;
	}
	.header-btn:nth-child(2) {
		float: right !important;
		margin-right: 0px;
	}
	.header-btn:nth-child(1) {
		float: left !important;
	}
	.slogan {
		font-size: 18px;
		line-height: 23px;
		-webkit-transform: scaleX(0.7) !important;
		-moz-transform: scaleX(0.7) !important;
		-ms-transform: scaleX(0.7) !important;
		-o-transform: scaleX(0.7) !important;
		transform: scaleX(0.7) !important;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
		-webkit-transform-origin: 0% 50%;
		-moz-transform-origin: 0% 50%;
		-ms-transform-origin: 0% 50%;
		-o-transform-origin: 0% 50%;
		transform-origin: 0% 50%;
		/* width: 150%; */
	}
	.sec1 {
		min-height: 560px;
	}
	.sec2 h2 {
		font-size: 18px;
		font-weight: 300;
		margin-top: 35px;
		line-height: 20px;
		margin-bottom: 25px;
	}
	.scheme>div {
		display: block;
		width: 100%;
		margin-bottom: 95px;
	}
	.scheme {
		margin-top: 0px;
	}
	.scheme>div span {
		font-size: 14px;
		max-width: 400px;
		display: inline-block;
	}
	.scheme>div .img {
		margin-bottom: 23px;
		height: auto;
	}
	.scheme .arr {
		background-image: url("img/arrow1.png");
		background-position: 50% 50%;
		background-repeat: no-repeat;
		height: 35px;
		width: 20px;
		margin: 0 auto;
		right: inherit;
		position: relative;
		background-size: contain;
		-webkit-transform: perspective(1px) translateZ(0px);
		-moz-transform: perspective(1px) translateZ(0px);
		-ms-transform: perspective(1px) translateZ(0px);
		-o-transform: perspective(1px) translateZ(0px);
		transform: perspective(1px) translateZ(0px);
		top: 45px;
	}
	.sec2 {
		padding-bottom: 0px;
	}
	.scheme>div:nth-child(3) {
		margin-bottom: 30px;
	}
	.sec3 {
		padding-top: 40px;
	}
	.sec3 input[type=text], .sec3 input[type=tel], .sec3 input[type=email] {
		height: 46px;
		margin-bottom: 13px;
		font-size: 14px;
	}
	.sec3 textarea {
		background: #e4e4e4;
		height: 150px;
		font-size: 14px;
	}
	#l_reg_form input[type=text], #l_reg_form input[type=tel], #l_reg_form input[type=email]
		{
		height: 30px;
		margin-bottom: 8px;
		font-size: 14px;
	}
	.submit-wrapper {
		padding-top: 17px;
	}
	.submit-wrapper button[type=submit] {
		font-size: 16px;
		width: 100%;
	}
	#carousel1 .carousel-caption {
		font-size: 12px;
	}
	.sec5 .item {
		width: 48%;
		vertical-align: top;
		margin-bottom: 30px;
	}
	.sec5 .items {
		text-align: center;
	}
	.sec5 .item .label {
		font-size: 14px;
		font-weight: 300;
		width: 100%;
		margin-left: 0%;
		white-space: normal;
	}
	.sec5 {
		padding-top: 48px;
	}
	.sec5 .item .img {
	/* 	margin-bottom: 20px; */
	  margin-bottom: 0px;
	}
	.sec5 .item .img .ico {
		height: 50px;
	}
	.sec5 .item .img {
		/* height: 37px; */
		height: auto;
	}
	.sec5 .items {
		margin-bottom: 60px;
	}
	.sec6 {
		padding-bottom: 55px;
	}
	.sec6 h2 {
		font-size: 20px;
		margin-bottom: 40px;
		margin-top: 0px;
	}
	.sec6 .item .name, .sec6 .item .review {
		font-size: 12px;
	}
	.sec6 .item .img {
		width: 40px;
		height: 40px;
		background-size: contain;
	}
	.sec6 .item .right {
		max-width: 75%;
	}
	.sec7 .logo_min {
		background-size: contain;
		height: 50px;
		margin-bottom: 21px;
	}
	#l_reg_form+.sec7 .text {
		font-size: 10px;
		margin-bottom: 0px;
		/* 		padding-left: 5%;
		padding-right: 5%; */
		line-height: 12px;
	}

	.sec6 .item .img {
		margin-right: 15px;
	}
	.sec4 .title {
		line-height: 20px;
		font-size: 18px;
	}
	.sec4 {
		padding-top: 45px;
		padding-bottom: 30px;
	}
	#carousel1 .item .avatar {
		width: 200px;
		height: 200px;
	}
	#carousel1 .item .name {
		font-size: 16px;
		line-height: 20px;
	}
	#carousel1 .carousel-caption {
		font-size: 27px;
		line-height: 25px;
	}
	#carousel1 .carousel-caption .review-body {
		font-size: 14px;
		line-height: 24px;
		margin-top: 1em;
	}
	.for_lawyers.step1.cshow {
		position: absolute;
		left: 50%;
		width: 70%;
		margin-left: -35%;
	}
	#logo-color {
		display: none !important;
	}
	.lawyers .for_lawyers.step1.increase {
		height: 15em;
		width: 90%;
		left: 5%;
		margin-left: 0px;
	}
	.login-wrapper {
		position: absolute;
		top: -57px;
		width: 47%;
	}
	.login-wrapper #login-btn {
		width: 100%;
	}
	.header-btn:nth-child(1) .ico64 {
		width: 21px;
		height: 21px;
		left: 20px;
		top: 6px;
	}
	.header-btn:nth-child(2) .ico64 {
		left: 5px;
		top: -8px;
		transform: scale(0.55);
		transform-origin: 0% 0%;
	}
	#login {
		left: 0px;
		margin-left: 0px;
		z-index: 10;
	}
	#logo svg {
		/* top: -60px; */
		position: relative;
		height: 10%;
	}
	.typeahead.dropdown-menu {
		max-height: 100px;
		overflow: scroll;
	}
	#login-btn svg {
		left: -255px;
		top: -105px;
		-webkit-transform: scale(0.6);
		-moz-transform: scale(0.6);
		-ms-transform: scale(0.6);
		-o-transform: scale(0.6);
		transform: scale(0.6);
		z-index: 2;
	}
	.header-btn:not(#login-btn){
		z-index:4;
	}
	.form-group.select-group {
		height: 30px;
	}
	.martin {
		width: 150px;
		height: 150px;
	}
	.martin span {
		font-size: 16px;
	}
	.cost-label {
		margin-top: 0px;
	}
	#resume label {
		text-align: left;
	}
}
@media screen and (min-width: 700px) and (max-width: 1199px) {
  .slogan {
    font-size: 28px !important;
  }
	.clients-reg {
		margin-top: 5em;
		height: auto;
		padding-bottom: 30px;
	}
	.clients-reg .text {
		font-size: 1.3em;
	}
	.clients-reg--step1 textarea {
		font-size: 1.3em;
	}
	.clients-reg input[type=button].forward {
		font-size: 1.2em;
	}
	#login-btn {
		font-size: 16px;
	}
	.step4 h2 {
    margin-top: 350px !important;
  }
  .form-group.select-group {
    height: 92px !important;
  }
  .circle-border .val {
    font-size: 48px !important;
  }
  .circle-border .label {
    font-size: 30px !important;
  }
  .circle-border  {
    margin-bottom: 60px !important;
  }
  .sec5 .item .img .ico {
    height: 60px !important;
  }
  .header-btn {
    height: 50px !important;
  }
  .header-btn span {
    font-size: 18px !important;
  }
  .header-btn .ico {
    width: 15px !important;
    height: 27px !important;
  }
  .sec5 .item .label {
    font-size: 18px !important;
  }
  .sec4 .title, .sec2 h2 {
    font-size: 28px !important;
  }
  .scheme>div span, #carousel1 .carousel-caption .review-body, .sec5 .item .label, .reg-btn span, .yn-btn span {
    font-size: 18px !important;
  }
  #carousel1 .item .name, .submit-wrapper button[type=submit] {
    font-size: 20px !important;
  }
  .reg-btn, .yn-btn {
  	height: 50px;
  }
}
.map_share {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  display: none;
  z-index: 99;
  opacity: 0;
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
  background-color: rgba(0,0,0,0.4);
  overflow-y: auto;
  padding-bottom: 40px;
}
.map_share.active {
	opacity: 1;
}
body.over {
	overflow: hidden;
}
#map_style {
	width: 100%;
	margin-bottom: 40px;
	position: relative;
	min-height: 480px;
}
textarea {
	resize: none;
}
.map_share #map_style {
  width: 1200px;
  height: 630px;
  margin-bottom: 0;
  margin: 0 auto;
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  box-shadow: 3px 2px 17px 1px rgba(0,0,0,0.3);
}
.map_share.active #map_style {
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	margin-top: 50px;
}

#map_style .bala2_name {
	height: 65px;
	width: 265px;
	font-weight: 100;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
}
#map_style .balloon {
	width: 342px;
	height: 430px;
	overflow: hidden;
	color: white;
	position: relative;
	text-align: center;
}
#map_style .balloon.share_bal {
  position: absolute;
  top: calc(50% - 285px);
  left: calc(50% - 160px);
    height: 491px;
}
#map_style .bal_slider {
	width: 10000px;
	overflow: hidden;
	height: 363px;
}
#map_style .bal_slide {
  width: 230px;
  float: left;
  position: relative;
  height: 100%;
  margin-left: 56px;
}
#map_style .bal_poi {
	background-image: url(img/baloon_new.png);
	width: 230px;
	padding-top: 9px;
	height: 320px;
}
.myInfobox:after {
	content: "";
	background-color: rgba(23,36,63,0.5);
	position: fixed;
	width: 100000px;
	height: 100000px;
	left: -1700px;
	top: -3000px;
	z-index: -1;
}
#map_style .bal_poi_ava {
  width: 210px;
  height: 210px;
  border-radius: 180px;
  margin: 0px 0px 0px 10px;
  background-size: cover;
}
#map_style .bal_city {
  margin-top: -4px;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}
#map_style .bal_count {
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 100;
}
.bal_slider_name_wrp {
  width: 100%;
  overflow: hidden;
  height: 45px;
  left: 149px;
  position: relative;
}
.ogn_bal {
	width: 45px;
	height: 45px;
	float: left;
	background-image: url(img/activeBall.png);
	transform: scale(0.44);
	-webkit-transform: scale(0.44);
	-moz-transform: scale(0.44);
	-ms-transform: scale(0.44);
	transition: 0.3s ease all 0s;
	-webkit-transition: 0.3s ease all 0s;
	-moz-transition: 0.3s ease all 0s;
	-ms-transition: 0.3s ease all 0s;
}
.ogn_bal.active {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
}
#map_style .bal_slider_name {
	width: 10000px;
}
#map_style .bal_slide_name {
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#map_style .bal_sl_arr {
  width: 42px;
  height: 82px;
  top: 101px;
  position: absolute;
  cursor: pointer;
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
}
#map_style .bal_sl_arr.baslarr_left {
	left: 0;
	background-image: url(img/arrow_new2.png);
}
#map_style .bal_sl_arr.baslarr_right {
	right: 0;
	background-image: url(img/arrow_new.png);
}
#map_style .bal_sl_arr:hover {
	transform: scale(0.85);
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
}
#map_style .bal_sl_arr:active {
	transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
}
.bal_slider, .bal_slider_name_wrp {
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
}
.bt_sh {
  background-image: url(img/sh.png);
  width: 112px;
  height: 112px;
  background-position: 0 0;
  float: left;
  margin-left: 41px;
  cursor: pointer;
	opacity: 0.8;
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
}
.bt_sh:hover {
	opacity: 1;
}
.fb_sh {
  background-position: -111px 0;
}
.vk_window .dsc {
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
}
.vk_share_img {
	width: 100%;
	margin: 20px 0;
}
.vk_share_bt_pp {
  text-transform: uppercase;
  color: #fff;
  background: #438eb4;
  border: none;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.2em 0.6em;
  margin-top: 1em;
  cursor: pointer;
  text-align: center;
  margin: 20px auto 0;
  width: 192px;
}
.bal_share_but {
  margin-left: 12px;
}
.go_lk {
  text-transform: uppercase;
  color: #fff;
  background: #438eb4;
  border: none;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.2em 0.6em;
  cursor: pointer;
  text-align: center;
  width: 340px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 160px);
}
.go_lk:hover {
	text-decoration: none;
	color: #fff;
}
input[name=phone]:FOCUS+.before {
	display: block;
}
input[name=phone].notempty+.before {
	display: block;
}
input[name=phone]+.before {
	display: none;
	position: absolute;
	left: 10px;
	font-size: 18px;
	color: #438eb5;
	z-index: 2;
	line-height: 40px;
	top: 0px;
}

.code-refresh {
	width: 30px;
	height: 30px;
	background: url(img/resend.svg) 50% 50% no-repeat;
	position: absolute;
	top: 5px;
	left: -40px;
	background-size: contain;
	cursor: pointer;
}
.rotateThis {
	-webkit-transform: rotateZ(3600deg);
	-moz-transform: rotateZ(3600deg);
	-ms-transform: rotateZ(3600deg);
	-o-transform: rotateZ(3600deg);
	transform: rotateZ(3600deg);
	
	-webkit-transition: all 5s ease-in-out;
	-moz-transition: all 5s ease-in-out;
	-ms-transition: all 5s ease-in-out;
	-o-transition: all 5s ease-in-out;
	transition: all 5s ease-in-out;
	
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.mb {
	background-color: #438eb5;
	color: #fff;
	padding: 0.2em 0.6em;
	text-transform: uppercase;
	text-decoration: none;
	vertical-align: middle;
	border: none;
	cursor: pointer;
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
}
.mb:hover {
	background-color: #1e668b;
	color: #fff;
	text-decoration: none;
}
.ui-autocomplete {
	background: #fff;
	border: 2px solid #438eb5;
	border-top: none;
	display: block;
	max-height: 170px;
	overflow-y: auto;
	overflow-x: hidden;
}
.ui-autocomplete li {
	text-transform: capitalize;
}
.city_ac.form-control:focus, .country_ac.form-control:focus, .area_ac.form-control:focus, 
	.institute_ac.form-control:focus, .tip_ac.form-control:focus {
	border-color: #438eb5;
	border: 2px solid;
	background: #fff;
}
.btn-plus, .add-service-btn {
	display: inline-block;
	cursor: pointer;
	color: #dadada;
	font-size: 72px;
	line-height: 41px;
	vertical-align: middle;
	font-weight: 100;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	position: relative;
	z-index: 1;
}


.btn-plus.active, .add-service-btn.active {
	color: #438eb5 !important;
/* 	-webkit-transform: rotateZ(90deg);
	-moz-transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	-o-transform: rotateZ(90deg);
	transform: rotateZ(90deg); */
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.modal.info {
	z-index: 1999;
}

.iti-flag {
	background-image: url("../../static/img/flags.png");
}

.ui-menu .ui-menu-item:hover {
  background-color: #e3e7ea;
  margin: 0;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
button[type=submit].active {
	background-color: #438eb5 !important;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) , only screen and (min--moz-device-pixel-ratio: 2) ,
		 only screen and (-o-min-device-pixel-ratio: 2 / 1) , 
		 only screen and (min-device-pixel-ratio: 2) , 
		 only screen and (min-resolution: 192dpi), 
		 only screen and (min-resolution: 2dppx) {
	.iti-flag {
		background-image: url("../../static/img/flags@2x.png")
	}
}
.contrr {
  min-height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1280px;
  padding-bottom: 20px;
  position: relative;
}
.header {
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 62px;
  padding: 15px 0;
  text-transform: uppercase;
}
.partners li {
  width: 12.666667%;
  margin: 2% 2%;
  float: left;
  display: block;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
/*  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);*/
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
}
.partners li:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
}
.partners .title {
  text-align: center;
  font-size: 4em;
  line-height: 47px;
  color: #17243f;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.new_sub-label {
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  left: 185px;
  width: 25px;
}
.new_sub-label span {
  display: block;
  width: 25px;
  height: 25px;
  font-weight: bold;
  color: white;
  background-color: #438eb5;
  text-align: center;
  line-height: 25px;
  border-radius: 90px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.new_sub-label p {
  background-color: #e6eaed;
  padding: 10px;
  width: 125px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: -74px;
  transition: 0.3s ease all 0s;
  -webkit-transition: 0.3s ease all 0s;
  -moz-transition: 0.3s ease all 0s;
  -ms-transition: 0.3s ease all 0s;
  transform: translateY(25px);
  -webkit-transform: translateY(25px);
  -moz-transform: translateY(25px);
  -ms-transform: translateY(25px);
  opacity: 0;
}
.new_sub-label span:hover + p {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  opacity: 1;	
}
.police {
	margin-top: 20px;
	font-size: 1.2em;
}

.addresses__map {
	width: 600px;
	height: 394px;
	float: left;
	background-size: 117%;
	max-width: 100%;
}
.address_blc {
  float: left;
  width: calc(100% - 650px);
  margin-left: 50px;
}
.addresses__box {
    margin-bottom: 18px;
    border-bottom: 1px solid #acacac;
    max-width: 400px;
    padding-bottom: 10px;
}
.addresses__box:last-child {
    border-bottom: none;
}
.addresses__box h3 {
    font-size: 1.8em;
      padding-bottom: 10px;
      margin: 0;
}
.addresses__box p {
    padding: 7px 0;
    margin: 0;
}
.add_b_addres:before {
    content: "";
    display: block;
    width: 32px;
      margin-right: 5px;
    background-size: cover;
    float: left;
    margin-top: -3px;
    height: 32px;
    background-image: url(/static/lb/img/1435726674_ic_location_on_48px.svg);
}
.add_b_phone:before {
    content: "";
    display: block;
    background-image: url(/static/lb/img/1435726816_ic_local_phone_48px.svg);
    width: 32px;
      margin-right: 5px;
    height: 32px;
    background-size: cover;
    margin-top: -3px;
    float: left;
}
footer {
    background-color: #3d4145;

    line-height: 24px;
      font-size: 17px;
}
.foot_block {

}
footer ul {
	padding: 0;
	margin: 0;
}
.ft_it {
  width: 23.3%;
  margin-right: 10%;
  float: left;
  padding-top: 40px;
}
.ft_it li {
    display: block;
    padding-bottom: 10px;
}
.ft_it h3 {
  padding-bottom: 40px;
}
.ft_it h3 a {
  color: #3f8db6;

  font-size: 1.4em;
  text-decoration: none;
          transition: 0.3s ease all 0s;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    -moz-transition: 0.3s ease all 0s;
    -ms-transition: 0.3s ease all 0s;
}
.ft_it h3 a:hover {
    text-decoration: underline;
      letter-spacing: .5px;
}

.ft_it li a {
	color: #b3b3b3;
	transition: 0.3s ease all 0s;
	-webkit-transition: 0.3s ease all 0s;
	-o-transition: 0.3s ease all 0s;
	-moz-transition: 0.3s ease all 0s;
	-ms-transition: 0.3s ease all 0s;
	text-decoration: none;
	margin-right: -5%;
}

.ft_it li a:hover {
	color: white;
	text-decoration: underline;
	letter-spacing: .2px;
}
.footer_social {
  text-align: center;
  margin-top: 50px;
  float: left;
  margin-left: 276px;
}
.nclear:after {
    content: '';
    display: block;
    height: 0px;
    opacity: 0;
    clear: both;
}
.footer_social ul {
    display: inline-block;
}
.footer_social li {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 30px;
}
.footer_social li a {
    display: block;
}
.footer_social li a rect {
        transition: 0.3s ease all 0s;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    -moz-transition: 0.3s ease all 0s;
    -ms-transition: 0.3s ease all 0s;
}
.footer_social li a:hover rect {
    fill: #14243D;
}
.footer__logo {
    float: right;
    margin-bottom: 20px;
    margin-top: 47px;
    opacity: 0.5;
    transition: 0.3s ease all 0s;
    -webkit-transition: 0.3s ease all 0s;
    -moz-transition: 0.3s ease all 0s;
    -ms-transition: 0.3s ease all 0s;
}
.footer__logo:hover {
    opacity: 1;
}
.footer__copy {
  font-size: 24px;
  color: #C6CCD4;
  float: left;
  margin-top: 57px;
  opacity: 0.5;
}
button.close {
  margin-right: 10px!important;
  margin-top: 5px!important;
    z-index: 999999999999999999999999;
  position: relative;
}