{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Legal space</title>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="{% static 'landing/style.css' %}">
</head>
<body ng-app="lawandgauge" ng-controller="translateCtrl">
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
		<defs>
		  <linearGradient id="MyGradient">
		       <stop style="stop-color:white" offset="0%"/>
		  <stop style="stop-color:black" offset="100%"/>
		    </linearGradient>
		</defs>
	</svg>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="logo" class="logo-resume"></div>
			</div>
		</div>
		<div class="row">
			<div id="about" class="col-md-12">
				<h2>About</h2>
				<p>Service LS - a safe and reliable virtual platform,
					that will help you solve the problem of legal on-line. Establish
					a company in Cyprus? register a trademark? You get a view of the
					permit? Any legal service anywhere in the world right
					Now our website. More details: Every lawyer LS passes hard
					selection, so we are confident in his skills and professionalism, and
					We vouch for the quality of services rendered. All our lawyers have
					experience of at least 5 years. Each candidate goes private
					interview before starting work. The base LS lawyers replenished
					Only through personal recommendations and reviews. Our partners are the best
					representatives from the legal industry are progressive and always
					They are at the heart of innovation. Together, we are changing the world of legal services
					for the better.</p>
					
				<p>LS - a global network of best lawyers has already
					more than 2,000 professionals in 190 countries. Details: Our
					extensive geographic database can solve your problem, or
					to receive service in any country. We do not limit ourselves only
					popular destinations and are ready to provide you with a professional in
					Argentina is as easy as in Germany or France.</p>
				<p>LS - the fastest and most efficient way to obtain the necessary
					legal services. We can help you save not only money, but
					and most valuable - it's your time. Details: Due to the huge base
					professionals chat and convenient storage of your confidential
					documents you will be able to resolve any issues directly on the site. You do not
					I need to go to another country to spend time on the road to a lawyer, you
					You do not even need to open your email. Just leave
					application, and within an hour you will be contacted will be presented by our consultants
					you the time and cost needed to solve your problem.</p>
			</div>
		</div>
		<div id="our_goal" class="row">
			<div class="col-md-12">
				<h2>Our goal</h2>
				<p>The solution of legal problems of any complexity and geographical
					Facilities using the largest international network of best
					lawyers. Task LS - to minimize the time and financial
					costs and allow you to find the right lawyer anywhere
					the world as quickly and conveniently as air tickets or
					hotel.</p>
				</div>
		</div>
		<div id="our_mission" class="row">
			<div class="col-md-12">
				<h2>Our mission</h2>
				<p>We simplify the process of providing legal services to accelerate
					development of small and medium-sized businesses and to help entrepreneurs
					the withdrawal of the international market.</p>
					<p>We free from the problems of the search business lawyer outside their home country, provides a
						rapid consultation on the legal peculiarities of a foreign state, the attacks also significantly
						reducing financial costs.</p>
			</div>
		</div>
		<div id="our_lawyers" class="row">
			<div class="col-md-12">
				<h2>Our lawyers</h2>
				<p>Our lawyers - professionals with experience of at least 5
					years. All lawyers LS pass a personal interview before
					operation. The base LS is replenished only through guidance and personal
					reviews.</p>
			</div>
		</div>
		<div class="row">
			<div id="find_out_more" class="col-md-12">
				<h2>Find out more</h2>
				<p>How to send messages and view the conversation? Communication on
					Online LS begins with a client application or the issue of
					Legal services. From this point on, all messages for this
					demand or request will be stored in your personal account. You
					You can also download to scan or photo of the necessary documents.
					Thanks to our secure messaging system, all information
					the client and the lawyer in the course of the correspondence is confidential.</p>
			</div>
		</div>
		<div class="row">
			<div id="find_out_more" class="col-md-12">
				<h2>Why do not we show you the lawyers and their ranking? </h2>
				<p>LS is an internal rating based on a wide range of competencies that feels bad to be evaluated
					number of stars. All our lawyers have experience of at least 5 years and have a lot of
					recommendations and reviews. You are provided with a professional who specializes in solving specific
					your task in which we believe 100 percent. That is why the LS takes full
					responsibility for the final result.</p>
			</div>
		</div>
		<div id="a_safe_service" class="row">
			<div class="col-md-12">
				<h2>Safety Services</h2>
				<p>Our convenient billing system supports multiple currencies, multiple payment methods, and receive payments.</p>
				<p>LS will charge fees at the time of application for service and freezes it as long as the problem is not solved
					full. Thus, lawyers and clients feel confident knowing that LS will list
					money only when all obligations are fulfilled.</p>
			</div>
		</div>
		<div id="we_work_for_you" class="row" style="margin-bottom: 20px;">
			<div class="col-md-12">
				<h2>We work for you 24/7</h2>
				
				<p>You can contact our international Customer Support. We are ready to help you anytime, anywhere
					Whatever you were. Leave your room to learn more, and we will contact you shortly.</p>
			</div>
		</div>
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-md-12">
				<h2>Still have questions?</h2>
				<p>Leave your room to learn more, and we will contact you shortly.</p>
			</div>
		</div>
	</div>

    {% include 'landing/footer.html' %}

</body>
</html>