{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Legal space</title>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="{% static 'landing/style.css' %}">
</head>
<body ng-app="lawandgauge" ng-controller="translateCtrl">
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
		<defs>
		  <linearGradient id="MyGradient">
		       <stop style="stop-color:white" offset="0%"/>
		  <stop style="stop-color:black" offset="100%"/>
		    </linearGradient>
		</defs>
	</svg>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="logo" class="logo-resume"></div>
			</div>
		</div>
		<div class="row">
			<div id="about" class="col-md-12">
				<h2>О нас</h2>
				<p>Сервис LS — это безопасная и надежная виртуальная площадка,
					которая поможет вам решить юридическую задачу on-line. Учреждаете
					компанию на кипре? регистрируете торговую марку? Получаете вид на
					жительство? Любые юридические услуги в любой точке мира прямо
					сейчас на нашем сайте. Подробнее: Каждый юрист LS проходит жесткий
					отбор, поэтому мы уверенны в его квалификации и профессионализме и
					ручаемся за качество оказанных им услуг. Все наши юристы обладают
					опытом работы не менее 5 лет. Каждый кандидат проходит личное
					собеседование перед началом работы. База юристов LS пополняется
					только через рекомендации и личные отзывы. Наши партнеры это лучшие
					представители юридической отрасли они прогрессивны и всегда
					находятся в центре новаций. Вместе мы меняем мир юридических услуг
					в лучшую сторону.</p>
					
				<p>LS - это международная сеть лучших юристов насчитывает уже
					более чем 2 000 профессионалов в 190 странах. Подробнее: Наша
					обширная географическая база позволяет решить вашу задачу или
					получить услугу в любой стране. Мы не ограничиваемся только
					популярными направлениями и готовы предоставить вам профессионала в
					Аргентине так же легко, как в Германии или Франции.</p>
				<p>LS – самый быстрый и эффективный способ получить необходимую
					юридическую услугу. Мы поможем вам сэкономить не только деньги, но
					и самое ценное - это ваше время. Подробнее: Благодаря огромной базе
					профессионалов, удобному чату и конфиденциальному хранилищу ваших
					документов вы сможете решать любые вопросы прямо на сайте. Вам не
					нужно ехать в другую страну, тратить время в дороге к юристу, вам
					даже не нужно открывать свою электронную почту. Просто оставьте
					заявку, и в течении часа с вами свяжутся наши консультанты озвучат
					вам сроки и стоимость необходимые для решения вашей задачи.</p>
			</div>
		</div>
		<div id="our_goal" class="row">
			<div class="col-md-12">
				<h2>Наша цель</h2>
				<p>Решение юридических задач любой сложности и географической
					принадлежности с помощью самой крупной международной сети лучших
					юристов. Задача LS - свести до минимума временные и финансовые
					издержки и позволить вам найти подходящего юриста в любой точке
					мира, так же быстро и удобно, как забронировать авиабилет или
					гостиницу.</p>
				</div>
		</div>
		<div id="our_mission" class="row">
			<div class="col-md-12">
				<h2>Наша миссия</h2>
				<p>Мы упрощаем процесс оказания юридических услуг, чтобы ускорить
					развитие малого и среднего бизнеса и помочь предпринимателям в
					выводе компании на международный рынок.</p>
					<p>Мы освобождаем бизнес от проблем поиска юриста за пределами родной страны, позволяем получить быстрые консультации о правовых особенностях иностранного государства, атак же существенно сокращаем финансовые издержки. </p>
			</div>
		</div>
		<div id="our_lawyers" class="row">
			<div class="col-md-12">
				<h2>Наши юристы</h2>
				<p>Наши юристы - это профессионалы с опытом работы не менее 5
					лет. Все юристы LS проходят личное собеседование перед началом
					работы. База LS пополняется только через рекомендации и личные
					отзывы.</p>
			</div>
		</div>
		<div class="row">
			<div id="find_out_more" class="col-md-12">
				<h2>Узнайте больше</h2>
				<p>Как отправлять сообщения и просматривать переписку? Общение на
					сайте LS начинается с отправки клиентом заявки или вопроса о
					юридической услуге. С этого момента все сообщения по данному
					запросу или заявке будут сохраняться в вашем личном кабинете. Вы
					также можете загрузить туда скан или фото необходимых документов.
					Благодаря нашей безопасной системе сообщений, вся информация
					клиента и юриста в процессе переписки остается конфиденциальной.</p>
			</div>
		</div>
		<div class="row">
			<div id="find_out_more" class="col-md-12">
				<h2>Почему мы не показываем вам юристов и их рейтинг? </h2>
				<p>LS ведет внутренний рейтинг, основанный на широком спектре компетенций, который неможет быть оценен количеством звезд. Все наши юристы обладают опытом работы не менее 5 лет и имеют множество рекомендаций и отзывов. Вам предоставляется профессионал, специализирующийся на решении конкретно вашей задачи, в котором мы уверены на 100 процентов. Именно поэтому LS полностью берет на себя ответственность за финальный результат.</p>
			</div>
		</div>
		<div id="a_safe_service" class="row">
			<div class="col-md-12">
				<h2>Безопасные услуги</h2>	
				<p>Наша удобная платежная система поддерживает разные валюты, несколько методов оплаты и получения выплат.</p>
				<p>LS взимает платежи в момент заявки на услугу и замораживает ее до тех пор, пока задача не решена в полном объеме. Таким образом, юристы и клиенты чувствуют уверенность, зная, что LS перечислит деньги, только когда все обязательства будут выполнены.</p>
			</div>
		</div>
		<div id="we_work_for_you" class="row" style="margin-bottom: 20px;">
			<div class="col-md-12">
				<h2>Мы работаем для вас 24/7</h2>
				
				<p>Вы можете обратиться в нашу международную Службу поддержки. Мы готовы помочь вам в любое время, где бы вы ни были. Оставьте ваш номер, чтобы узнать больше и мы свяжемся с вами в ближайшее время.</p>
			</div>
		</div>
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-md-12">
				<h2>Остались вопросы?</h2>
				<p>Оставьте ваш номер, чтобы узнать больше и мы свяжемся с вами в ближайшее время.</p>
			</div>
		</div>
	</div>

    {% include 'landing/footer.html' %}

</body>
</html>