{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Legal space</title>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
	<script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
	<link rel="stylesheet" href="{% static 'css/font-awesome-4.3.0/css/font-awesome.min.css' %}">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- <script src="{% static 'landing/jquery.maskedinput.min.js' %}"></script> -->
	<script src="{% static 'landing/angular/angular.min.js' %}"></script>
	<!-- <script src="angular-route/angular-route.min.js"></script> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"> -->
	<script src="{% static 'landing/controllers.js' %}"></script>

    <!-- jquery UI -->
    <link rel="stylesheet" href="{% static 'landing/jquery-ui.css' %}">
    <script src="{% static 'landing/jquery-ui.min.js' %}"></script>

	<!-- intlTelInput -->
	<link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">
	<script src="{% static 'js/intlTelInput.min.js' %}"></script>
	<script src="{% static 'js/utils.js' %}"></script>

	<!-- <script src="{% static 'landing/jquery.animateNumber.min.js' %}"></script> -->
	<!-- <script src="{% static 'landing/svg.min.js' %}"></script> -->
	<script src="{% static 'landing/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'landing/bootstrap-combobox.js' %}"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script src="{% static 'landing/circle-progress.js' %}"></script>
	<script src="{% static 'landing/jquery.reveal.js' %}"></script>
	<script src="{% static 'landing/jquery.mobile.custom.min.js' %}"></script>
	<script src="{% static 'landing/jquery.mousewheel.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'landing/style.css' %}">
	<link rel="stylesheet" href="{% static 'landing/reveal.css' %}">
	<link rel="stylesheet" href="{% static 'landing/bootstrap-combobox.css' %}">

	<script src="{% static 'landing/inputmask/jquery.inputmask.js' %}"></script>
	<script src="{% static 'landing/inputmask/jquery.bind-first-0.1.min.js' %}"></script>
	<script src="{% static 'landing/inputmask/jquery.inputmask-multi.js' %}"></script>

	<script src="{% static 'landing/jquery-validate.min.js' %}"></script>
	<script src="{% static 'landing/common.js' %}"></script>
	<script src="{% static 'landing/resume.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

  <script type="text/javascript">
      var data = {
          first_name: "{{ object.first_name }}",
          last_name: "{{ object.last_name }}",
          phone: "{{ object.phone }}",
          email: "{{ object.email }}",
          country: "{{ object.country }}"
      };
  </script>

</head>
<body ng-app="lawandgauge" ng-controller="translateCtrl">

  <!-- modals -->
	<div class="reveal-modal info">
		<div class="modal-body">
		</div>
	</div>

   <!-- modals_map -->
   	<section class="map_share">
		<div id="map_style">
			<div class="balloon share_bal">
				<div class="bal_slider nclear">
					<div class="bal_slide">
						<div class="bal_poi">
							<div class="bal_poi_ava"></div>
						</div>
					</div>
				</div>
				<div class="bal_city">{[{t('share')}]}</div>
				<div class="bal_count">{[{t('on_the_social_network')}]}</div>
				<div class="bal_share_but">
					<!--<div onclick="vk_share()" class="login-vk&#45;&#45;btn"><i class="fa fa-vk"></i></div>-->
					<div  onclick="fb_share()" class="login-fb--btn"><i class="fa fa-facebook"></i></div>
				</div>
			</div>
			<a href="/chat/#/" class="go_lk">{[{t('private-account')}]}</a>
		</div>
	</section>

  <div class="reveal-modal" id="auth-phone">
    <div class="modal-body">
      <h2>{[{t('we-will-get-back-you-within-4-hours')}]}</h2>
      <span class="note">{[{t('please-sign-through-your-phone')}]}</span>
      <form action="">
        <div class="row">
          <input type="tel" name="" id="" />
          <input type="button" value="Получить код" id="codeRequest"/>
        </div>
        <div class="row code-row">
          <input type="text" name="" id="" />
          <input type="button" value="{[{t('login')}]}" id="smsLogin"/>
        </div>
        <div class="row">
          <span class="note">{[{t('or-through-your-favorite-social-network')}]}</span>
          <div class="login-vk"></div>
          <div class="login-fb"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- modals -->

	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
		<defs>
		  <linearGradient id="MyGradient">
		       <stop style="stop-color:white" offset="0%"/>
		  <stop style="stop-color:black" offset="100%"/>
		    </linearGradient>
		</defs>
	</svg>
  <section class="step step5 for_lawyers">
  <div class="top-panel">
	  <div class="container">
		  <div class="row">
			  <a href="" class="questions-btn pull-left">{[{t('questions?')}]}</a>
			  <div class="lang dark pull-right">
			    <div  ng-class="lang=='ru' ? 'ru selected' : 'ru'" ng-click="selectlang('ru')">ru</div>
			    <div ng-class="lang=='en' ? 'eng selected' : 'en'" ng-click="selectlang('en')">en</div>
			  </div>
		  </div>
	  </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="inner">
        <div id="logo" class="logo-resume"></div>
        <div class="resume-title">
					<h1 >{[{t('you-have-successfully-passed-interview')}]}</h1>
        </div>
          <form action="" id="resume" name="formResume" class="lngform" enctype="multipart/form-data">
			  <input type="hidden" value="{[{lang}]}" name="language">
          	<div class="form-group">
             <div class="form-title col-sm-6 col-sm-offset-4" >{[{t('fill-form')}]}</div>
             <div class="col-sm-2"></div>
             <div class="clear"></div>
          	</div>
            <div class="form-group">
              <div class="form-row">
	              <div class="col-sm-4">
	              	<label class="" for="firstName">{[{t('personal_information')}]}</label>
	              	<br />
	              	<label class="sub-label" for="" >{[{t("fields-required-are-marked")}]}</label>
	              	<div class="clear"></div>
	              </div>
	              <div class="col-sm-3">
	                <input  required type="text" class="form-control" id="firstName"  name="first_name" placeholder="{[{t('first_name')}]}" ng-init="first_name = user_resume.first_name" ng-model="first_name">
	             	<div class="required"></div>
	              </div>
	              <div class="col-sm-3">
	              	<input  required type="text" class="form-control" id="lastName" name="last_name" placeholder="{[{t('last_name')}]}" ng-init="last_name = user_resume.last_name" ng-model="last_name">
	              	<div class="required"></div>
	              </div>
	              <div class="col-sm-2"></div>
              </div>
              <div class="col-sm-4"></div>
              <div class="col-sm-3">
                <!-- <input ng-pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"   data-required type="tel" class="form-control" id="" name="phone" placeholder="{[{t('Phone')}]}" ng-init="phone = user_resume.phone" ng-model="phone"> -->
              	<!-- <input  required type="tel" class="form-control" id="" name="phone" ng-init="phone = user_resume.phone" ng-model="phone"> -->
                <intl-tel ng-model="phone" ></intl-tel>
                <div class="required"></div>
              </div>
              <div class="col-sm-3">
                <input ng-pattern="/.+@.+\..+/"  required type="email" class="form-control" id="" name="email" placeholder="{[{t('email')}]}" ng-init="email = user_resume.email" ng-model="email">
              	<div class="required"></div>
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-4">&nbsp;</div>
              <div class="col-sm-3">
	             	<input  type="hidden" name="country" value="{[{currentCountry['id']}]}"/>
					<input class="form-control country_ac" ng-model="currentCountry.name" required type="text" placeholder="{[{t('country')}]}"/>
             	<div class="required"></div>
              </div>
              <div class="col-sm-3">
              	<input type="hidden" name="city" value="{[{currentCity['id']}]}"/>
	             	<input  type="hidden" name="city" value="{[{currentCity['id']}]}"/>
					<input class="form-control city_ac" ng-model="currentCity.name" type="text" required placeholder="{[{t('city')}]}"/>
              	<div class="required"></div>
              </div>
              <div class="col-sm-2"></div>
              <div class="clear"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-4">
	              	<label class="">{[{t('professional_information')}]}</label>
	              	<br />
	              	<label class="sub-label" for="">{[{t('choose-your-status-and-attach-resume')}]} <br /> {[{t('format')}]} .doc / .pdf</label>
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="site" placeholder="{[{t('site')}]}" value="{{ object.site }}">
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="linkedin" placeholder="{[{t('linkedin')}]}" value="{{ object.linkedin }}">
              </div>
              <div class="col-sm-2"></div>
            <div class="col-sm-4">&nbsp;</div>
			<div class="col-sm-3">
				<select required name="status" id="status" class="form-control" ng-model="status" min="1" max="4" ng-init="0">
					<option value="" disabled selected>{[{t('status')}]}</option>
					<option value='1'>{[{t('lawyer')}]}</option>
					<option value='2'>{[{t('notary')}]}</option>
					<option value='3'>{[{t('accountant')}]}</option>
				</select>
				<div class="required"></div>
			</div>
              <div class="col-sm-1">
              <!-- <label class="sub-label" required ng-model="file" style="line-height: 43px;" for="fileInput">{[{t('Resume')}]}</label> -->
              <label class="sub-label" for="fileInput">{[{t('resume')}]}</label>

              </div>
              <div class="col-sm-2">
              				<div class="new_sub-label" for="fileInput"><span>?</span><p>{[{t('will-help-your-customers-make-your-competence')}]}</p></div>
						    <div class="file_upload">
						        <!-- <button type="button">Выбрать</button> -->
						        <div>{[{t('attach')}]}<!-- <div class="file-ico"></div> --></div>
						        <!-- <input type="file" name="resume" fileread="file" ng-model="file" id="fileInput" required> -->
						        <input type="file" name="resume" ng-model="file" id="fileInput">
						    </div>
						    <!-- <div class="required"></div> -->
              </div>
              <div class="col-sm-2"></div>
              <div class="clear"></div>
            </div>
			<div class="form-group">
				<div class="col-sm-4">
	              	<label class="">{[{t('areas-law')}]}</label>
	              	<br />
	              	<label class="sub-label" for="">{[{t('add-least-one-service')}]}</label>

	              	<label class="cost-label">{[{t('cost')}]}</label>
	              	<br />
	              	<label class="sub-label" for="">{[{t('range-cost-transaction')}]}</label>
	              	<div class="clear"></div>
				</div>
				<div class="col-sm-6">
					<div class="dashed-area">

		                <div class="row">
			                <div class="col-sm-12">
			                	<input class="form-control area_ac" type="text" placeholder="{[{t('area-law')}]}"/>
			                </div>
		                </div>
		                <div class="row">
			                <div class="col-sm-12">
			                	<input class="form-control institute_ac" type="text" placeholder="{[{t('institute')}]}"/>
			                </div>
		                </div>
		                <div class="row">
			                <div class="col-sm-12">
			                	<input class="form-control tip_ac" ng-model="currentService.name" type="text" placeholder="{[{t('service-name')}]}"/>
			                </div>
		                </div>
						<div class="row">
							<div class="col-sm-4">
								<input id="priceFrom" ng-pattern="/^[ 0-9]+$/"  ng-disabled="!currentService['name'].length" type="text" name="priceFrom" placeholder="{[{t('from')}]}" ng-model="priceFrom" class="form-control" />
							</div>
							<div class="col-sm-4">
								<input id="priceTo" ng-pattern="/^[ 0-9]+$/" ng-disabled="!currentService['name'].length" type="text" name="priceTo" placeholder="{[{t('to')}]}" ng-model="priceTo" class="form-control" />
							</div>
							<div class="col-sm-4">
								<div class="switcher-wrapper" ng-class="{active: currentService['name'].length}">
									<div ng-click="selectCurrency(currency, $event)" class="switch" ng-repeat="currency in currencies"><i class="fa {[{currency.fa_class}]}"></i></div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="add-service-btn" ng-class="{active: (currentService.name && !formResume.priceFrom.$invalid && !formResume.priceTo.$invalid)}" ng-click="addService($event);">+</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
	              	<label class="">{[{t('your-field-activity')}]}</label>
	              	<br />
	              	<label class="sub-label" for="">{[{t('here-you-can-see-you-have-added-services-and-price')}]}</label>
	              	<div class="clear"></div>
				</div>
				<div class="col-sm-6">
					<div class="dashed-area">
					</div>
					<input type="hidden" name="services_count" value="{[{addedServices.length}]}"/>
					<div class="dashed-area service-item" ng-repeat="service in addedServices">
            <input type="hidden" name="{[{getNumPrefix($index)+'branch'}]}" value="{[{service['branch']}]}"/>
            <input type="hidden" name="{[{getNumPrefix($index)+'branch_name'}]}" value="{[{service['branch_name']}]}"/>
            <input type="hidden" name="{[{getNumPrefix($index)+'institute_name'}]}" value="{[{service['institute_name']}]}"/>
            <input type="hidden" name="{[{getNumPrefix($index)+'parent'}]}" value="{[{service['parent']}]}"/>

						<input type="hidden" name="{[{getNumPrefix($index)+'service'}]}" value="{[{service['id']}]}"/>
						<input type="hidden" name="{[{getNumPrefix($index)+'price_min'}]}" value="{[{service['priceFrom']}]}"/>
						<input type="hidden" name="{[{getNumPrefix($index)+'price_max'}]}" value="{[{service['priceTo']}]}"/>
						<input type="hidden" name="{[{getNumPrefix($index)+'currency'}]}" value="{[{service['currency']}]}"/>
						<input type="hidden" name="{[{getNumPrefix($index)+'name'}]}" value="{[{service['name']}]}"/>
						<div class="item-area">{[{service.branchText}]}</div>
						<div class="item-institute">{[{service.instituteText}]}</div>
						<div class="item-service">{[{service.tipText}]}</div>
						<div class="item-price" ng-class="{show: service.priceFrom}">{[{service.priceFrom}]}—{[{service.priceTo}]}<i class="fa {[{service['fa_class']}]}"></i></div>
						<a class="del" ng-click="removeService($index)">+</a>
					</div>
					<div class="police">
						<input required type="checkbox" ng-model="police" name="police" id="police" />
						<a ng-if="lang=='en'" href="\static\landing\files\NDA_ENG.docx" target="_blank">Privacy policy</a>
						<a ng-if="lang=='ru'" href="\static\landing\files\NDA_RUS.docx" target="_blank">Политика конфиденциальности</a>
					</div>
				</div>

				<div class="clear"></div>
			</div>
            <div class="form-group">
              <div class="col-sm-6 col-sm-offset-4 submit-wrapper">
                <button type="submit" class="lsubmit" ng-class="{active: !formResume.$invalid}">{[{t('submit')}]}</button>
                <span id="result-ok" class="result">{[{trans.form_success[lang]}]}</span>
                <span id="result-error" class="result">{[{trans.form_error[lang]}]}</span>
              </div>
              <div class="clear"></div>
            </div>
          </form>
<!--           <section class="sec7">
		        <div class="text" >
		          {[{getHtml(trans.footer_slogan[lang])}]}
		        </div>
	      </section> -->
        </div>
      </div>
    </div>
  </section>

</body>
</html>
