{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Legal space</title>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'css/font-awesome-4.3.0/css/font-awesome.min.css' %}">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="{% static 'landing/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'landing/angular/angular.min.js' %}"></script>
<!-- <script src="angular-route/angular-route.min.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"> -->
<script src="{% static 'landing/controllers.js' %}"></script>

	<script src="{% static 'landing/inputmask/jquery.inputmask.js' %}"></script>
	<script src="{% static 'landing/inputmask/jquery.bind-first-0.1.min.js' %}"></script>
	<script src="{% static 'landing/inputmask/jquery.inputmask-multi.js' %}"></script>

<script src="{% static 'landing/jquery-validate.min.js' %}"></script>

<!-- intlTelInput -->
<link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">
<script src="{% static 'js/intlTelInput.min.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>

<script src="{% static 'landing/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'landing/svg.min.js' %}"></script>
<script src="{% static 'landing/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'landing/bootstrap-combobox.js' %}"></script>
<script src="{% static 'landing/jquery-ui.min.js' %}"></script>
<script src="{% static 'landing/jquery.cookie.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="{% static 'landing/circle-progress.js' %}"></script>
<script src="{% static 'landing/jquery.reveal.js' %}"></script>
<script src="{% static 'landing/jquery.mobile.custom.min.js' %}"></script>
<script src="{% static 'landing/jquery.mousewheel.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'landing/style.css' %}">
<link rel="stylesheet" href="{% static 'landing/reveal.css' %}">
<link rel="stylesheet" href="{% static 'landing/bootstrap-combobox.css' %}">
<link rel="stylesheet" href="{% static 'landing/jquery-ui.css' %}">

<script src="{% static 'landing/common.js' %}"></script>
<script src="{% static 'landing/main.js' %}"></script>



</head>
<body ng-app="lawandgauge" ng-controller="translateCtrl" id="lawandgaugeScope">

<!-- Universal Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62372601-1', 'auto');
  ga('send', 'pageview');

</script>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter29972439 = new Ya.Metrika({id:29972439,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/29972439" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
<defs>
  <linearGradient id="MyGradient">
       <stop style="stop-color:white" offset="0%"/>
  <stop style="stop-color:black" offset="100%"/>
    </linearGradient>


<g id="for_lawyers">
	<path fill="" d="M1419.543,1353.177l-193.908-48.98c82.259-73.382,149.566-174.517,194.485-285.354
		c62.886-14.034,120.651-66.659,130.138-182.631c8.956-109.23-24.168-157.876-68.677-179.162
		c-0.521-12.975,70.678-380.08-188.955-474.12c-29.548-45.119-229.619-319.555-592.756-96.803
		c-53.185,32.634-137.66,96.96-182.69,161.659c-65.409,82.672-109.173,210.052-116.5,405.756
		c-48.558,19.129-86.411,66.816-76.943,182.67c9.84,119.892,71.097,172.106,136.459,183.925
		c43.913,110.661,109.871,210.894,191.543,283.747l-197.185,49.293C187.233,1420.267,0,1659.973,0,1936.115v330.512
		c0,93.766,77.79,174.223,171.333,174.223H1707.04c93.542,0,163.112-80.398,163.112-174.223v-330.512
		C1870.152,1659.973,1686.811,1420.267,1419.543,1353.177z M503.645,713.438c0-35.887,1.108-69.266,3.212-100.273
		c341.538,11.525,544.551-127.261,655.576-247.879c142.882,143.236,193.75,336.98,210.656,429.589
		c-33.067,254.053-213.29,523.747-431.952,523.747C698.726,1318.622,503.645,987.542,503.645,713.438z M1768.827,2266.686
		c0,36.162-25.657,67.658-61.787,67.658h-150.144v-140.707c0-14.386-13.275-26.146-27.594-26.146
		c-14.383,0-27.649,11.721-27.649,26.146v140.707h-352.328l-146.839-592.973c43.932-1.176,75.938-42.492,65.613-85.632
		l-28.17-116.658c-7.476-31.242-35.339-52.253-67.41-52.253h-66.666c-32.025,0-59.935,21.227-67.419,52.469l-28.171,116.815
		c-10.38,43.159,21.691,84.044,65.623,85.181l-146.783,593.052H368.452v-140.707c0-14.386-10.948-26.146-25.275-26.146
		c-14.374,0-25.331,11.721-25.331,26.146v140.707H171.379c-36.13,0-65.409-31.497-65.409-67.658v-330.532
		c0-228.162,153.886-426.14,374.671-481.568l286.594-72.01c53.93,26.107,112.329,40.709,173.585,40.709
		c59.608,0,116.76-14.562,169.889-40.454l284.918,71.755c220.785,55.428,373.2,253.406,373.2,481.568V2266.686z"/>
	<path fill="" d="M528.455,1926.531c-27.23-29.772-73.899-29.772-101.064,0l-70.575,76.714
		c-17.12,18.737-3.947,48.607,21.375,48.607h199.503c25.275,0,38.495-29.87,21.384-48.607L528.455,1926.531z"/>
	<path fill="" d="M911.123,847.716h52.022c8.751,78.674,74.895,138.786,154.938,138.786
		c86.011,0,155.897-69.932,155.897-156.367c0-99.979-90.116-99.587-155.897-99.587c-57.03,0-132.344-3.253-151.41,66.169h-59.144
		c-19.01-69.442-94.315-66.169-151.363-66.169c-65.828,0-155.935-0.549-155.935,99.371c0,86.455,69.989,156.838,155.935,156.838
		C836.274,986.758,902.372,926.39,911.123,847.716z M1118.148,781.802c86.364,0,103.848,7.977,103.848,47.608
		c0,57.545-46.604,104.408-103.848,104.408c-57.253,0-103.857-46.863-103.857-104.408
		C1014.235,789.779,1031.662,781.802,1118.148,781.802z M652.374,829.41c0-39.631,17.427-47.608,103.857-47.608
		c86.364,0,103.848,7.977,103.848,47.608c0,57.545-46.604,104.408-103.848,104.408C698.977,933.818,652.374,886.955,652.374,829.41z"
		/>
</g>
<g id="lock">
<path fill="" d="M289.088,116.385c-1.688,0-3.056,1.351-3.056,3.016v15.082c0,1.666,1.368,3.016,3.056,3.016h18.333
	c1.687,0,3.055-1.351,3.055-3.016v-15.082c0-1.666-1.368-3.016-3.055-3.016 M304.366,116.385h-12.222 M307.421,116.437v-4.293
	c0-4.998-4.104-9.049-9.167-9.049c-5.063,0-9.167,4.051-9.167,9.049v4.279l3.055,0.015v-4.294c0-3.333,2.736-6.033,6.111-6.033
	c3.375,0,6.111,2.7,6.111,6.033v4.294L307.421,116.437z M307.421,134.483h-18.333v-15.081h18.333V134.483z M296.727,128.033v1.926
	c0,0.832,0.685,1.508,1.528,1.508c0.843,0,1.528-0.676,1.528-1.508v-1.926c0.908-0.523,1.527-1.485,1.527-2.598
	c0-1.667-1.368-3.017-3.055-3.017c-1.688,0-3.056,1.351-3.056,3.017C295.199,126.548,295.818,127.51,296.727,128.033z"/>
</g>
<g id="map_point">
<g>
	<g>
		<path fill="none" stroke="#17243F" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M0.5,17.5
			c0-9.389,7.611-17,17-17s17,7.611,17,17c0,18.854-17,29-17,29S0.5,38.412,0.5,17.5z"/>
	</g>
	
		<circle fill="none" stroke="#438EB4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="17.5" cy="17.499" r="8"/>
</g>
</g>
<g id="i1">
	<g>
		<g>
			<g>
				<path fill="#17243F" d="M13.501,25C10.468,25,8,22.533,8,19.5c0-3.032,2.468-5.5,5.501-5.5C16.533,14,19,16.468,19,19.5
					C19,22.533,16.533,25,13.501,25z M13.501,15C11.019,15,9,17.019,9,19.5c0,2.481,2.019,4.5,4.501,4.5
					C15.982,24,18,21.981,18,19.5C18,17.019,15.982,15,13.501,15z"/>
			</g>
			<g>
				<path fill="#17243F" d="M17.892,33H9.108C7.395,33,6,31.605,6,29.892v-4.283C6,23.895,7.395,22.5,9.108,22.5
					c0.276,0,0.5,0.224,0.5,0.5s-0.224,0.5-0.5,0.5C7.946,23.5,7,24.446,7,25.608v4.283C7,31.054,7.946,32,9.108,32h8.783
					C19.054,32,20,31.054,20,29.892v-4.283c0-1.163-0.946-2.108-2.108-2.108c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5
					c1.714,0,3.108,1.395,3.108,3.108v4.283C21,31.605,19.605,33,17.892,33z"/>
			</g>
		</g>
		<g>
			<path fill="#17243F" d="M30.5,18h-6c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h6c0.276,0,0.5,0.224,0.5,0.5
				S30.776,18,30.5,18z"/>
		</g>
		<g>
			<path fill="#17243F" d="M40.5,24h-16c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h16c0.276,0,0.5,0.224,0.5,0.5
				S40.776,24,40.5,24z"/>
		</g>
		<g>
			<path fill="#17243F" d="M40.5,30h-16c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h16c0.276,0,0.5,0.224,0.5,0.5
				S40.776,30,40.5,30z"/>
		</g>
	</g>
	<g>
		<g>
			<path fill="#438EB4" d="M42.5,39h-38C2.019,39,0,36.981,0,34.5v-30C0,2.019,2.019,0,4.5,0h38C44.981,0,47,2.019,47,4.5v30
				C47,36.981,44.981,39,42.5,39z M4.5,1C2.57,1,1,2.57,1,4.5v30C1,36.43,2.57,38,4.5,38h38c1.93,0,3.5-1.57,3.5-3.5v-30
				C46,2.57,44.43,1,42.5,1H4.5z"/>
		</g>
		<g>
			<path fill="#438EB4" d="M46.5,9h-46C0.224,9,0,8.776,0,8.5S0.224,8,0.5,8h46C46.776,8,47,8.224,47,8.5S46.776,9,46.5,9z"/>
		</g>
	</g>
</g>
<g id="i2">
	<g>
		<g>
			<path fill="#438EB4" d="M391,1437.101h-22c-2.481,0-4.5-2.019-4.5-4.5v-38c0-2.481,2.019-4.5,4.5-4.5h22
				c2.481,0,4.5,2.019,4.5,4.5c0,0.276-0.224,0.5-0.5,0.5s-0.5-0.224-0.5-0.5c0-1.93-1.57-3.5-3.5-3.5h-22c-1.93,0-3.5,1.57-3.5,3.5
				v38c0,1.93,1.57,3.5,3.5,3.5h22c1.93,0,3.5-1.57,3.5-3.5v-18c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v18
				C395.5,1435.082,393.482,1437.101,391,1437.101z"/>
		</g>
		<g>
			<g>
				<path fill="#438EB4" d="M382,1397.101h-17c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h17c0.276,0,0.5,0.224,0.5,0.5
					S382.277,1397.101,382,1397.101z"/>
			</g>
		</g>
		<g>
			<g>
				<path fill="#438EB4" d="M395,1425.101h-30c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h30c0.276,0,0.5,0.224,0.5,0.5
					S395.277,1425.101,395,1425.101z"/>
			</g>
		</g>
		<g>
			<path fill="#17243F" d="M380,1433.101c-1.379,0-2.5-1.121-2.5-2.5s1.121-2.5,2.5-2.5s2.5,1.121,2.5,2.5
				S381.379,1433.101,380,1433.101z M380,1429.101c-0.827,0-1.5,0.673-1.5,1.5s0.673,1.5,1.5,1.5s1.5-0.673,1.5-1.5
				S380.827,1429.101,380,1429.101z"/>
		</g>
	</g>
	<g>
		<g>
			<path fill="#17243F" d="M382,1421.101c-0.064,0-0.13-0.013-0.191-0.038c-0.187-0.077-0.309-0.26-0.309-0.462v-22
				c0-2.481,2.019-4.5,4.5-4.5h21c2.481,0,4.5,2.019,4.5,4.5v12c0,2.481-2.019,4.5-4.5,4.5h-18.793l-5.854,5.854
				C382.258,1421.05,382.13,1421.101,382,1421.101z M386,1395.101c-1.93,0-3.5,1.57-3.5,3.5v20.793l5.146-5.146
				c0.094-0.094,0.221-0.146,0.354-0.146h19c1.93,0,3.5-1.57,3.5-3.5v-12c0-1.93-1.57-3.5-3.5-3.5H386z"/>
		</g>
	</g>
	<g>
		<path fill="#17243F" d="M405,1403.101h-17c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h17c0.276,0,0.5,0.224,0.5,0.5
			S405.277,1403.101,405,1403.101z"/>
	</g>
	<g>
		<path fill="#17243F" d="M405,1407.101h-17c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h17c0.276,0,0.5,0.224,0.5,0.5
			S405.277,1407.101,405,1407.101z"/>
	</g>
</g>
<g id="i3">
	<g>
		<g>
			<path fill="#17243F" d="M212,1422.025c-41.522,0-75.303-33.726-75.303-75.183c0-41.464,33.781-75.196,75.303-75.196
				c41.515,0,75.29,33.732,75.29,75.196C287.29,1388.3,253.515,1422.025,212,1422.025z M212,1285.275
				c-34.007,0-61.674,27.619-61.674,61.567c0,33.94,27.667,61.555,61.674,61.555c34,0,61.661-27.614,61.661-61.555
				C273.661,1312.895,246,1285.275,212,1285.275z"/>
		</g>
		<g>
			<path fill="#17243F" d="M133.822,1503.358c-0.66,0-1.325-0.097-1.977-0.294c-2.403-0.729-4.211-2.72-4.704-5.184L118.356,1454
				l-43.975-8.774c-2.467-0.492-4.461-2.304-5.189-4.711c-0.729-2.406-0.071-5.019,1.709-6.796l71.044-70.897
				c2.664-2.658,6.979-2.656,9.636,0.01c2.659,2.664,2.654,6.979-0.01,9.637l-62.016,61.887l35.923,7.168
				c2.699,0.539,4.809,2.647,5.349,5.347l7.181,35.871l68.486-68.346c2.664-2.657,6.979-2.655,9.637,0.011
				c2.658,2.663,2.654,6.979-0.01,9.637l-77.485,77.325C137.34,1502.661,135.601,1503.358,133.822,1503.358z"/>
		</g>
		<g>
			<path fill="#17243F" d="M290.166,1503.358c-1.779,0-3.518-0.697-4.815-1.991l-77.473-77.325c-2.664-2.66-2.667-6.974-0.009-9.637
				c2.659-2.668,6.973-2.666,9.638-0.011l68.473,68.344l7.179-35.869c0.54-2.699,2.65-4.808,5.349-5.347l35.937-7.168
				l-62.004-61.887c-2.664-2.66-2.667-6.973-0.009-9.637c2.661-2.668,6.973-2.666,9.638-0.01l71.031,70.897
				c1.78,1.777,2.437,4.39,1.709,6.796c-0.729,2.409-2.724,4.219-5.189,4.711L305.631,1454l-8.784,43.881
				c-0.493,2.464-2.3,4.455-4.704,5.184C291.492,1503.262,290.826,1503.358,290.166,1503.358z"/>
		</g>
	</g>
	<g>
		<path fill="#438EB4" d="M389.172,1557.872H34.829c-33.817,0-61.329-27.511-61.329-61.328V978.658
			c0-33.817,27.512-61.329,61.329-61.329h354.343c33.815,0,61.328,27.512,61.328,61.329v517.886
			C450.5,1530.361,422.988,1557.872,389.172,1557.872z M34.829,930.958c-26.302,0-47.7,21.397-47.7,47.7v517.886
			c0,26.302,21.397,47.699,47.7,47.699h354.343c26.302,0,47.699-21.397,47.699-47.699V978.658c0-26.302-21.397-47.7-47.699-47.7
			H34.829z"/>
	</g>
	<g>
		<path fill="#17243F" d="M266.514,1067.244H157.486c-3.763,0-6.814-3.051-6.814-6.814c0-3.763,3.051-6.814,6.814-6.814h109.028
			c3.763,0,6.814,3.051,6.814,6.814C273.329,1064.192,270.278,1067.244,266.514,1067.244z"/>
	</g>
	<g>
		<path fill="#17243F" d="M361.914,1121.758H62.085c-3.763,0-6.814-3.051-6.814-6.814c0-3.763,3.051-6.814,6.814-6.814h299.829
			c3.763,0,6.814,3.051,6.814,6.814C368.729,1118.707,365.677,1121.758,361.914,1121.758z"/>
	</g>
	<g>
		<path fill="#17243F" d="M361.914,1176.272H62.085c-3.763,0-6.814-3.052-6.814-6.814c0-3.763,3.051-6.814,6.814-6.814h299.829
			c3.763,0,6.814,3.051,6.814,6.814C368.729,1173.221,365.677,1176.272,361.914,1176.272z"/>
	</g>
</g>
<g id="i4">
	<g>
		<path fill="#438EB4" d="M290.004,1248.612c-11.617,0-21.068-9.449-21.068-21.063c0-11.613,9.451-21.062,21.068-21.062
			c11.612,0,21.06,9.448,21.06,21.062C311.064,1239.163,301.616,1248.612,290.004,1248.612z M290.004,1208.487
			c-10.514,0-19.068,8.551-19.068,19.062c0,10.512,8.554,19.063,19.068,19.063c10.51,0,19.06-8.552,19.06-19.063
			C309.064,1217.038,300.514,1208.487,290.004,1208.487z"/>
	</g>
	<g>
		<path fill="#438EB4" d="M307.622,1280.716h-35.245c-6.323,0-11.467-5.144-11.467-11.467v-17.188
			c0-6.323,5.144-11.468,11.467-11.468c0.552,0,1,0.447,1,1s-0.448,1-1,1c-5.22,0-9.467,4.247-9.467,9.468v17.188
			c0,5.22,4.247,9.467,9.467,9.467h35.245c5.22,0,9.467-4.247,9.467-9.467v-17.188c0-5.221-4.247-9.468-9.467-9.468
			c-0.553,0-1-0.447-1-1s0.447-1,1-1c6.323,0,11.467,5.145,11.467,11.468v17.188
			C319.089,1275.572,313.946,1280.716,307.622,1280.716z"/>
	</g>
</g>
<g id="i5">
	<g>
		<path fill="#438EB4" d="M143,1435.101h-38c-2.481,0-4.5-2.019-4.5-4.5v-27c0-2.481,2.019-4.5,4.5-4.5h38
			c2.481,0,4.5,2.019,4.5,4.5v27C147.5,1433.082,145.482,1435.101,143,1435.101z M105,1400.101c-1.93,0-3.5,1.57-3.5,3.5v27
			c0,1.93,1.57,3.5,3.5,3.5h38c1.93,0,3.5-1.57,3.5-3.5v-27c0-1.93-1.57-3.5-3.5-3.5H105z"/>
	</g>
	<g>
		<path fill="#438EB4" d="M138,1398.101h-5c-0.276,0-0.5-0.224-0.5-0.5c0-2.481-2.019-4.5-4.5-4.5h-8c-2.481,0-4.5,2.019-4.5,4.5
			c0,0.276-0.224,0.5-0.5,0.5h-5c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h4.522c0.253-2.8,2.613-5,5.478-5h8
			c2.864,0,5.224,2.2,5.478,5H138c0.276,0,0.5,0.224,0.5,0.5S138.277,1398.101,138,1398.101z"/>
	</g>
	<g>
		<path fill="#17243F" d="M141,1429.101h-34c-0.276,0-0.5-0.224-0.5-0.5v-21c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v20.5h33
			v-20.5c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v21C141.5,1428.877,141.277,1429.101,141,1429.101z"/>
	</g>
	<g>
		<path fill="#438EB4" d="M131,1421.101h-14c-0.276,0-0.5-0.224-0.5-0.5v-7c0-0.276,0.224-0.5,0.5-0.5h14c0.276,0,0.5,0.224,0.5,0.5
			v7C131.5,1420.877,131.277,1421.101,131,1421.101z M117.5,1420.101h13v-6h-13V1420.101z"/>
	</g>
</g>
<g id="i6">
	<g>
		<path fill="#438EB4" d="M207.667,1255.55c-13.39,0-24.284-10.875-24.284-24.243c0-13.365,10.894-24.238,24.284-24.238
			s24.284,10.873,24.284,24.238C231.951,1244.675,221.057,1255.55,207.667,1255.55z M207.667,1209.068
			c-12.288,0-22.284,9.976-22.284,22.238c0,12.265,9.997,22.243,22.284,22.243s22.284-9.979,22.284-22.243
			C229.951,1219.044,219.955,1209.068,207.667,1209.068z"/>
	</g>
	<g>
		<path fill="#438EB4" d="M181.088,1283.201c-0.097,0-0.195-0.014-0.29-0.043c-0.353-0.107-0.618-0.399-0.69-0.761l-3.158-15.78
			l-15.812-3.154c-0.362-0.072-0.654-0.338-0.761-0.691c-0.107-0.353-0.011-0.736,0.25-0.997l24.152-24.104
			c0.391-0.389,1.024-0.391,1.415,0.002c0.39,0.391,0.389,1.023-0.001,1.414l-22.828,22.781l14.63,2.918
			c0.396,0.079,0.706,0.389,0.785,0.784l2.923,14.604l25.022-24.971c0.392-0.39,1.025-0.39,1.415,0.002
			c0.39,0.391,0.389,1.023-0.001,1.414l-26.343,26.289C181.604,1283.099,181.349,1283.201,181.088,1283.201z"/>
	</g>
	<g>
		<path fill="#438EB4" d="M234.245,1283.201c-0.261,0-0.516-0.103-0.707-0.292l-26.344-26.289c-0.391-0.391-0.392-1.023-0.001-1.414
			c0.389-0.393,1.022-0.393,1.415-0.002l25.023,24.972l2.923-14.605c0.079-0.396,0.389-0.705,0.785-0.784l14.63-2.918
			l-22.824-22.781c-0.391-0.391-0.392-1.023-0.001-1.414c0.391-0.393,1.023-0.392,1.415-0.002l24.148,24.104
			c0.261,0.261,0.357,0.645,0.25,0.998c-0.107,0.353-0.399,0.618-0.761,0.69l-15.812,3.154l-3.158,15.78
			c-0.072,0.361-0.337,0.653-0.69,0.761C234.44,1283.188,234.343,1283.201,234.245,1283.201z"/>
	</g>
</g>
<g id="i7">
	<g>
		<g>
			<path fill="#17243F" d="M477.001,616.588c-0.206,0-0.398-0.128-0.472-0.333c-0.092-0.26,0.045-0.546,0.305-0.638
				c3.39-1.198,5.666-4.419,5.666-8.016c0-4.687-3.813-8.5-8.5-8.5s-8.5,3.813-8.5,8.5c0,3.594,2.275,6.815,5.663,8.015
				c0.26,0.092,0.396,0.378,0.305,0.638c-0.093,0.261-0.377,0.398-0.639,0.304c-3.785-1.341-6.329-4.94-6.329-8.958
				c0-5.238,4.262-9.5,9.5-9.5s9.5,4.262,9.5,9.5c0,4.02-2.545,7.62-6.332,8.958C477.113,616.579,477.057,616.588,477.001,616.588z"
				/>
		</g>
		<g>
			<g>
				<path fill="#438EB4" d="M461.878,632.222c-0.128,0-0.256-0.049-0.354-0.146c-0.661-0.661-1.025-1.54-1.025-2.475
					c0-0.935,0.364-1.813,1.025-2.474c0.661-0.661,1.54-1.025,2.475-1.025c0.001,0,0.001,0,0.001,0c0.935,0,1.813,0.364,2.474,1.026
					l4.026,3.196v-22.723c0-1.93,1.57-3.5,3.5-3.5s3.5,1.57,3.5,3.5v19c0,0.276-0.224,0.5-0.5,0.5s-0.5-0.224-0.5-0.5v-19
					c0-1.378-1.121-2.5-2.5-2.5s-2.5,1.122-2.5,2.5v23.758c0,0.192-0.109,0.367-0.282,0.45c-0.174,0.083-0.379,0.06-0.529-0.059
					l-4.88-3.878c-0.514-0.511-1.142-0.771-1.809-0.771c0,0,0,0-0.001,0c-0.667,0-1.295,0.26-1.768,0.733
					c-0.473,0.472-0.732,1.099-0.732,1.767s0.26,1.295,0.732,1.768c0.195,0.195,0.195,0.512,0,0.707
					C462.134,632.173,462.006,632.222,461.878,632.222z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<path fill="#438EB4" d="M484,645.101h-10.93c-2.368,0-5.233-1.681-6.387-3.748l-5.242-9.388c-0.135-0.241-0.049-0.545,0.192-0.68
				c0.24-0.134,0.546-0.049,0.681,0.193l5.242,9.388c0.979,1.753,3.504,3.235,5.514,3.235H484c1.968,0,3.807-1.583,4.1-3.529
				l1.812-12.09c0.289-1.925-1.023-3.823-2.927-4.23l-10.089-2.162c-0.271-0.058-0.442-0.324-0.385-0.594
				c0.059-0.269,0.318-0.445,0.594-0.384l10.089,2.162c2.41,0.516,4.073,2.918,3.706,5.356l-1.812,12.09
				C488.725,643.135,486.443,645.101,484,645.101z"/>
		</g>
	</g>
</g>
<g id="i8">
	<g>
		<path fill="#438EB4" d="M319,1433.101h-3c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h3c1.93,0,3.5-1.57,3.5-3.5v-30
			c0-1.93-1.57-3.5-3.5-3.5h-3c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h3c2.481,0,4.5,2.019,4.5,4.5v30
			C323.5,1431.082,321.482,1433.101,319,1433.101z"/>
	</g>
	<g>
		<path fill="#438EB4" d="M284,1433.101h-3c-2.481,0-4.5-2.019-4.5-4.5v-30c0-2.481,2.019-4.5,4.5-4.5h3c0.276,0,0.5,0.224,0.5,0.5
			s-0.224,0.5-0.5,0.5h-3c-1.93,0-3.5,1.57-3.5,3.5v30c0,1.93,1.57,3.5,3.5,3.5h3c0.276,0,0.5,0.224,0.5,0.5
			S284.277,1433.101,284,1433.101z"/>
	</g>
	<g>
		<g>
			<path fill="#17243F" d="M311,1437.101h-22c-2.481,0-4.5-2.019-4.5-4.5v-38c0-2.481,2.019-4.5,4.5-4.5h22
				c2.481,0,4.5,2.019,4.5,4.5v38C315.5,1435.082,313.482,1437.101,311,1437.101z M289,1391.101c-1.93,0-3.5,1.57-3.5,3.5v38
				c0,1.93,1.57,3.5,3.5,3.5h22c1.93,0,3.5-1.57,3.5-3.5v-38c0-1.93-1.57-3.5-3.5-3.5H289z"/>
		</g>
		<g>
			<g>
				<path fill="#17243F" d="M315,1397.101h-30c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h30c0.276,0,0.5,0.224,0.5,0.5
					S315.277,1397.101,315,1397.101z"/>
			</g>
		</g>
		<g>
			<g>
				<path fill="#17243F" d="M315,1425.101h-30c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h30c0.276,0,0.5,0.224,0.5,0.5
					S315.277,1425.101,315,1425.101z"/>
			</g>
		</g>
		<g>
			<path fill="#438EB4" d="M300,1433.101c-1.378,0-2.5-1.121-2.5-2.5s1.122-2.5,2.5-2.5c1.379,0,2.5,1.121,2.5,2.5
				S301.379,1433.101,300,1433.101z M300,1429.101c-0.827,0-1.5,0.673-1.5,1.5s0.673,1.5,1.5,1.5s1.5-0.673,1.5-1.5
				S300.827,1429.101,300,1429.101z"/>
		</g>
	</g>
</g>
<g id="rocket">
	<path fill="" d="M48.001,43.045c-1.439,0-2.61,1.137-2.61,2.534c0,0.466,0.135,0.925,0.389,1.326
	  c0.48,0.756,1.31,1.208,2.22,1.208c0.958,0,1.839-0.508,2.296-1.327c0.206-0.368,0.313-0.785,0.313-1.207
	  C50.609,44.182,49.439,43.045,48.001,43.045z"/>
	<path fill="" d="M57.925,48.422c-0.536-0.73-1.112-1.396-1.717-1.98c0.288-1.318,0.435-2.664,0.435-4.002
	  c0-6.348-3.23-12.244-8.433-15.384c-0.129-0.077-0.29-0.077-0.419,0c-5.202,3.143-8.433,9.039-8.433,15.384
	  c0,1.3,0.137,2.604,0.407,3.881c-0.604,0.586-1.181,1.25-1.716,1.981c-0.071,0.097-0.092,0.22-0.056,0.334l2.934,9.392
	  c0.042,0.138,0.158,0.238,0.301,0.267c0.144,0.026,0.289-0.022,0.383-0.132c0.832-0.973,1.989-1.734,3.299-2.182v0.584
	  c0,0.211,0.177,0.385,0.396,0.385h5.366c0.219,0,0.396-0.174,0.396-0.385V56.1c1.31,0.445,2.468,1.209,3.3,2.182
	  c0.075,0.088,0.188,0.138,0.305,0.138c0.025,0,0.052-0.002,0.077-0.008c0.143-0.028,0.258-0.129,0.303-0.267l2.932-9.392
	  C58.018,48.643,57.996,48.52,57.925,48.422z M52.081,52.46c-0.065,0.144-0.21,0.228-0.36,0.228c-0.056,0-0.109-0.012-0.162-0.035
	  c-0.199-0.086-0.289-0.312-0.199-0.508c2.877-6.215,2.457-11.742,2.453-11.795c-0.018-0.211,0.146-0.397,0.362-0.414
	  c0.228-0.018,0.408,0.141,0.427,0.352C54.621,40.52,55.042,46.066,52.081,52.46z"/>
	<path fill="" d="M45.563,57.838c-0.219,0-0.396,0.172-0.396,0.385v3.049c0,0.213,0.177,0.386,0.396,0.386
	  c0.219,0,0.396-0.173,0.396-0.386v-3.049C45.959,58.01,45.782,57.838,45.563,57.838z"/>
	<path fill="" d="M47.986,57.838c-0.219,0-0.396,0.172-0.396,0.385v5.393c0,0.212,0.176,0.384,0.396,0.384
	  c0.218,0,0.396-0.172,0.396-0.384v-5.393C48.382,58.01,48.206,57.838,47.986,57.838z"/>
	<path fill="" d="M50.305,57.838c-0.219,0-0.396,0.172-0.396,0.385v3.049c0,0.213,0.177,0.386,0.396,0.386
	  s0.396-0.173,0.396-0.386v-3.049C50.7,58.01,50.523,57.838,50.305,57.838z"/>
	<g>
	  <circle fill="#000" cx="48" cy="35.007" r="2.557"/>
	  <circle fill="" cx="48" cy="35.007" r="1.915"/>
	</g>
	<g>
	  <circle fill="#000" cx="48" cy="41.498" r="2.557"/>
	  <circle fill="" cx="48" cy="41.498" r="1.915"/>
	</g>
	<g>
	  <circle fill="#000" cx="48" cy="47.989" r="2.557"/>
	  <circle fill="" cx="48" cy="47.989" r="1.915"/>
	</g>
</g>
<g id="kos">
	<path fill="" d="M4.691,13.148c-0.293-0.458-0.465-1.003-0.465-1.59v-1.06H3.811c-0.311,0-0.881,0.258-0.881,0.575v2.075
	  h1.297H4.691z"/>
	<path fill="" d="M13.619,13.148h1.297v-2.075c0-0.317-0.57-0.575-0.881-0.575h-0.417v1.06c0,0.587-0.171,1.132-0.464,1.59
	  H13.619z"/>
	<path fill="" d="M16.433,13.6h-0.774h-2.927c-0.771,0.742-1.807,1.2-2.945,1.2H8.22c-1.141,0-2.175-0.458-2.946-1.2H1.958
	  H1.573C0,14.208,0,15.489,0,16.8v0.072V26.4v0.728C0,28.271,0.907,29.2,2.027,29.2h0.251c1.12,0,2.027-0.929,2.027-2.072v8.8
	  C4.306,37.073,5.213,38,6.333,38h0.251c1.12,0,2.027-0.927,2.027-2.072V26.4h0.783v9.526c0,1.146,0.907,2.072,2.027,2.072h0.251
	  c1.119,0,2.027-0.927,2.027-2.072v-8.8c0,1.146,0.907,2.072,2.026,2.072h0.252c1.119,0,2.025-0.93,2.025-2.072V26.4v-9.528V16.8
	  C18.006,15.489,18.006,14,16.433,13.6z M11.743,22.8c0,0.442-0.352,0.8-0.783,0.8H7.046c-0.432,0-0.783-0.356-0.783-0.8V18
	  c0-0.442,0.351-0.8,0.783-0.8h3.914c0.432,0,0.783,0.358,0.783,0.8V22.8z"/>
	<path fill="" d="M9.001,5.625c-2.38,0-4.31,1.93-4.31,4.31s1.93,4.31,4.31,4.31s4.31-1.93,4.31-4.31
	  S11.382,5.625,9.001,5.625z M9.001,12.976c-1.679,0-3.04-1.361-3.04-3.041s1.361-3.041,3.04-3.041c1.68,0,3.041,1.361,3.041,3.041
	  S10.681,12.976,9.001,12.976z"/>
</g>
<g id="quotes">
	<path fill="" d="M36.665,18.639c1.781-4.748,4.008-8.838,6.68-12.275c1.088-1.412,1.633-2.523,1.633-3.333
		c0-2.02-0.942-3.032-2.821-3.032c-1.684,0-3.662,1.558-5.938,4.67c-6.234,8.436-9.352,16.671-9.352,24.705
		c0,4.319,1.113,7.859,3.34,10.62c2.227,2.764,5.07,4.143,8.535,4.143c2.969,0,5.441-0.954,7.422-2.862
		c1.978-1.907,2.969-4.267,2.969-7.08c0-2.309-0.768-4.369-2.301-6.176c-1.535-1.808-3.291-2.761-5.269-2.862h-2.969
		c-1.881-0.099-2.82-0.958-2.82-2.577C35.774,21.572,36.071,20.258,36.665,18.639L36.665,18.639z M11.133,15.156
		c1.582-3.333,3.363-6.264,5.344-8.792c1.088-1.412,1.633-2.523,1.633-3.333C18.11,1.012,17.168,0,15.289,0
		c-1.684,0-3.662,1.558-5.938,4.67C3.117,13.105,0,21.341,0,29.375c0,4.319,1.113,7.859,3.34,10.62
		c2.227,2.764,5.07,4.143,8.535,4.143c2.969,0,5.441-0.954,7.422-2.862c1.979-1.907,2.969-4.267,2.969-7.08
		c0-2.309-0.768-4.369-2.301-6.176c-1.536-1.808-3.34-2.761-5.418-2.862h-2.969c-1.881-0.099-2.82-0.958-2.82-2.577
		C8.758,20.964,9.549,18.488,11.133,15.156z"/>
</g>
</defs>
</svg>
	
	<!-- modals -->
	
<div class="modal fade info">
  <div class="modal-dialog">
    <div class="modal-content">
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  
      <div class="modal-body">

      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	
<div id="auth-phone" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
					<span class="note">{[{t('confirm_the_identity')}]}</span>
					<div class="row auth-step auth-step1 show">
<!--						<div class="col-sm-8">
							<div class="form-group ">
								<div class="inline-code">
								  <input type="tel" ng-class="{notempty: authPhone}" ng-model="authPhone" class="form-control tel" name="phone">
								  <span class="form-control btn" id="codeRequest">{[{t('get_code')}]}</span>
								  <div class="clear"></div>
								</div>
								
								
								<div class="clear"></div>
							</div>
						</div>-->
						<div class="col-sm-4">
							<div class="login-fb--btn login-fb"><i class="fa fa-facebook"></i></div>
							<div class="login-vk--btn login-vk"><i class="fa fa-vk"></i></div>
							<div class="clear"></div>
						</div>
					</div>
						<div class="container auth-step auth-step2">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<div class="auth-step2--wrapper">
											<div class="input-group inline-code">
											  <div class="code-refresh" data-phone-class="#auth-phone input[name=phone]"></div>
											    <input type="tel" class="form-control code" placeholder="{[{t('code')}]}">
										  		<span class="input-group-addon sms-reg btn-code">{[{t('submit')}]}</span>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" name="lawandgauge_user" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	
	<!-- 			<form action="">
				<div class="row">
					<input type="tel" name="" id="" />
					<input type="button" value="Получить код" id="codeRequest"/>
				</div>
        <div class="row code-row">
          <input type="text" name="" id="" />
          <input type="button" value="Войти" id="smsLogin"/>
        </div>
        <div class="row">
        	<span class="note">или через любимую соцсеть</span>
        	<div class="login-vk"></div>
        	<div class="login-fb"></div>
        </div>
        <input type="hidden" name="lawandgauge_user" />
			</form> -->
			
	<!-- modals -->
	
	  <div class="top-panel">
		  <div class="container">
			  <div class="row">
				  <a ng-show="!user.id" href="" id="login-btn" class="top-panel-btn pull-left mb">{[{t('login')}]}</a>
				  <!--<a ng-show="user.id" ng-click="logout()" href="" id="logout-btn" class="top-panel-btn pull-left mb">{[{t('Logout')}]}</a>-->
				  <a ng-show="user.id" href="/chat" id="logout-btn" class="top-panel-btn pull-left mb">{[{t('chat')}]}</a>
				  <div class="lang dark pull-right">
				    <div ng-class="lang=='ru' ? 'ru selected' : 'ru'" ng-click="selectlang('ru')">ru</div>
				    <div ng-class="lang=='en' ? 'eng selected' : 'en'" ng-click="selectlang('en')">en</div>
				  </div>
			  </div>
		  </div>
	  </div>
	<section class="sec1">
		<div class="container">
			<div class="row">
					<header class="clients">
						<a href="#/{[{lang}]}/clients" class="header-btn" data-target="clients">
							<span>        <!--  <div class="ico ico1"></div> -->
			                        <svg x="0px" y="0px" width="18.006px" height="32.375px" viewBox="0 5.625 18.006 32.375" class="ico">
			                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kos"></use>
			                        </svg>
		                        <!-- <div class="ico"></div> -->
								<!-- {[{trans.for_clients[lang]}]} -->
								{[{t('for_clients')}]}
							</span>
						</a>
						<a href="#/{[{lang}]}/lawyers" class="header-btn" data-target="lawyers">
							<span>
		                        <svg x="0px" y="0px" width="20.024px" height="37.002px" viewBox="37.976 26.997 20.024 37.002" class="ico">
		                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rocket"></use>
		                        </svg>
		                        <!-- <div class="ico"></div> -->
								<!-- <div class="ico ico2"></div> -->
								<!-- {[{trans.for_lawyers[lang]}]} -->
								{[{t('for_lawyers')}]}
							</span>
						</a>
					</header>
			</div>
			<div class="row scalable">
				<div class="inner">
				<div id="logo">
					<svg version="1.1" id="logo_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
						 x="0px" y="0px"
						 width="240px" height="80px"
						 viewBox="0 0 240 80"
						 style="enable-background:new 0 0 209.517 79;"
						 xml:space="preserve">
<path style="fill:#FFF;" d="M150.861,25.337v-2.546h7.831v1.454c0,4.631-2.449,7.734-7.226,7.734s-8.025-3.006-8.025-8.122
	c0-5.117,3.249-8.366,8.025-8.366c2.861,0,4.995,0.85,6.474,2.91l-2.424,2.037c-0.994-1.479-2.207-2.109-4.05-2.109
	c-2.425,0-4.68,1.575-4.68,5.406c0,4.05,2.255,5.408,4.68,5.408c2.619,0,3.952-1.407,3.952-3.807H150.861z"></path>
<path style="fill:#FFF;" d="M181.412,28.876h-6.498l-1.26,2.74h-3.322l7.783-16.245h0.146l7.759,16.245h-3.321L181.412,28.876z
	 M175.934,26.452h4.461l-2.23-4.922L175.934,26.452z"></path>
<polygon style="fill:#FFF;" points="198.63,31.616 198.63,15.856 201.927,15.856 201.927,28.634 209.517,28.634 209.517,31.616
	"></polygon>
<path style="fill:#FFF;" d="M100.4,64.311c-1.916,0-4.582-0.581-5.867-2.813l0.945-0.848c1.431,2.086,3.37,2.399,4.922,2.399
	c2.521,0,4.583-0.896,4.583-3.249c0-2.108-1.479-2.787-4.269-3.441c-3.055-0.729-5.697-1.285-5.697-4.534
	c0-2.304,1.988-4.001,5.504-4.001c1.818,0,3.613,0.266,5.286,1.818l-0.946,1.043c-1.552-1.357-2.788-1.602-4.34-1.602
	c-2.764,0-4.146,1.359-4.146,2.741c0,2.109,1.625,2.57,4.316,3.224c3.007,0.729,5.648,1.48,5.648,4.752
	C106.34,62.831,103.674,64.311,100.4,64.311"></path>
<path style="fill:#FFF;" d="M122.248,63.946h-1.358v-15.76h4.874c3.516,0,5.94,1.358,5.94,4.995s-2.425,5.165-5.94,5.165h-3.516
	V63.946z M125.521,57.207c2.789,0,4.825-0.873,4.825-4.025s-2.036-3.831-4.825-3.831h-3.272v7.856H125.521z"></path>
<path style="fill:#FFF;" d="M154.206,59.995h-8.001l-1.673,3.952h-1.431l7.007-16.245h0.146l7.08,16.245h-1.431L154.206,59.995z
	 M146.666,58.904h7.079l-3.563-8.341L146.666,58.904z"></path>
<path style="fill:#FFF;" d="M177.121,63.05c2.085,0,3.758-0.994,4.752-2.739l1.188,0.751c-1.236,2.086-3.321,3.249-5.939,3.249
	c-4.292,0-7.178-3.055-7.178-8.171c0-5.115,2.886-8.317,7.178-8.317c2.618,0,4.703,1.164,5.939,3.226l-1.188,0.752
	c-0.994-1.723-2.667-2.716-4.752-2.716c-3.395,0-5.771,2.667-5.771,6.983C171.35,60.358,173.727,63.05,177.121,63.05"></path>
<polygon style="fill:#FFF;" points="197.61,48.188 207.164,48.188 207.164,49.399 198.969,49.399 198.969,55.219 205.83,55.219
	205.83,56.431 198.969,56.431 198.969,62.735 207.406,62.735 207.406,63.947 197.61,63.947 "></polygon>
<path style="fill:#FFF;" d="M44.074,18.861c0.028,1.742-1.36,3.18-3.104,3.21c-1.743,0.028-3.18-1.36-3.21-3.104
	c-0.029-1.743,1.36-3.18,3.103-3.21C42.606,15.729,44.045,17.118,44.074,18.861"></path>
<path style="fill:#FFF;" class="basePath" d="M38.694,75.111c-19.192,0-34.807-15.612-34.807-34.805S19.502,5.5,38.694,5.5
	S73.5,21.114,73.5,40.307S57.887,75.111,38.694,75.111 M38.694,6.5C20.053,6.5,4.888,21.666,4.888,40.307
	c0,18.64,15.165,33.805,33.807,33.805c18.641,0,33.806-15.165,33.806-33.805C72.5,21.666,57.335,6.5,38.694,6.5"></path>
<path style="fill:#FFF;" d="M31.61,71.784c-6.911,0-13.04-2.379-17.527-6.866C3.268,54.103,5.51,34.263,19.08,20.692
	C32.652,7.118,52.492,4.881,63.305,15.694c5.256,5.254,7.62,12.76,6.658,21.135c-0.956,8.331-5.096,16.532-11.654,23.092
	c-6.56,6.559-14.76,10.697-23.091,11.653C33.995,71.716,32.791,71.784,31.61,71.784 M45.741,9.841
	c-8.764,0-18.358,3.963-25.954,11.559C6.606,34.579,4.364,53.784,14.79,64.211c5.034,5.033,12.245,7.299,20.313,6.371
	c8.107-0.931,16.098-4.97,22.498-11.368c6.399-6.4,10.438-14.392,11.368-22.498c0.926-8.065-1.337-15.279-6.371-20.313
	C58.182,11.985,52.186,9.841,45.741,9.841"></path>
<path style="fill:#FFF;" d="M38.694,75.111c-10.668,0-19.348-15.612-19.348-34.805c0-19.191,8.68-34.806,19.348-34.807
	c10.668,0,19.347,15.614,19.347,34.807S49.362,75.111,38.694,75.111 M38.694,6.5C28.577,6.501,20.347,21.667,20.347,40.307
	s8.23,33.805,18.348,33.805c10.116,0,18.347-15.165,18.347-33.805C57.041,21.666,48.811,6.5,38.694,6.5"></path>
<path style="fill:#FFF;" d="M53.598,68.46c-8.409,0-19.333-5.223-28.584-14.473c-13.57-13.57-18.475-30.748-10.931-38.292
	c7.544-7.548,24.723-2.641,38.292,10.931c13.57,13.571,18.474,30.749,10.931,38.292C60.904,67.319,57.525,68.46,53.598,68.46
	 M23.837,13.113c-3.672,0-6.815,1.058-9.047,3.289c-7.153,7.152-2.25,23.696,10.931,36.878
	c13.182,13.18,29.725,18.085,36.878,10.931s2.25-23.697-10.931-36.878C42.599,18.263,31.937,13.113,23.837,13.113"></path>
<path style="fill:#FFF;" d="M64.248,54.731c0.02,1.172-0.914,2.138-2.087,2.157c-1.172,0.021-2.139-0.914-2.158-2.086
	s0.915-2.139,2.087-2.157C63.262,52.625,64.228,53.559,64.248,54.731"></path>
<polygon style="fill:#FFF;" points="94.872,31.616 94.872,15.856 98.17,15.856 98.17,28.634 105.759,28.634 105.759,31.616 "></polygon>
<polygon style="fill:#FFF;" points="119.339,15.856 130.347,15.856 130.347,18.645 122.636,18.645 122.636,22.281
	129.013,22.281 129.013,24.948 122.636,24.948 122.636,28.828 130.589,28.828 130.589,31.616 119.339,31.616 "></polygon>
</svg>

					<!--	           		<svg id="svg_logo" width="239.647px" height="41.472px" viewBox="0 0 239.647 42.472" class="">
                                            <defs>
                                                <linearGradient id="MyGradient" x1="0" y1="0" x2="0" y2="1">
                                                    <animate id="anm" attributeName="y2" from="1" to="0.0001" dur="0.22s" begin="" fill="freeze"/>
                                                       <stop style="stop-color:#FFFFFF" offset="99%"></stop>
                                                      <stop style="stop-color:rgba(0,0,0,0)" offset="100%"></stop>
                                                </linearGradient>
                                                 <linearGradient id="MyGradient2" x1="0" y1="0" x2="0" y2="1">
                                                       <stop style="stop-color:#FFFFFF" offset="99%"></stop>
                                                      <stop style="stop-color:rgba(0,0,0,0)" offset="100%"></stop>
                                                </linearGradient>
                                            </defs>
                                            <g id="logo_svg">
                                            <polygon fill="#18243F" points="0,0 5.587,0 5.587,36.745 14.719,36.745 14.719,41.472 0,41.472 "/>
                                                <polygon fill="#448EB3" points="224.794,0 239.647,0 239.647,4.727 230.381,4.727 230.381,17.862 238.6,17.862 238.6,22.589
                                                    230.381,22.589 230.381,36.745 239.647,36.745 239.647,41.472 224.794,41.472 "/>
                                                <path fill="#18243F" d="M31.666,29.063l-1.235-6.608c-0.825-4.494-1.496-9.294-2.015-14.397c-0.251,2.489-0.574,5.009-0.967,7.562
                                                    c-0.394,2.55-0.859,5.26-1.397,8.124l-1.02,5.319H31.666z M26.321,0h4.351l8.891,41.472H34.03l-1.558-8.085h-8.219l-1.585,8.085
                                                    h-5.372L26.321,0z"/>
                                                <path fill="#18243F" d="M38.954,0h5.399l2.82,19.259l0.457,2.847c0.215,1.541,0.376,2.946,0.483,4.217l0.296,3.519
                                                    c0.017,0.09,0.035,0.251,0.053,0.483c0.018,0.233,0.046,0.529,0.081,0.886l0.134-1.343c0.215-2.345,0.443-4.502,0.686-6.473
                                                    c0.24-1.969,0.505-3.787,0.792-5.452L53.136,0h4.298l2.793,17.432c0.412,2.579,0.757,4.969,1.034,7.172s0.506,4.307,0.685,6.312
                                                    c0.179-2.112,0.381-4.154,0.604-6.124c0.224-1.969,0.462-3.903,0.712-5.802l0.403-2.766L66.056,0h5.345l-7.333,41.472h-4.351
                                                    l-2.928-17.916c-0.018-0.07-0.062-0.366-0.134-0.886c-0.072-0.519-0.18-1.262-0.323-2.229l-0.564-4.137
                                                    c-0.036-0.322-0.094-0.806-0.174-1.45c-0.081-0.645-0.166-1.459-0.255-2.445l-0.135-1.719c-0.035,0.413-0.072,0.771-0.107,1.075
                                                    c-0.036,0.305-0.063,0.555-0.081,0.752c-0.09,1.182-0.165,2.099-0.227,2.752c-0.064,0.655-0.104,1.053-0.122,1.196l-0.564,3.976
                                                    c-0.126,0.913-0.223,1.629-0.295,2.148c-0.072,0.52-0.126,0.843-0.161,0.967l-3.036,17.916h-4.485L38.954,0z"/>
                                                <path fill="#448EB3" d="M95.113,17.244c0.769-0.806,1.414-1.517,1.934-2.136c0.518-0.616,0.913-1.158,1.182-1.624
                                                    c0.554-0.931,0.831-1.943,0.831-3.035c0-1.021-0.268-1.831-0.805-2.432c-0.538-0.599-1.244-0.899-2.121-0.899
                                                    c-0.913,0-1.702,0.359-2.364,1.074c-0.645,0.699-0.967,1.531-0.967,2.498C92.803,12.07,93.572,14.254,95.113,17.244 M93.635,24.899
                                                    c-2.077,2.293-3.116,4.442-3.116,6.447c0,1.612,0.458,2.964,1.371,4.056c0.913,1.111,2.013,1.665,3.303,1.665
                                                    c1.433,0,2.838-0.877,4.218-2.632L93.635,24.899z M106.259,25.544l3.546,2.82l-4.431,6.178l4.431,6.93h-6.125l-1.959-3.223
                                                    c-2.042,2.31-4.415,3.465-7.119,3.465c-2.525,0-4.719-0.984-6.58-2.955c-1.826-1.987-2.74-4.36-2.74-7.118
                                                    c0-1.862,0.43-3.616,1.29-5.264c0.859-1.666,2.354-3.59,4.484-5.775c-2.22-3.509-3.331-6.796-3.331-9.858
                                                    c0-2.273,0.753-4.154,2.257-5.641c1.522-1.467,3.456-2.202,5.802-2.202c2.363,0,4.252,0.681,5.668,2.041
                                                    c1.431,1.38,2.149,3.17,2.149,5.372c0,1.881-0.44,3.582-1.317,5.104c-0.412,0.752-1.021,1.624-1.827,2.619
                                                    c-0.806,0.993-1.826,2.108-3.062,3.344l5.48,8.971L106.259,25.544z"/>
                                                <path fill="#448EB3" d="M135.536,19.662h10.153v1.612c0,8.076-0.707,13.529-2.121,16.357c-1.396,2.901-4.012,4.352-7.843,4.352
                                                    c-3.958,0-6.778-1.612-8.462-4.835c-1.665-3.223-2.497-8.639-2.497-16.25c0-8.703,0.913-14.495,2.74-17.379
                                                    c1.719-2.703,4.359-4.056,7.923-4.056c2.722,0,4.843,0.654,6.367,1.961c1.538,1.326,2.738,3.501,3.599,6.527l-5.211,2.176
                                                    c-0.234-1.092-0.493-2.011-0.78-2.754c-0.286-0.742-0.6-1.32-0.938-1.732c-0.682-0.841-1.702-1.262-3.062-1.262
                                                    c-1.862,0-3.135,1.146-3.813,3.438c-0.683,2.4-1.021,6.706-1.021,12.919c0,6.286,0.349,10.539,1.046,12.759
                                                    c0.699,2.221,2.017,3.331,3.95,3.331c1.773,0,3.018-0.788,3.732-2.364c0.734-1.683,1.103-4.387,1.103-8.112v-1.128v-0.833h-4.863
                                                    V19.662z"/>
                                                <path fill="#448EB3" d="M162.504,29.063l-1.236-6.608c-0.822-4.494-1.494-9.294-2.013-14.397c-0.251,2.489-0.574,5.009-0.967,7.562
                                                    c-0.396,2.55-0.859,5.26-1.397,8.124l-1.02,5.319H162.504z M157.16,0h4.351l8.891,41.472h-5.533l-1.558-8.085h-8.22l-1.584,8.085
                                                    h-5.372L157.16,0z"/>
                                                <path fill="#448EB3" d="M173.678,0h5.479v29.305c0,2.991,0.269,4.978,0.806,5.962c0.556,0.986,1.648,1.478,3.277,1.478
                                                    c1.63,0,2.705-0.43,3.223-1.289c0.538-0.877,0.806-2.66,0.806-5.346V0h5.48v30.11c0,4.513-0.69,7.566-2.067,9.16
                                                    c-1.648,1.809-4.165,2.712-7.549,2.712c-3.724,0-6.348-1.163-7.869-3.491c-1.057-1.594-1.586-4.656-1.586-9.186V0z"/>
                                                <path fill="#448EB3" d="M209.08,19.662h10.152v1.612c0,8.076-0.707,13.529-2.121,16.357c-1.396,2.901-4.012,4.352-7.843,4.352
                                                    c-3.958,0-6.777-1.612-8.462-4.835c-1.665-3.223-2.497-8.639-2.497-16.25c0-8.703,0.913-14.495,2.74-17.379
                                                    c1.719-2.703,4.36-4.056,7.922-4.056c2.723,0,4.844,0.654,6.367,1.961c1.539,1.326,2.74,3.501,3.6,6.527l-5.211,2.176
                                                    c-0.233-1.092-0.493-2.011-0.779-2.754c-0.286-0.742-0.601-1.32-0.939-1.732c-0.681-0.841-1.702-1.262-3.062-1.262
                                                    c-1.863,0-3.136,1.146-3.814,3.438c-0.682,2.4-1.021,6.706-1.021,12.919c0,6.286,0.349,10.539,1.047,12.759
                                                    c0.698,2.221,2.016,3.331,3.949,3.331c1.773,0,3.018-0.788,3.732-2.364c0.735-1.683,1.103-4.387,1.103-8.112v-1.128v-0.833h-4.862
                                                    V19.662z"/>
                                                <polygon id="L" class="filter" fill="#18243F" points="0,0 5.587,0 5.587,36.745 14.719,36.745 14.719,41.472 0,41.472 "/>
                                                <polygon id="E" class="filter" fill="#448EB3" points="224.794,0 239.647,0 239.647,4.727 230.381,4.727 230.381,17.862 238.6,17.862 238.6,22.589
                                                    230.381,22.589 230.381,36.745 239.647,36.745 239.647,41.472 224.794,41.472 "/>
                                                <path id="A" class="filter" fill="#18243F" d="M31.666,29.063l-1.235-6.608c-0.825-4.494-1.496-9.294-2.015-14.397c-0.251,2.489-0.574,5.009-0.967,7.562
                                                    c-0.394,2.55-0.859,5.26-1.397,8.124l-1.02,5.319H31.666z M26.321,0h4.351l8.891,41.472H34.03l-1.558-8.085h-8.219l-1.585,8.085
                                                    h-5.372L26.321,0z"/>
                                                <path id="W"  class="filter" fill="#18243F" d="M38.954,0h5.399l2.82,19.259l0.457,2.847c0.215,1.541,0.376,2.946,0.483,4.217l0.296,3.519
                                                    c0.017,0.09,0.035,0.251,0.053,0.483c0.018,0.233,0.046,0.529,0.081,0.886l0.134-1.343c0.215-2.345,0.443-4.502,0.686-6.473
                                                    c0.24-1.969,0.505-3.787,0.792-5.452L53.136,0h4.298l2.793,17.432c0.412,2.579,0.757,4.969,1.034,7.172s0.506,4.307,0.685,6.312
                                                    c0.179-2.112,0.381-4.154,0.604-6.124c0.224-1.969,0.462-3.903,0.712-5.802l0.403-2.766L66.056,0h5.345l-7.333,41.472h-4.351
                                                    l-2.928-17.916c-0.018-0.07-0.062-0.366-0.134-0.886c-0.072-0.519-0.18-1.262-0.323-2.229l-0.564-4.137
                                                    c-0.036-0.322-0.094-0.806-0.174-1.45c-0.081-0.645-0.166-1.459-0.255-2.445l-0.135-1.719c-0.035,0.413-0.072,0.771-0.107,1.075
                                                    c-0.036,0.305-0.063,0.555-0.081,0.752c-0.09,1.182-0.165,2.099-0.227,2.752c-0.064,0.655-0.104,1.053-0.122,1.196l-0.564,3.976
                                                    c-0.126,0.913-0.223,1.629-0.295,2.148c-0.072,0.52-0.126,0.843-0.161,0.967l-3.036,17.916h-4.485L38.954,0z"/>
                                                <path id="and" class="filter" fill="#448EB3" d="M95.113,17.244c0.769-0.806,1.414-1.517,1.934-2.136c0.518-0.616,0.913-1.158,1.182-1.624
                                                    c0.554-0.931,0.831-1.943,0.831-3.035c0-1.021-0.268-1.831-0.805-2.432c-0.538-0.599-1.244-0.899-2.121-0.899
                                                    c-0.913,0-1.702,0.359-2.364,1.074c-0.645,0.699-0.967,1.531-0.967,2.498C92.803,12.07,93.572,14.254,95.113,17.244 M93.635,24.899
                                                    c-2.077,2.293-3.116,4.442-3.116,6.447c0,1.612,0.458,2.964,1.371,4.056c0.913,1.111,2.013,1.665,3.303,1.665
                                                    c1.433,0,2.838-0.877,4.218-2.632L93.635,24.899z M106.259,25.544l3.546,2.82l-4.431,6.178l4.431,6.93h-6.125l-1.959-3.223
                                                    c-2.042,2.31-4.415,3.465-7.119,3.465c-2.525,0-4.719-0.984-6.58-2.955c-1.826-1.987-2.74-4.36-2.74-7.118
                                                    c0-1.862,0.43-3.616,1.29-5.264c0.859-1.666,2.354-3.59,4.484-5.775c-2.22-3.509-3.331-6.796-3.331-9.858
                                                    c0-2.273,0.753-4.154,2.257-5.641c1.522-1.467,3.456-2.202,5.802-2.202c2.363,0,4.252,0.681,5.668,2.041
                                                    c1.431,1.38,2.149,3.17,2.149,5.372c0,1.881-0.44,3.582-1.317,5.104c-0.412,0.752-1.021,1.624-1.827,2.619
                                                    c-0.806,0.993-1.826,2.108-3.062,3.344l5.48,8.971L106.259,25.544z"/>
                                                <path id="G" class="filter" fill="#448EB3" d="M135.536,19.662h10.153v1.612c0,8.076-0.707,13.529-2.121,16.357c-1.396,2.901-4.012,4.352-7.843,4.352
                                                    c-3.958,0-6.778-1.612-8.462-4.835c-1.665-3.223-2.497-8.639-2.497-16.25c0-8.703,0.913-14.495,2.74-17.379
                                                    c1.719-2.703,4.359-4.056,7.923-4.056c2.722,0,4.843,0.654,6.367,1.961c1.538,1.326,2.738,3.501,3.599,6.527l-5.211,2.176
                                                    c-0.234-1.092-0.493-2.011-0.78-2.754c-0.286-0.742-0.6-1.32-0.938-1.732c-0.682-0.841-1.702-1.262-3.062-1.262
                                                    c-1.862,0-3.135,1.146-3.813,3.438c-0.683,2.4-1.021,6.706-1.021,12.919c0,6.286,0.349,10.539,1.046,12.759
                                                    c0.699,2.221,2.017,3.331,3.95,3.331c1.773,0,3.018-0.788,3.732-2.364c0.734-1.683,1.103-4.387,1.103-8.112v-1.128v-0.833h-4.863
                                                    V19.662z"/>
                                                <path id="A2" class="filter" fill="#448EB3" d="M162.504,29.063l-1.236-6.608c-0.822-4.494-1.494-9.294-2.013-14.397c-0.251,2.489-0.574,5.009-0.967,7.562
                                                    c-0.396,2.55-0.859,5.26-1.397,8.124l-1.02,5.319H162.504z M157.16,0h4.351l8.891,41.472h-5.533l-1.558-8.085h-8.22l-1.584,8.085
                                                    h-5.372L157.16,0z"/>
                                                <path id="U" class="filter" fill="#448EB3" d="M173.678,0h5.479v29.305c0,2.991,0.269,4.978,0.806,5.962c0.556,0.986,1.648,1.478,3.277,1.478
                                                    c1.63,0,2.705-0.43,3.223-1.289c0.538-0.877,0.806-2.66,0.806-5.346V0h5.48v30.11c0,4.513-0.69,7.566-2.067,9.16
                                                    c-1.648,1.809-4.165,2.712-7.549,2.712c-3.724,0-6.348-1.163-7.869-3.491c-1.057-1.594-1.586-4.656-1.586-9.186V0z"/>
                                                <path id="G2" class="filter" fill="#448EB3" d="M209.08,19.662h10.152v1.612c0,8.076-0.707,13.529-2.121,16.357c-1.396,2.901-4.012,4.352-7.843,4.352
                                                    c-3.958,0-6.777-1.612-8.462-4.835c-1.665-3.223-2.497-8.639-2.497-16.25c0-8.703,0.913-14.495,2.74-17.379
                                                    c1.719-2.703,4.36-4.056,7.922-4.056c2.723,0,4.844,0.654,6.367,1.961c1.539,1.326,2.74,3.501,3.6,6.527l-5.211,2.176
                                                    c-0.233-1.092-0.493-2.011-0.779-2.754c-0.286-0.742-0.601-1.32-0.939-1.732c-0.681-0.841-1.702-1.262-3.062-1.262
                                                    c-1.863,0-3.136,1.146-3.814,3.438c-0.682,2.4-1.021,6.706-1.021,12.919c0,6.286,0.349,10.539,1.047,12.759
                                                    c0.698,2.221,2.016,3.331,3.949,3.331c1.773,0,3.018-0.788,3.732-2.364c0.735-1.683,1.103-4.387,1.103-8.112v-1.128v-0.833h-4.862
                                                    V19.662z"/>
                                            </g>
                                        </svg>-->
				</div>
				
				<div class="slogan for_clients" >
					{[{t('find_trusted_lawyer')}]}
				</div>
						<div class="reg-btn for_lawyers step1 step">
							<span>
								{[{t('registration')}]}
							</span>
							<div class="step step2 for_lawyers">
								<div class="text">
									{[{t("you_are_now_applying")}]}
								</div>
									<div class="yn-btn yes-btn">
										<span >
											{[{t('yes')}]}
										</span>
									</div>
									<div class="yn-btn no-btn">
										<span >
											{[{t('no')}]}
										</span>
									</div>
							</div>
						</div>

				<div class="step step3 for_lawyers scalable ">
					<div class="text quote">
						<div class="wrapper">
							<div class="martin">
								<span >
									{[{t('martin_luther')}]}
								</span>
							</div>
							<div class="q-text" >
								{[{t('I_have_a_dream')}]}
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
					<div class="row">
						<div class="col-sm-12 lawyers-reg lawyers-reg--step2">

								<div class="text">{[{t('confirm_the_identity')}]}</div>
								<div class="row">
<!--									<div class="col-md-6">
										<div class="form-group desktop&#45;&#45;pull-right">
											<div class="inline-code">
											  <input type="tel" ng-class="{notempty: authPhone}" ng-model="authPhone" class="form-control tel" name="phone">
											  <span class="to-step-3 btn">{[{t('get_code')}]}</span>
											</div>
											<div class="clear"></div>
										</div>
										<div class="clear"></div>
									</div>-->
									<div class="col-md-2"></div>
									<div class="col-md-4">
										<div class="form-group desktop--pull-left">
											<div class="login-fb--btn"><i class="fa fa-facebook"></i></div>
											<div class="login-vk--btn"><i class="fa fa-vk"></i></div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

						</div>
					</div>
					
					<div class="lawyers-reg lawyers-reg--step3 row">
						<div class="col-sm-12">
							<div class="text">{[{t('enter_the_code')}]}</div>
							<div class="row">
								<div class="col-md-3"></div>
								<div class="col-md-6">
									<div class="form-group centered">
										<div class="input-group inline-code">
										<div class="code-refresh" data-phone-class=".lawyers-reg--step2 input[name=phone]"></div>
										  <input type="tel" class="form-control code" placeholder="{[{t('code')}]}">
										  <span class="input-group-addon sms-reg btn-code">{[{t('submit')}]}</span>
										</div>
										<div class="clear"></div>
									</div>
									<div class="form-group pull-down centered">
										<input type="button" value="{[{t('backward')}]}" class="to-step-2 backward"/>
										<div class="clear"></div>
									</div>
								</div>
								<div class="col-md-3"></div>
							</div>
						</div>
					</div>
					
			</div>
		<div class="container">
		<div class="row">
			<div class="col-sm-12 info-bar-row for_clients scalable">
				<div class="clients-reg--wrapper">
					<div class="clients-reg clients-reg--step1 show">
						<div class="text">
							{[{t('start_working_with')}]}
						</div>
						<div class="form-group">
							<textarea noresize name="" id="" cols="30" rows="10" placeholder="{[{t('describe_your_issue')}]}"></textarea>
							<div class="clear"></div>
						</div>
						<div class="form-group pull-down">
							<input type="button" value="{[{t('continue')}]}" class="to-step-2 forward mb"/>
							<div class="clear"></div>
						</div>
					</div>
						<div class="row">
							<div class="col-sm-12 clients-reg clients-reg--step2">
	
									<div class="text">{[{t('confirm_the_identity')}]}</div>
									<div class="row">
	<!--									<div class="col-md-6">
											<div class="form-group desktop&#45;&#45;pull-right">
												<div class="inline-code">
												  <input type="tel" ng-class="{notempty: user.phone}" ng-model="user.phone" class="form-control tel" name="phone">
												  <span class="to-step-3 btn">{[{t('get_code')}]}</span>
												</div>
												<div class="clear"></div>
											</div>
											<div class="clear"></div>
										</div>-->
										<div class="col-md-2"></div>
										<div class="col-md-4">
											<div class="form-group desktop--pull-left">
												<div class="login-fb--btn"><i class="fa fa-facebook"></i></div>
												<div class="login-vk--btn"><i class="fa fa-vk"></i></div>
												<div class="clear"></div>
											</div>
										</div>
									</div>
									<div class="form-group pull-down">
										<input type="button" value="{[{t('backward')}]}" class="to-step-1 backward"/>
										<div class="clear"></div>
									</div>
							</div>
						</div>
					<div class="clients-reg clients-reg--step3 row">
						<div class="col-sm-12">
							<div class="text">{[{t('enter_the_code')}]}</div>
							<div class="row">
								<div class="col-md-3"></div>
								<div class="col-md-6">
									<div class="form-group centered">
										<div class="input-group inline-code">
										  <div class="code-refresh" data-phone-class=".clients-reg--step2 input[name=phone]"></div>
										  <input type="tel" class="form-control code" placeholder="{[{t('code')}]}">
										  <span class="input-group-addon sms-reg btn-code">{[{t('submit')}]}</span>
										</div>
										<div class="clear"></div>
									</div>
									<div class="form-group pull-down centered">
										<input type="button" value="{[{t('backward')}]}" class="to-step-2 backward"/>
										<div class="clear"></div>
									</div>
								</div>
								<div class="col-md-3"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<section class="step step4 for_lawyers">
		<div class="container">
			<div class="row scalable scalable-centertop">
				<div class="inner">
				<h2>{[{t('fill_the_form')}]}</h2>
				<form id="l_reg_form" class="lngform" method="post" name="l_reg_form" action="#">
					<input type="hidden" name="lngToken" />
					<input type="hidden" name="language" value="{[{lang}]}">
					<div class="form-group">
						<div class="col-sm-4 col-sm-offset-2">
							<input required type="text" class="form-control" id="" name="firstName" ng-model="firstName" placeholder="{[{t('first_name')}]}">
						</div>
						<div class="col-sm-4">
							<input required type="text" class="form-control" id="" name="lastName" ng-model="lastName" placeholder="{[{t('last_name')}]}">
						</div>
						<div class="col-sm-4 col-sm-offset-2">
							<input required  ng-class="{notempty: authPhone}" ng-model="phone" name="phone"  type="tel" class="form-control" id="l_tel">
							<!-- <div class="before" style="line-height: 30px; left: 20px;">+</div> -->
						</div>
						<div class="col-sm-4">
							<input  required ng-model="email" type="email" class="form-control" name="email" placeholder="{[{t('email')}]}">
						</div>
						<div class="clear"></div>
					</div>
					<div class="form-group select-group">
						<div class="col-sm-8 col-sm-offset-2">
							<input ng-model="currentCountry.name" required name="country" class="form-control country_ac" type="text" placeholder="{[{t('country')}]}"/>
						</div>
						<div class="clear"></div>
					</div>

					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2 submit-wrapper">
							<button type="submit" class="lsubmit" ng-class="{active: !l_reg_form.$invalid}">{[{t('registration')}]}</button>
							<span id="result-ok" class="result">{[{t('thank_you_for_contact')}]}</span>
							<span id="result-error" class="result">{[{t('error_sending_data')}]}</span>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</form>
				
				<section class="sec7">
					<div class="container-fluid">
						<div class="row">
							<div class="text" >
								{[{t("we_are_team")}]}
								<br /><a href='mailto:a@lawandgauge.com'>a@lawandgauge.com</a>
							</div>
						</div>
					</div>
				</section>
				</div>
			</div>
		</div>
	</section>
	</section>



<div id="content_clients">
	<section class="sec2">
		<div class="container">
			<div class="row">
				<h2 >{[{t('take_advantage')}]}</h2>
				<div class="scheme">
					<div>
						<div class="img">
		                        <svg width="47px" height="39px" viewBox="0 0 47 39" class="ico">
		                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i1"></use>
		                        </svg>
						</div>
						<span >{[{t('describe_your_legal_matter')}]}</span>
						<div class="arr"></div>
					</div>
					<div>
						<div class="img">
		                        <svg width="47px" height="47px" viewBox="364.5 1390.101 47 47" class="ico">
		                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i2"></use>
		                        </svg>
						</div>
						<span >{[{t('we_contact_you')}]}</span>
						<div class="arr"></div>
					</div>
					<div>
						<div class="img">
		                        <svg width="477px" height="640.543px" viewBox="-26.5 917.329 477 640.543" class="ico">
		                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i3"></use>
		                        </svg>
						</div>
						<span >{[{t("you_sign_the_contract")}]}</span>
					</div>
				</div>
			</div>
		</div>
	</section><!--			<div class="row">
				<div class="title">
					{[{t("customer-reviews")}]}
				</div>
				<div id="carousel1" class="carousel slide" data-ride="carousel">
				  &lt;!&ndash; Indicators &ndash;&gt;
				  <ol class="carousel-indicators">
				    <li data-target="#carousel1" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel1" data-slide-to="1"></li>
				    <li data-target="#carousel1" data-slide-to="2"></li>
				    <li data-target="#carousel1" data-slide-to="3"></li>
				  </ol>

				  &lt;!&ndash; Wrapper for slides &ndash;&gt;
				  <div class="carousel-inner" role="listbox">
				  	<div class="item active">
				      <div class="carousel-caption col-sm-12">
					      <div class="avatar"></div>
					      <div class="name">
								Василий Воропаев<br />CEO Rubrain
					      </div>
							<div class="review-body">IT бизнесам очень часто требуются зарубежные компании, поэтому мне неоднократно приходилось обращаться за услугами по регистрации кипрских компаний. Раньше я искренне полагал, что я обречен на бесполезные звонки с сотрудниками начального уровня, которые толком ничего не могут объяснить, но после знакомства с Legal space я начал привыкать, что на мои вопросы с радостью отвечают международные профессионалы высочайшего уровня</div>
				      </div>
				    </div>
				    <div class="item">
				      <div class="carousel-caption col-sm-12">
					      <div class="avatar"></div>
					      <div class="name">
								Микаэл Саакянц<br />CEO BASH.today
					      </div>
					     &lt;!&ndash;  <div class="review-title">
					      	Концепт. Цена. Качество.
					      </div> &ndash;&gt;
							  <div class="review-body">
Я никогда не думал, что найти  хорошего юриста сложнее, чем сотню подрядчиков.
 Для запуска бизнеса мне был необходим специфический пакет документов.
Благодаря Legal space мне не только удалось найти идеальное соотношение
цена-качество для необходимых мне юр. услуг, но я еще и существенно сэкономил время.
 Что позволило мне получить первую прибыль от проекта на неделю раньше, чем я планировал.
Спасибо, советую всем!
							  </div>
				      </div>
				    </div>
				    <div class="item">
				      <div class="carousel-caption col-sm-12">
					      <div class="avatar"></div>
					      <div class="name">
								Александр Мамонов<br />СЕО MMSCO
					      </div>
               &lt;!&ndash;  <div class="review-title">
                  Цена. Наслаждение. Катарсис.
                </div> &ndash;&gt;
				      <div class="review-body">
Мне нравится, что у нашей
 компании проявилось юридическое сопровождение on-line. Не нужно куда-то ехать и даже залазить в почту.
Теперь я решаю  все вопросы прямо на сайте.Ребят, спасибо! Мне стало проще жить)
				      </div>
				      </div>
				    </div>
				    <div class="item">
				      <div class="carousel-caption col-sm-12">
					      <div class="avatar"></div>
					      <div class="name">
								Екатерина Саввиди<br />СЕО Frame
					      </div>
                &lt;!&ndash; <div class="review-title">
                  Профессионально. Красиво. Дерзко.
                </div> &ndash;&gt;
				      <div class="review-body">
Найти юриста для регистрации торговой марки в Италии получилось очень быстро, с помощью ноутбука. Признаюсь, я слегка расстроилась, что мне не удалось попасть на шоппинг в Милан) Удобнее не придумаешь!
				      </div>
				      </div>
				    </div>
				  </div>
				</div>
			</div>-->
	
	<section ng-class="lang=='en' ? 'sec4' : 'sec4'">
		<div class="container">

		</div>
	</section>
	
	<section class="sec5">
		<div class="container">
			<div class="row">
				<div class="items">
					<div class="item">
						<div class="img">
		                        <svg width="58.179px" height="74.229px" viewBox="260.91 1206.487 58.179 74.229" class="ico">
		                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i4"></use>
		                        </svg>
						</div>
						<div class="label">
							{[{t("t1")}]}
						</div>
					</div>
					<div class="item">
						<div class="img">
		                        <svg width="47px" height="43px" viewBox="100.5 1392.101 47 43" class="ico">
		                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i5"></use>
		                        </svg>
						</div>
						<div class="label">
							{[{t('t2')}]}
						</div>
					</div>
					<div class="item">
						<div class="img">
		                        <svg width="94.667px" height="76.133px" viewBox="160.333 1207.068 94.667 76.133" class="ico">
		                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i6"></use>
		                        </svg>
						</div>
						<div class="label">
							{[{t("t3")}]}
						</div>
					</div>
					<div class="item">
						<div class="img">
		                        <svg width="35px" height="47px" viewBox="0 0 35 47" class="ico">
		                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map_point"></use>
		                        </svg>
						</div>
						<div class="label">
							{[{t("t4")}]}
						</div>
					</div>
					<div class="item">
						<div class="img">
		                        <svg width="47px" height="47px" viewBox="276.5 1390.101 47 47" class="ico">
		                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i8"></use>
		                        </svg>
						</div>
						<div class="label">
							{[{t("t5")}]}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--
	<section ng-controller="mapCtrl" class="map">
		<div id="map_style"></div>
	</section>
-->

	<section class="partners">
		<div class="container">
        <div class="title">{[{t("our-partners")}]}</div>
        	<div class="contrr">
	        	<ul class="nclear">
                    {% for partner in partners %}
                        <li style="height: 125.712px; background-image: url({{ partner.logo.url }});"></li>
                    {% endfor %}

{#					<li style="height: 125.712px; background-image: url(http://lawandgauge.webtm.ru/data/landings/1305493563.jpg);"></li>#}
{#					<li style="height: 125.712px; background-image: url(http://lawandgauge.webtm.ru/data/landings/image001.jpg);"></li>#}
{#					<li style="height: 125.712px; background-image: url(http://lawandgauge.webtm.ru/data/landings/image002.png);"></li>				#}
{#					<li style="height: 125.712px; background-image: url(http://lawandgauge.webtm.ru/data/landings/image003.jpg);"></li>				#}
{#					<li style="height: 125.712px; background-image: url(http://lawandgauge.webtm.ru/data/landings/logoMGU-210x260.jpg);"></li>#}
{#					<li style="height: 125.712px; background-image: url(http://lawandgauge.webtm.ru/data/landings/MBO_Logo.png);"></li>#}
				</ul>
	   		</div>
	</section>
	<section id="addresses" class="addresses">
	    <div class="container nclear">
	        <h2 class="header text-caps text-center text-thin benefits__header"><span class="colorize_color">{[{t("contacts")}]}</span></h2>
	        <div class="mp_bx nclear">
	            <div class="addresses__map" style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?zoom=2&amp;size=600x365&amp;scale=1&amp;style=color:0x5b5bc9&amp;style=element:labels.text%7Cvisibility:off&amp;style=feature:administrative%7Celement:geometry.stroke%7Cvisibility:off&amp;style=feature:road%7Celement:labels%7Cvisibility:off&amp;style=feature:road%7Celement:geometry%7Ccolor:0xefefe3&amp;style=feature:water%7Celement:geometry.fill%7Ccolor:0x3f628c&amp;style=feature:landscape.natural%7Celement:geometry.fill%7Ccolor:0x2e4766&amp;style=feature:landscape.natural.landcover%7Ccolor:0x23344e&amp;style=feature:landscape.natural.terrain%7Ccolor:0x23344e&amp;style=feature:all%7Celement:geometry.stroke%7Cvisibility:off&amp;style=feature:administrative%7Celement:geometry.fill%7Cvisibility:off&amp;markers=icon:http://lawandgauge.webtm.ru/static/landing/img/regularBall.png%7Csize:small%7Clabel:S%7C55.770831,37.566054%7C34.973547,33.408037%7C45.4035871,9.202108);"></div>
	            <div class="address_blc">
	                    <div class="addresses__box">
	                        <h3 class="text-caps text-thin">{[{t("Italy")}]}</h3>
	                        <p class="add_b_addres">{[{t("address_ita")}]}</p><p class="add_b_phone">390294759684</p>
	                    </div>
	                
	                    <div class="addresses__box">
	                        <h3 class="text-caps text-thin">{[{t("Cyprus")}]}</h3>
	                        <p class="add_b_addres">{[{t("address_cyp")}]}</p><p class="add_b_phone">35723030016</p>
	                    </div>
	                	<div class="addresses__box">
	                        <h3 class="text-caps text-thin">{[{t("Russia")}]}</h3>
	                        <p class="add_b_addres">{[{t("address_msk")}]}</p><p class="add_b_phone">(позже впишем сами)</p>
	                    </div>
	            </div>
	        </div>
	    </div>

	</section>
	<section class="sec7">
		<div class="container-fluid">
			<div class="row">
				<div class="logo_min"></div>
				<div class="text">
				  <p>{[{t('we_are_team')}]}</p>
				  <a href='mailto:a@lawandgauge.com'>a@lawandgauge.com</a>
				</div>
			</div>
		</div>
	</section>
</div>

{% include 'landing/footer.html' %}
	
<!--<link rel="stylesheet" href="//cdn.callbackhunter.com/widget2/tracker.css">
<script type="text/javascript" src="//cdn.callbackhunter.com/widget2/tracker.js" charset="UTF-8"></script>
<script type="text/javascript">var hunter_code="f80eaa9c48d50340dd13609d149326f4";</script>-->

</body>
</html>
