{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Legal space</title>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
	
	<link rel="stylesheet" href="{% static 'landing/style.css' %}">
</head>
<body ng-app="lawandgauge" ng-controller="translateCtrl">
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
		<defs>
		  <linearGradient id="MyGradient">
		       <stop style="stop-color:white" offset="0%"/>
		  <stop style="stop-color:black" offset="100%"/>
		    </linearGradient>
		</defs>
	</svg>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="logo" class="logo-resume"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Наша цель</h1>
				<p>Решение юридических задач любой сложности и географической
					принадлежности с помощью самой крупной международной сети лучших
					юристов. Задача LS - свести до минимума временные и финансовые
					издержки и позволить вам найти подходящего юриста в любой точке
					мира, так же быстро и удобно, как забронировать авиабилет или
					гостиницу.</p>
				
				<h2>Наша миссия</h2>
				<p>Мы упрощаем процесс оказания юридических услуг, чтобы ускорить
					развитие малого и среднего бизнеса и помочь предпринимателям в
					выводе компании на международный рынок.</p>
			</div>
		</div>
	</div>
	<footer>
		<ul class="pull-right">
			<li><a href="/about">О нас</a></li>
			<li><a href="/our_lawyers">Наши юристы</a></li>
			<li><a href="/mission">Наша цель</a></li>
		</ul>
		<div class="clear"></div>
		<div>©2015 Legal space</div>
	</footer>
</body>
</html>