{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Law And Gauge</title>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
	
	<link rel="stylesheet" href="{% static 'landing/style.css' %}">
</head>
<body ng-app="lawandgauge" ng-controller="translateCtrl">
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
		<defs>
		  <linearGradient id="MyGradient">
		       <stop style="stop-color:white" offset="0%"/>
		  <stop style="stop-color:black" offset="100%"/>
		    </linearGradient>
		</defs>
	</svg>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="logo" class="logo-resume"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Наши юристы</h1>
				<p>Наши юристы - это профессионалы с опытом работы не менее 5
					лет. Все юристы LS проходят личное собеседование перед началом
					работы. База LS пополняется только через рекомендации и личные
					отзывы.</p>
					
				<h2>Переписка (коммуникация)</h2>
				<p>Воспользуйтесь нашей системой обмена сообщениями, чтобы
					рассказать об интересующей вас юридической услуге или задать
					вопрос.</p>
				
				<h2>Узнайте больше:</h2>
				<p>Как отправлять сообщения и просматривать переписку? Общение на
					сайте LS начинается с отправки клиентом заявки или вопроса о
					юридической услуге. С этого момента все сообщения по данному
					запросу или заявке будут сохраняться в вашем личном кабинете. Вы
					также можете загрузить туда скан или фото необходимых документов.
					Благодаря нашей безопасной системе сообщений, вся информация
					клиента и юриста в процессе переписки остается конфиденциальной.</p>
					
				<h2>Чтобы посмотреть или отправить сообщение: (скриншот + how it works)</h2>
				
				<h2>Почему мы не показываем вам юристов и их рейтинг?</h2>
				<p>LS ведет внутренний рейтинг, основанный на широком спектре
					компетенций, который не может быть оценен количеством звезд. Все
					наши юристы обладают опытом работы не менее 5 лет и имеют множество
					рекомендаций и отзывов. Вам предоставляется профессионал,
					специализирующийся на решении конкретно вашей задачи, в котором мы
					уверены на 100 процентов. Именно поэтому LS полностью берет на
					себя ответственность за финальный результат.</p>
			</div>
		</div>
	</div>
	<footer>
		<ul class="pull-right">
			<li><a href="/about">О нас</a></li>
			<li><a href="/our_lawyers">Наши юристы</a></li>
			<li><a href="/mission">Наша цель</a></li>
		</ul>
		<div class="clear"></div>
		<div>©2015 Legal space</div>
	</footer>
</body>
</html>