{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Legal space</title>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
	
	<link rel="stylesheet" href="{% static 'landing/style.css' %}">
	<style type="text/css">
		li {
			list-style: none;
		}
		span {
			font-weight: bold;
		}
	</style>
</head>
<body ng-app="lawandgauge" ng-controller="translateCtrl">
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
		<defs>
		  <linearGradient id="MyGradient">
		       <stop style="stop-color:white" offset="0%"/>
		  <stop style="stop-color:black" offset="100%"/>
		    </linearGradient>
		</defs>
	</svg>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="logo" class="logo-resume"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Политика обработки Персональных данных</h1>
				<h2>1.	Общие положения</h2>
				<ul>
					<li>
						1.1.	Настоящим Положением определяется порядок обращения с Персональными данными (как этот термин определен ниже) в ООО «Лоу энд Гейдж» (далее –«Компания»).
					</li>
					<li>
						1.2.	Упорядочение обращения с Персональными данными имеет целью обеспечить соблюдение законных прав и интересов человека и гражданина при обработке его Персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну, в связи с необходимостью получения (сбора), систематизации (комбинирования), хранения и передачи сведений, составляющих Персональные данные.
					</li>
					<li>
						1.3.	Сведения о Персональных данных относятся к числу конфиденциальных (составляющих охраняемую законом тайну Компании). Режим конфиденциальности в отношении Персональных данных снимается:
						<ul>
							<li>•	в случае их обезличивания;</li>
							<li>•	по истечении 75 лет срока их хранения;</li>
							<li>•	в других случаях, предусмотренных федеральными законами.</li>
						</ul>
					</li>
					<li>
						1.4.	Размещая на Платформе (как этот термин определен ниже) свои Персональные данные, Пользователь(как этот термин определен ниже) подтверждает, что делает это добровольно, а также что он добровольно предоставляет их Компании для обработки. Если Пользователь не согласен с вышеуказанными условиями, то он не должен регистрироваться на Платформе или должен немедленно удалить свой Профиль.
					</li>
					<li>
						1.5.	Компания оставляет за собой право изменять условия настоящейПолитики в любое время. При внесении изменений Компания уведомляет об этом Пользователя путем размещения действующей редакции на Платформе по постоянному адресу: «_________»
					</li>
				</ul>
				<h2>2.	Термины, используемые в настоящей Политике:</h2>
				<p>
					<span>«Платформа»</span> – веб-сайтwww.lawandgauge.com и мобильные приложения Компании для всех типов мобильных операционных систем.
				</p>
				<p>
					<span>«Закрытые страницы Платформы»</span> – страницы Платформы, получить доступ к которым можно только при введении правильной комбинации Логина и Пароля.
				</p>
				<p>
					<span>«Аналог собственноручной подписи»</span> – Введение правильной комбинации Логина и Пароля (Как данный термин определен ниже) для доступа к Закрытым страницам Платформы, введение направленного Пользователю одноразового аутентификационного кода на закрытых страницах Платформы, а также нажатие любой из кнопок на Закрытых страницах Платформы, связанных с функционированием Платформы.
				</p>
				<p>
					<span>«Пользователь»</span> – любое полностью дееспособное физическое лицо или юридическое лицо, учрежденное и действующее в соответствии с законодательством РФ или иностранного государства, прошедшее регистрацию на Платформе.
				</p>
				<p>
					<span>«Логин и Пароль»</span> – уникальная комбинация из слов, цифр и знаков, позволяющая Пользователю получить доступ к Закрытым страницам Платформы.
				</p>
				<p>«Профиль»–</p>
				<p>
					<span>«Персональные данные»</span> - любая Информация, относящаяся к конкретному Пользователю («Субъекту Персональных данных») и необходимая Компании в связи с исполнением договора, стороной которого либо выгодоприобретателем или поручителем по которому является Субъект Персональных данных, а также для заключения договора по инициативе Субъекта Персональных данных или договора, по которому Субъект Персональных данных будет являться выгодоприобретателем или поручителем.
				</p>
				<p>
					<span>«Обработка Персональных данных»</span> - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение Персональных данных (п. 3 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ);
				</p>
				<p>
					<span>«Распространение Персональных данных»</span> - действия, направленные на раскрытие Персональных данных неопределенному кругу лиц (п. 5 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ);
				</p>
				<p>
					<span>«Предоставление Персональных данных»</span> - действия, направленные на раскрытие Персональных данных определенному лицу или определенному кругу лиц (п. 6 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ);
				</p>
				<p>
					<span>«Блокирование Персональных данных»</span> - временное прекращение обработки Персональных данных (за исключением случаев, если обработка необходима для уточнения Персональных данных) (п. 7 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ);
				</p>
				<p>
					<span>«Уничтожение Персональных данных»</span> - действия, в результате которых становится невозможным восстановить содержание Персональных данных в информационной системе Персональных данных и (или) в результате которых уничтожаются материальные носители Персональных данных (п. 8 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ);
				</p>
				<p>
					<span>«Обезличивание Персональных данных»</span> - действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность Персональных данных конкретному Пользователю (п. 9 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ);
				</p>
				<p>
					<span>«Информация»</span> - сведения (сообщения, данные) независимо от формы их представления;
				</p>
				<p>
					<span>«Документированная Информация»</span> - зафиксированная на материальном носителе путем документирования Информация с реквизитами, позволяющими определить такую информацию или ее материальный носитель.
				</p>
				<h2>3.	Обработка Персональных данных </h2>
				<ul>
					<li>3.1.	Источником информации обо всех Персональных данных Пользователя является непосредственно Пользователь. </li>
					<li>3.2.	Регистрируясь на Платформе, Пользователь предоставляет Компании следующие Персональные данные:
						<ul>
							<li>•	Фамилия; </li>
							<li>•	Имя; </li>
							<li>•	Отчество; </li>
							<li>•	Дата рождения; </li>
							<li>•	Адрес; </li>
							<li>•	Фотография; </li>
							<li>•	паспортные данные: а) вид документа; б) серия и номер документа; в) орган, выдавший документ: - наименование; - код; г) дата выдачи документа; </li>
							<li>•	Пол; </li>
							<li>•	Номер контактного телефона; </li>
							<li>•	Адрес электронной почты;</li>
							<li>•	Сведения о трудовой деятельности.</li>
						</ul>
					</li>
					<li>3.3.	Компания не имеет права получать и обрабатывать Персональные данные Пользователя о его расовой, национальной принадлежности, политических взглядах, религиозных и философских убеждениях, состоянии здоровья, интимной жизни. В случаях, непосредственно связанных с вопросами трудовых отношений, в соответствии со ст. 24 Конституции РФ Компания вправе получать и обрабатывать данные о частной жизни Пользователя только с его письменного согласия.</li>
					<li>3.4.	При регистрации на Платформе презюмируется, что Пользователь предоставляет Компании достоверные сведения о себе. Компания не обязана проверять достоверность предоставленных сведений.</li>
					<li>3.5.	Защита Персональных данных Пользователя от неправомерного их использования, утраты обеспечивается Компанией за счет его средств в порядке, установленном федеральным законом.</li>
				</ul>
				<h2>4.	Передача Персональных данных</h2>
				<li>4.1.	При передаче Персональных данных ПользователяКомпания должен соблюдать следующие требования:
					<ul>
						<li>4.1.1.	Не сообщать Персональные данные Пользователя третьей стороне без письменного согласия Пользователя, за исключением случаев, когда это необходимо в целях предупреждения угрозы жизни и здоровью Пользователя, а также в случаях, установленных федеральным законом.</li>
						<li>4.1.2.	Не сообщать Персональные данные Пользователя в коммерческих целях без его письменного согласия. </li>
						<li>4.1.3.	Предупредить лиц, получивших Персональные данные Пользователя, о том, что эти данные могут быть использованы лишь в целях, для которых они сообщены, и требовать от этих лиц подтверждение того, что это правило соблюдено. Лица, получившие Персональные данные Пользователя, обязаны соблюдать режим секретности (конфиденциальности). Данное Положение не распространяется на обмен персональными данными Пользователя в порядке, установленном федеральными законами.</li>
						<li>4.1.4.	Осуществлять передачу Персональных данных Пользователя в пределах Компании в соответствии с настоящим Положением.</li>
						<li>4.1.5.	Разрешать доступ к Персональным данным Пользователя только специально уполномоченным лицам, при этом указанные лица должны иметь право получать только те Персональные данные, которые необходимы для выполнения конкретной функции.</li>
					</ul>
				</li>
				<li>4.2.	Персональные данные Пользователя могут быть получены, проходить дальнейшую обработку и передаваться на хранение как на бумажных носителях, так и в электронном виде (посредством локальной компьютерной сети).</li>
				<h2>5.	Заключительные положения</h2>
				<ul>
					<li>5.1.	Иные права и обязанности Компании, как оператора персональных данных, определяются законодательством Российской Федерации в области персональных данных.</li>
					<li>5.2.	Должностные лица Компании, виновные в нарушении норм, регулирующих обработку и защиту персональных данных, несут материальную, дисциплинарную, административную, гражданско-правовую или уголовную ответственность в порядке, установленном федеральными законами. </li>
				</ul>
			</div>
		</div>
	</div>

    {% include 'landing/footer.html' %}

</body>
</html>