<html>
<head>

</head>
<body>
<h3>Заявка на работу</h3>
<table style="border: none">

    <tr>
        <th>Лендинг:&nbsp;</th>
        <td>{{ landing.name }}</td>
    </tr>
    <tr>
        <th>Имя:&nbsp;</th>
        <td>{{ first_name }}</td>
    </tr>
    <tr>
        <th>Фамилия:&nbsp;</th>
        <td>{{ last_name }}</td>
    </tr>
    <tr>
        <th>Email:&nbsp;</th>
        <td>{{ email}}</td>
    </tr>
    <tr>
        <th>Телефон:&nbsp;</th>
        <td>{{ phone }}</td>
    </tr>

</table>
</body>
</html>