<html>
<head>
    <meta charset="utf-8"/>
</head>
<body>
    <p>{{ instance.name }}</p>
    <p>{{ instance.phone }}</p>
    <p>{{ instance.email }}</p>
    <p>{{ instance.country }}</p>
</body>
</html>