{% load i18n %}
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <p>
        {% trans "You can send your CV via the form on the website. To do this, click on the" %} <a href="{{ url }}">{% trans 'link' %}</a>
    </p>
</body>
</html>